img {
    max-width: 100%;
    height: auto;
}
.c-contact__privacy__list {
    font-size: 0.875rem;
}
.c-contact__action {
    list-style-type: none !important;
}
.c-contact__action li:not(:empty):nth-child(1) {
    margin-right: 12px;
    margin-bottom: 0;
}
.c-contact__action input[type="submit"] {
    width: 340px;
    font-weight: bold;
}
.c-steps__col .c-steps__col__label {
    margin-left: -5em !important;
}
.c-form__select select {
    background: #FAFCD7 url(../assets/images/common/icon-arrow-down-gray.svg) no-repeat center right 1em;

}
.wp-embedded-content {
    width: 100% !important;
    clip: auto !important;
    position: static !important;
    border: none !important;
}
.wp-embedded-content > a {
    display: none;
}
.wp-block-embed {
    background: #fff;
    padding: 30px 30px 0;
    border: solid 1px #C7C7C7;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#toc_container {
    width: 100% !important;
    background: #fff;
    padding: 30px;
    margin: 0 auto 40px;
}
.toc_list > li {
    counter-increment: decimal-1;
    position: relative;
    margin-bottom: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 1em !important;
    margin-left: 2em !important;
}
.toc_list > li:before {
    content: counter(decimal-1, decimal-leading-zero) "";
    position: absolute;
    left: -20px;
    top: 3px;
    display: inline-block;
    font-size: 0.875rem;
    color: #7B7B6C;
    background-color: transparent !important;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: normal;
    font-family: "EB Garamond", serif;
}
.c-contact__action li:before {
    background-color: transparent !important;
}
.toc_list > li:after {
    position: absolute;
    content: "";
    top: 5px;
    left: 2px;
    bottom: auto;
    height: 14px;
    width: 1px;
    background-color: #C7C7C7;
}
.toc_list > li > a > span {
    display: none;
}
#toc_container ul ul {
    margin-left: 1.6em;
    margin-top: 10px;
}
#toc_container ul ul li {
    position: relative;
    margin-bottom: 8px;
    line-height: 1.125rem;
}
#toc_container ul ul li:before {
    position: absolute;
    top: 8px;
    left: -1.4em;
    width: 8px;
    height: 2px;
    background-color: #7B7B6C;
    content: '';
}
.blog figure {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#toc_container p.toc_title {
    display: flex;
    justify-content: space-between;
    font-family: "EB Garamond", serif;
    line-height: 2.25rem;
    font-size: 1.5rem;
    font-weight: normal;
}
#toc_container span.toc_toggle {
    padding-right: 16px;
    font-size: 0.625rem;
    line-height: 0.9375rem;
    color: #7B7B6C;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    background: url(../assets/images/common/icon-close-gray.svg) right top 3px/8px 8px no-repeat;
}

.section-recipe--selection-thumb {
    position: relative;
}
.section-recipe--selection-thumb > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.c-contact__note {
    text-align: center;
    margin: auto !important;
}
.p-restaurant--item-infor table th, .p-restaurant .rest-detail--table table th {
    width: 80px;
}
.recipe-mv--des > * {
    font-weight: bold !important;
}
.checkbox + label {
    display: flex;
}
.checkbox + label.form-label-remember {
    display: inline-block;
}
#wprm-print-servings-container {
    padding: 14px 16px;
    color: #7B7B6C;
    background-color: #FAFCD7;
    border: 1px solid #C7C7C7;
    border-radius: 2px;
    font-size: 0.75rem;
    transition: all .3s;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: bold;
}
#wprm-print-servings-container > input[type="number"] {
    border: none;
    color: #7B7B6C;
    background-color: #FAFCD7;
    text-align: center;
    font-weight: bold;
    -moz-appearance: textfield;
    width: 16px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.wprm-print-servings-change {
    font-size: 1.2em;
    cursor: pointer;
}
#edituser .iump-form-upload_image, #edituser .form-user--guide{
    display: none;
}

.recipe-inforTable--cnt table td {
    display: flex;
    justify-content: flex-end;
}
.recipe-inforTable--cnt table td .wprm-recipe-ingredient-amount {
    order: 2;
    padding-left: 4px;
}
.ranking-item--thumb > img {
    width: 100%;
}
.pickupList-thumb {
    height: 158px;
    overflow: hidden;
}
.pickupList-thumb > img {
    height: 100%;
    object-fit: cover;
}
.section-recipe--pickup .tag:hover, .recipe-inforMV .tag:hover {
    opacity: 1;
}


.adssize{
    width:300px;
    height:250px;
}

.section-news--advers .adssize {
    margin-right: 8px;
}
.section-news--advers .adssize:last-child {
    margin-right: 0;
}
.recipe-ranking .restrict-box, .pickup-suggest .restrict-box {
    height: 20px;
}

@media screen and (max-width: 1050px) {
    .section-news--advers {
	margin-top: 20px;
    }
    .section-news--advers .adssize {
	margin-right: 0;
    }
}


@media screen and (max-width: 1050px) {
    .c-contact__privacy__list {
        font-size: 0.75rem;
    }
}