@charset "UTF-8";

.ihc-login-template-11{
	font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.ihc-login-template-11 .checkbox + label:before{
	top: 0;
}
.ihc-login-template-11 .checkbox:checked + label:after{
	top: 13px;
}

.form-user .btn-gray{
	color: #fff;
}
.form-user .form-user--ttl:after{
	display: none;
}

@media screen and (max-width: 768px) {
    .c-form__checkbox label > input:checked + span::after{
    	top: 9px;
    }
    .c-contact__action > li{
    	padding: 0!important;
    	margin: 0 0 15px 0!important;
    	text-align: center;
    }
    .c-contact__action input[type="submit"]{
    	max-width: 100%;
    }
    .c-contact__note{
    	text-align: left;
    }
}

@media screen and (max-width: 400px) {
    .header-loginInfor--name {
        margin-right: 0;
    }
    .c-form__checkbox label > span{
    	font-size: 12px;
    }
}
