.custom-embeb {
    display: flex;
    flex-direction: row;
    border: solid 1px #C7C7C7;
    background: #fff;
    padding: 30px 30px 0;    
}
.blog-item.type2 .blog-item--thumb {
    width: 320px;
    margin-right: 30px; }
.blog-item.type2 .blog-item--infor {
    width: calc(100% - 210px); }
img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 600px) {
    .blog-item.type2 .blog-item--thumb a img {
        max-width: 100%;
        height: auto;
    }
    .blog-item.type2 .blog-item--infor {
        width: 100%; 
    } 
    .custom-embeb {
        flex-direction: column;
    }
}
.blog-item.type2 h3 {
    margin-top: 0;
    margin-bottom: 0;
    color: #000; }
.blog-item.type2 h3 a {
    color: inherit; }
.blog-item.type2 p {
    margin-bottom: 0;
    font-size: 0.875rem;
}
.blog-item.type2 .blog-item--infor a {
    text-decoration: none;
}
.wp-embed-more {
    color: #7B7B6C;
}