@charset "UTF-8";
/* -------------------
  VARIABLES
--------------------*/

// Text color
$color-text-base: #000000;
$color-A: #ffeb1b;

// Font Family
$font-base: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$font-a: 'EB Garamond', serif;
$font-b: Arial, "Helvetica Neue", Helvetica, sans-serif;
