input[type=number].wprm-recipe-servings {
	display: inline;
	width: 60px;
	margin: 0;
	padding: 5px;
}

// Tooltip.
.wprm-recipe-servings-container .tippy-box {
    padding: 5px 10px;
}

// Source: http://danielstern.ca/range.css/
  input[type=range].wprm-recipe-servings-slider {
	-webkit-appearance: none;
	width: 100%;
	min-width: 150px;
	margin: 0;
	background: none;
	border: 0;
  }
  input[type=range].wprm-recipe-servings-slider:focus {
	outline: none;
  }
  input[type=range].wprm-recipe-servings-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 9.2px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
	background: #aaaaaa;
	border-radius: 1.3px;
	border: 0.5px solid #010101;
  }
  input[type=range].wprm-recipe-servings-slider::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0.7px solid #000000;
	height: 22px;
	width: 10px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.9px;
  }
  input[type=range].wprm-recipe-servings-slider:focus::-webkit-slider-runnable-track {
	background: #bcbcbc;
  }
  input[type=range].wprm-recipe-servings-slider::-moz-range-track {
	width: 100%;
	height: 9.2px;
	cursor: pointer;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
	background: #aaaaaa;
	border-radius: 1.3px;
	border: 0.5px solid #010101;
  }
  input[type=range].wprm-recipe-servings-slider::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0.7px solid #000000;
	height: 22px;
	width: 10px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
  }
  input[type=range].wprm-recipe-servings-slider::-ms-track {
	width: 100%;
	height: 9.2px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
  }
  input[type=range].wprm-recipe-servings-slider::-ms-fill-lower {
	background: #989898;
	border: 0.5px solid #010101;
	border-radius: 2.6px;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
  }
  input[type=range].wprm-recipe-servings-slider::-ms-fill-upper {
	background: #aaaaaa;
	border: 0.5px solid #010101;
	border-radius: 2.6px;
	box-shadow: 0.5px 0.5px 1px #000000, 0px 0px 0.5px #0d0d0d;
  }
  input[type=range].wprm-recipe-servings-slider::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 0.7px solid #000000;
	height: 22px;
	width: 10px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	height: 9.2px;
  }
  input[type=range].wprm-recipe-servings-slider:focus::-ms-fill-lower {
	background: #aaaaaa;
  }
  input[type=range].wprm-recipe-servings-slider:focus::-ms-fill-upper {
	background: #bcbcbc;
  }  