@font-face {
  font-family: 'iGlyphicons';
  src: url("../../assets/fonts/glyphicons-regular.eot");
  src: url("../../assets/fonts/glyphicons-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/glyphicons-regular.woff") format("woff"), url("../../assets/fonts/glyphicons-regular.ttf") format("truetype"), url("../../assets/fonts/glyphicons-regular.svg#glyphicons_halflingsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome-ihc';
  src: url("../../assets/fonts/fontawesome-webfont.eot?v=3.2.1");
  src: url("../../assets/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../../assets/fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../../assets/fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../../assets/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ifontello';
  src: url('../../assets/fonts/fontello.eot?99886049');
  src: url('../../assets/fonts/fontello.eot?99886049#iefix') format('embedded-opentype'),
       url('../../assets/fonts/fontello.woff?99886049') format('woff'),
       url('../../assets/fonts/fontello.ttf?99886049') format('truetype'),
       url('../../assets/fonts/fontello.svg?99886049#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ihc-wrapp-list-users  [class^="icont-"],
.ihc-wrapp-list-users  [class*=" icont-"] {
  font-family: FontAwesome-ihc !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  *margin-right: .3em !important;
}
.ihc-wrapp-list-users  [class^="icont-"]:before,
.ihc-wrapp-list-users  [class*=" icont-"]:before {
  text-decoration: inherit !important;
  display: inline-block !important;
  speak: none !important;
}
.ihc-wrapp-list-users  [class^="glyphicont-"],
.ihc-wrapp-list-users  [class*=" glyphicont-"] {
  font-family: 'iGlyphicons' !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  /* sprites.less reset */
  display: inline !important;
  width: auto;
  height: auto;
  line-height: 15px;
  vertical-align: middle;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
.ihc-wrapp-list-users  [class^="glyphicont-"]:before,
.ihc-wrapp-list-users  [class*=" glyphicont-"]:before {
  text-decoration: inherit !important;
  display: inline-block !important;
  speak: none !important;
}
.ihc-theme_4 .glyphicont-globe:before {
content: "\e341";
}
.ihc-theme_4 .glyphicont-envelope:before {
content: "\2709";
}
.ihc-theme_4 .icont-phone:before {
content: "\f095";
}
.ihc-theme_4 .ihc-wrapp-list-users  ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.ihc-theme_4 .ihc-wrapp-list-users  ul li{
box-sizing: border-box;
color: rgb(136, 136, 136);
display: inline-block;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 300;
line-height: 21px;
min-height: 1px;
min-width: 250px;
padding:5px 18px;
position: relative;
width: 450px;
vertical-align: top;
text-align:left;
}
/* IMAGE */
.ihc-theme_4 .member-img{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.2s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-in-out;
border-bottom-color: rgb(136, 136, 136);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(136, 136, 136);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(136, 136, 136);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(136, 136, 136);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(136, 136, 136);
display: block;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 300;
line-height: 21px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 10px;
position: relative;
transition-delay: 0s;
transition-duration: 0.2s;
transition-property: all;
transition-timing-function: ease-in-out;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
width: 135px;
margin-right: 12px;
margin-left:10px;
float:left;
box-sizing:border-box;
z-index: 999;
position: relative;
}
.ihc-theme_4 .member-img img{
border-bottom-color: rgb(136, 136, 136);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(136, 136, 136);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(136, 136, 136);
border-right-style: none;
border-right-width: 2px;
border-top-color: rgb(136, 136, 136);
border-top-style: none;
border-top-width: 0px;
display: block;
max-width: 100%;
width: 100%;
margin:0 auto;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
border: 1px solid #fff;
}
.ihc-theme_4 .member-img:hover img{
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter: gray;
-webkit-filter: grayscale(50%) brightness(100%) contrast(110%);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
border-radius:15%;
}
.ihc-theme_4 .member-content {
position:relative;
padding-left: 140px;
padding-top:20px;
}
.ihc-theme_4 .member-name{
margin-top: 0;
font-size: 12px;
text-transform: uppercase;
margin-bottom: 4px;
display:inline-block;
margin-right: 10px;
font-weight: bold;
color: #333;
}
.ihc-theme_4 .member-username {
font-size: 13px;
color: #ccc;
display:inline-block;
}
.ihc-theme_4 .member-desc{
font-size: 85%;
margin: 8px 0;
margin-bottom:5px;
}
.ihc-theme_4 .member-email{
overflow:hidden;
word-wrap: break-word;
margin-top: 6px;
border-top: 1px solid #eee;
padding-top: 4px;
font-family: 'Open Sans', sans-serif;
font-size: 10px;
line-height: 21px;
font-weight: 600;
color:#333;	
}

.ihc-theme_4 .member-extra-fields{
font-size:10px;
}
.ihc-theme_4 .member-location{
	font-size:10px;
	font-style:italic;
}

.ihc-theme_4 .member-social {
width: auto;
margin: 0;
margin:0 1px;
z-index:9995;
transition: 0.6s;
-webkit-transition: 0.6s;
-moz-transition: 0.6s;
-o-transition: 0.6s;
-ms-transition: 0.6s;
}
.ihc-theme_4 .member-social a {
margin-left: 1px;
margin-right: 1px;
text-decoration: none;
}
.ihc-theme_4 .member-social a i {
color: #fff;
width: 25px;
height: 25px;
line-height: 25px;
text-align: center;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
display: inline-block;
background-color: #d2d2d2;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
font-size: 1.3em;
}
.ihc-theme_4 .member-social a i {
background-color: transparent;
color: #aaa;
border-radius:25%;
}
.ihc-theme_4 .member-social a:hover i {
	color:#FFF;
	border-radius:25%;
	background-color: #00afd1;
}
.ihc-theme_4 .member-social [class^="icont-"]:before, .ihc-theme_4 .member-social [class*=" icont-"]:before {
font-family: "ifontello";
font-style: normal;
font-weight: normal;
speak: none;
display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
font-variant: normal;
text-transform: none;
line-height: 1em;
margin-left: .2em;
font-size: 14px;
}
.ihc-theme_4 .member-social .icont-facebook:before {
content: '\ea8a';
border-radius:25%;
}
.ihc-theme_4 .member-social .icont-twitter-2:before {
content: '\ec7b';
border-radius:25%;
}
.ihc-theme_4 .member-social .icont-linkedin:before {
content: '\ea92';
border-radius:25%;
}
.ihc-theme_4 .member-social .icont-gplus:before {
content: '\ec69';
border-radius:25%;
}
.ihc-theme_4 .member-social .icont-instagramm:before {
content: '\ec6b';
border-radius:25%;
}
.ihc-theme_4 .member-social a.Vk:hover i {
	background-color: #45668e;
}
.ihc-theme_4 .member-social a.Tumblr:hover i {
	background-color: #32506d;
}