@font-face {
  font-family: 'iGlyphicons';
  src: url("../../assets/fonts/glyphicons-regular.eot");
  src: url("../../assets/fonts/glyphicons-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/glyphicons-regular.woff") format("woff"), url("../../assets/fonts/glyphicons-regular.ttf") format("truetype"), url("../../assets/fonts/glyphicons-regular.svg#glyphicons_halflingsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome-ihc';
  src: url("../../assets/fonts/fontawesome-webfont.eot?v=3.2.1");
  src: url("../../assets/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../../assets/fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../../assets/fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../../assets/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ifontello';
  src: url('../../assets/fonts/fontello.eot?99886049');
  src: url('../../assets/fonts/fontello.eot?99886049#iefix') format('embedded-opentype'),
       url('../../assets/fonts/fontello.woff?99886049') format('woff'),
       url('../../assets/fonts/fontello.ttf?99886049') format('truetype'),
       url('../../assets/fonts/fontello.svg?99886049#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ihc-wrapp-list-users  [class^="icont-"],
.ihc-wrapp-list-users  [class*=" icont-"] {
  font-family: FontAwesome-ihc !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  *margin-right: .3em !important;
}
.ihc-wrapp-list-users  [class^="icont-"]:before,
.ihc-wrapp-list-users  [class*=" icont-"]:before {
  text-decoration: inherit !important;
  display: inline-block !important;
  speak: none !important;
}
.ihc-wrapp-list-users  [class^="glyphicont-"],
.ihc-wrapp-list-users  [class*=" glyphicont-"] {
  font-family: 'iGlyphicons' !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  /* sprites.less reset */
  display: inline !important;
  width: auto;
  height: auto;
  line-height: 15px;
  vertical-align: middle;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
.ihc-wrapp-list-users  [class^="glyphicont-"]:before,
.ihc-wrapp-list-users  [class*=" glyphicont-"]:before {
  text-decoration: inherit !important;
  display: inline-block !important;
  speak: none !important;
}
.ihc-theme_7 .glyphicont-globe:before {
content: "\e341";
}
.ihc-theme_7 .glyphicont-envelope:before {
content: "\2709";
}
.ihc-theme_7 .icont-phone:before {
content: "\f095";
}
.ihc-theme_7 .ihc-wrapp-list-users  ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.ihc-theme_7 .ihc-wrapp-list-users  ul li{
box-sizing: border-box;
color: rgb(136, 136, 136);
display: inline-block;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 300;
line-height: 21px;
min-height: 1px;
padding:5px 10px;
padding-bottom:15px;
position: relative;
width: 292px;
vertical-align: top;
text-align:left;
}
/* IMAGE */
.ihc-theme_7 .member-img{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.2s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-in-out;
border-bottom-color: rgb(136, 136, 136);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(136, 136, 136);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(136, 136, 136);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(136, 136, 136);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(136, 136, 136);
display: block;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 300;
height: auto;
line-height: 21px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
transition-delay: 0s;
transition-duration: 0.2s;
transition-property: all;
transition-timing-function: ease-in-out;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
width: 100%;
overflow:hidden;
margin-bottom: 10px;
}
.ihc-theme_7 .member-img img{
border-bottom-color: rgb(136, 136, 136);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(136, 136, 136);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(136, 136, 136);
border-right-style: none;
border-right-width: 2px;
border-top-color: rgb(136, 136, 136);
border-top-style: none;
border-top-width: 0px;
display: block;
max-width: 100%;
width: 100%;
margin:0 auto;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
border: 1px solid #fff;
-webkit-filter: grayscale(0%);
}
.ihc-theme_7 .ihc-wrapp-list-users  ul li:hover .member-img img{
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter:  sepia(50%);
-webkit-filter: sepia(50%);
-moz-transform: scale(1.03);
-webkit-transform: scale(1.03);
-o-transform: scale(1.03);
-ms-transform: scale(1.03);
transform: scale(1.03);
}
.ihc-theme_7 .member-content {
padding: 25px 20px;
border: 1px solid #e0e0e0;
background-color: #fcfcfc;
-webkit-transition: all .3s ease-in;
transition: all .3s ease-in;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.ihc-theme_7 .ihc-wrapp-list-users  ul li:hover .member-content{
	background-color: #00afd1;
}
.ihc-theme_7 .ihc-wrapp-list-users  ul li:hover .show-details{
	display:block;
    background-color: #fff;
}
.ihc-theme_7 .show-details{
	display:none;
transition: 0.6s;
-webkit-transition: 0.2s;
-moz-transition: 0.2s;
-o-transition: 0.2s;
-ms-transition: 0.2s;
}
.ihc-theme_7 .ihc-wrapp-list-users  ul li:hover .member-name{
	color: #fff;
}
.ihc-theme_7 .ihc-wrapp-list-users  ul li:hover .member-username{
	color: #fff;
}
.ihc-theme_7 .member-name{
margin-bottom: 3px;
text-transform: uppercase;
font-size: 24px;
font-family: 'Roboto Condensed', sans-serif;
color: #5b5e60;
line-height: 1.3em;
font-weight: normal;
-webkit-transition: color .3s ease-in;
transition: color .3s ease-in;
}
.ihc-theme_7 .member-username {
margin-bottom: 5px;
color: #aeaeae;
font-size: 16px;
font-family: "Roboto";
line-height: 1.3em;
font-weight: normal;
-webkit-transition: color .3s ease-in;
transition: color .3s ease-in;
}
.ihc-theme_7 .member-desc:before {
content: "\00A0";
width: 40px;
height: 3px;
margin: 0 auto 15px;
display: block;
background-color: #00afd1;
zoom: 1;
filter: alpha(opacity=50);
opacity: 0.5;
}
.ihc-theme_7 .member-desc{
font-size: 85%;
margin: 15px 5px;
margin-bottom:5px;
}
.ihc-theme_7 .member-email, .ihc-theme_7 .member-extra-fields{
	color:#333;
	font-size:11px;
	padding-left:20px;
}
.ihc-theme_7 .member-email{
padding-bottom: 5px;
padding-right: 0px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 21px;
font-weight: 600;
color:#333;
}
.ihc-theme_7 .member-email:before {
content: "\00A0";
width: 40px;
height: 3px;
margin: 0 auto 15px;
display: block;
background-color: #00afd1;
zoom: 1;
filter: alpha(opacity=50);
opacity: 0.5;
}
.ihc-theme_7 .member-email a, .ihc-theme_7 .member-web a, .ihc-theme_7 .member-phone a{
	color:#00afd1;
}
.ihc-theme_7 .member-location{
	font-size:10px;
	color:#333;
	font-style:italic;
	padding-left:20px;
}

.ihc-theme_7 .member-social {
text-align: center;
width: auto;
margin: 0;
padding-top:13px;
padding-bottom:13px;
margin:0 1px;
z-index:9995;
transition: 0.6s;
-webkit-transition: 0.6s;
-moz-transition: 0.6s;
-o-transition: 0.6s;
-ms-transition: 0.6s;
}
.ihc-theme_7 .member-social a {
margin-left: 2px;
margin-right: 2px;
text-decoration: none;
}
.ihc-theme_7 .member-social a i {
color: #fff;
width: 28px;
height: 28px;
line-height: 28px;
text-align: center;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
display: inline-block;
background-color: #d2d2d2;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
font-size: 1.3em;
float:none;
}
.ihc-theme_7 .member-social a i {
background-color: transparent;
color: #aaa;
	width: 40px;
	height: 40px;
	border: 1px solid #cfcfcf;
	border: 1px solid rgba(207,207,207,.33);
	line-height: 40px;
}
.ihc-theme_7 .member-social a:hover i {
	color:#FFF;
}
.ihc-theme_7 .member-social [class^="icont-"]:before, .ihc-theme_7 .member-social [class*=" icont-"]:before {
font-family: "ifontello";
font-style: normal;
font-weight: normal;
speak: none;
display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
font-variant: normal;
text-transform: none;
line-height: 1em;
margin-left: .2em;
font-size: 14px;
}
.ihc-theme_7 .member-social .icont-facebook:before {
content: '\ea8a';
}
.ihc-theme_7 .member-social .icont-twitter-2:before {
content: '\ec7b';
}
.ihc-theme_7 .member-social .icont-linkedin:before {
content: '\ea92';
}
.ihc-theme_7 .member-social .icont-gplus:before {
content: '\ec69';
}
.ihc-theme_7 .member-social .icont-instagramm:before {
content: '\ec6b';
}
.ihc-theme_7 .member-social a.facebook:hover i {
	background-color: #507CBE;
}
.ihc-theme_7 .member-social a.twitter:hover i {
	background-color: #63CDF1;
}
.ihc-theme_7 .member-social a.gplus:hover i {
	background-color: #F16261;
}
.ihc-theme_7 .member-social a.dribbble:hover i {
	background-color: #E46387;
}
.ihc-theme_7 .member-social a.linkedin:hover i {
	background-color: #90CADD;
}
.ihc-theme_7 .member-social a.flickr:hover i {
	background-color: #E474AF;
}
.ihc-theme_7 .member-social a.instagramm:hover i {
	background-color: #4D4F54;
}
.ihc-theme_7 .member-social a.Vk:hover i {
	background-color: #45668e;
}
.ihc-theme_7 .member-social a.Tumblr:hover i {
	background-color: #32506d;
}