.ihc-user-list-label{
	float:left;
}
.ihc-user-list-label-result{
	float:right;
	font-weight:bold;
}

/* #0a9fd8 */
/* .ihc-theme_1 */
.style_0a9fd8 .ihc-theme_1 .member-name span {
background-color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}
/* .ihc-theme_2 */
.style_0a9fd8 .ihc-theme_2 .member-name span {
background-color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}
/* .ihc-theme_3 */
.style_0a9fd8 .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}
/* .ihc-theme_4 */
.style_0a9fd8 .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_4 .member-social a:hover i{
background-color: #0a9fd8;
}
/* .ihc-theme_5 */
.style_0a9fd8 .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_5 .member-username{
background-color: #0a9fd8;
}
/* .ihc-theme_6 */

.style_0a9fd8 .ihc-theme_6 .member-username{
color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_6 .member-username:after {
background-color: #0a9fd8;
}	
.style_0a9fd8 .ihc-theme_6 .member-email a, .style_0a9fd8 .ihc-theme_6 .member-web a, .style_0a9fd8 .ihc-theme_6 .member-phone a{
	color: #0a9fd8;
}
/* .ihc-theme_7 */
.style_0a9fd8 .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_7 .member-email:before {
background-color: #0a9fd8;
}	
.style_0a9fd8 .ihc-theme_7 .member-email a, .style_0a9fd8 .ihc-theme_7 .member-web a, .style_0a9fd8 .ihc-theme_7 .member-phone a{
color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_7 ul li:hover .member-content{
background-color: #0a9fd8;
}
/* .ihc-theme_8 */
.style_0a9fd8 .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_8 .member-email:before {
background-color: #0a9fd8;
}	
.style_0a9fd8 .ihc-theme_8 .member-email a, .style_0a9fd8 .ihc-theme_8 .member-web a, .style_0a9fd8 .ihc-theme_8 .member-phone a{
color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_8 .member-email, .style_0a9fd8 .ihc-theme_8 .member-web, .style_0a9fd8 .ihc-theme_8 .member-phone{
color: #0a9fd8;
}
/* .ihc-theme_9 */
.style_0a9fd8 .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}	
.style_0a9fd8 .ihc-theme_9 .member-email, .style_0a9fd8 .ihc-theme_9 .member-web a, .style_0a9fd8 .ihc-theme_9 .member-phone a{
color: #0a9fd8;
}
/* .ihc-theme_10 */
.style_0a9fd8 .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #0a9fd8;
}	
.style_0a9fd8 .ihc-theme_10 .member-email a, .style_0a9fd8 .ihc-theme_10 .member-web a, .style_0a9fd8 .ihc-theme_10 .member-phone a{
color: #0a9fd8;
}
.style_0a9fd8 .ihc-theme_10 .member-name span {
background-color: #0a9fd8;
}	
/* #0bb586 */
/* .ihc-theme_1 */
.style_0bb586 .ihc-theme_1 .member-name span {
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
/* .ihc-theme_2 */
.style_0bb586 .ihc-theme_2 .member-name span {
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
/* .ihc-theme_3 */
.style_0bb586 .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
/* .ihc-theme_4 */
.style_0bb586 .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_4 .member-social a:hover i{
background-color: #0bb586;
}
/* .ihc-theme_5 */
.style_0bb586 .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_5 .member-username{
background-color: #0bb586;
}
/* .ihc-theme_6 */
.style_0bb586 .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_6 .member-username{
color: #0bb586;
}
.style_0bb586 .ihc-theme_6 .member-username:after {
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_6 .member-email a, .style_0bb586 .ihc-theme_6 .member-web a, .style_0bb586 .ihc-theme_6 .member-phone a{
	color: #0bb586;
}
/* .ihc-theme_7 */
.style_0bb586 .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_7 .member-email:before {
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_7 .member-email a, .style_0bb586 .ihc-theme_7 .member-web a, .style_0bb586 .ihc-theme_7 .member-phone a{
color: #0bb586;
}
.style_0bb586 .ihc-theme_7 ul li:hover .member-content{
background-color: #0bb586;
}
/* .ihc-theme_8 */
.style_0bb586 .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_8 .member-email:before {
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_8 .member-email a, .style_0bb586 .ihc-theme_8 .member-web a, .style_0bb586 .ihc-theme_8 .member-phone a{
color: #0bb586;
}
.style_0bb586 .ihc-theme_8 .member-email, .style_0bb586 .ihc-theme_8 .member-web, .style_0bb586 .ihc-theme_8 .member-phone{
color: #0bb586;
}
/* .ihc-theme_9 */
.style_0bb586 .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_9 .member-email, .style_0bb586 .ihc-theme_9 .member-web a, .style_0bb586 .ihc-theme_9 .member-phone a{
color: #0bb586;
}
/* .ihc-theme_10 */
.style_0bb586 .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #0bb586;
}
.style_0bb586 .ihc-theme_10 .member-email a, .style_0bb586 .ihc-theme_10 .member-web a, .style_0bb586 .ihc-theme_10 .member-phone a{
color: #0bb586;
}
.style_0bb586 .ihc-theme_10 .member-name span {
background-color: #0bb586;
}	
/* #6a3da3 */
/* .ihc-theme_1 */
.style_6a3da3 .ihc-theme_1 .member-name span {
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
/* .ihc-theme_2 */
.style_6a3da3 .ihc-theme_2 .member-name span {
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
/* .ihc-theme_3 */
.style_6a3da3 .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
/* .ihc-theme_4 */
.style_6a3da3 .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_4 .member-social a:hover i{
background-color: #6a3da3;
}
/* .ihc-theme_5 */
.style_6a3da3 .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_5 .member-username{
background-color: #6a3da3;
}
/* .ihc-theme_6 */
.style_6a3da3 .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_6 .member-username{
color: #6a3da3;
}
.style_6a3da3 .ihc-theme_6 .member-username:after {
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_6 .member-email a, .style_6a3da3 .ihc-theme_6 .member-web a, .style_6a3da3 .ihc-theme_6 .member-phone a{
	color: #6a3da3;
}
/* .ihc-theme_7 */
.style_6a3da3 .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_7 .member-email:before {
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_7 .member-email a, .style_6a3da3 .ihc-theme_7 .member-web a, .style_6a3da3 .ihc-theme_7 .member-phone a{
color: #6a3da3;
}
.style_6a3da3 .ihc-theme_7 ul li:hover .member-content{
background-color: #6a3da3;
}
/* .ihc-theme_8 */
.style_6a3da3 .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_8 .member-email:before {
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_8 .member-email a, .style_6a3da3 .ihc-theme_8 .member-web a, .style_6a3da3 .ihc-theme_8 .member-phone a{
color: #6a3da3;
}
.style_6a3da3 .ihc-theme_8 .member-email, .style_6a3da3 .ihc-theme_8 .member-web, .style_6a3da3 .ihc-theme_8 .member-phone{
color: #6a3da3;
}
/* .ihc-theme_9 */
.style_6a3da3 .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_9 .member-email, .style_6a3da3 .ihc-theme_9 .member-web a, .style_6a3da3 .ihc-theme_9 .member-phone a{
color: #6a3da3;
}
/* .ihc-theme_10 */
.style_6a3da3 .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #6a3da3;
}
.style_6a3da3 .ihc-theme_10 .member-email a, .style_6a3da3 .ihc-theme_10 .member-web a, .style_6a3da3 .ihc-theme_10 .member-phone a{
color: #6a3da3;
}
.style_6a3da3 .ihc-theme_10 .member-name span {
background-color: #6a3da3;
}
/* #27bebe */
/* .ihc-theme_1 */
.style_27bebe .ihc-theme_1 .member-name span {
background-color: #27bebe;
}
.style_27bebe .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
/* .ihc-theme_2 */
.style_27bebe .ihc-theme_2 .member-name span {
background-color: #27bebe;
}
.style_27bebe .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
/* .ihc-theme_3 */
.style_27bebe .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
/* .ihc-theme_4 */
.style_27bebe .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
.style_27bebe .ihc-theme_4 .member-social a:hover i{
background-color: #27bebe;
}
/* .ihc-theme_5 */
.style_27bebe .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
.style_27bebe .ihc-theme_5 .member-username{
background-color: #27bebe;
}
/* .ihc-theme_6 */
.style_27bebe .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
.style_27bebe .ihc-theme_6 .member-username{
color: #27bebe;
}
.style_27bebe .ihc-theme_6 .member-username:after {
background-color: #27bebe;
}
.style_27bebe .ihc-theme_6 .member-email a, .style_27bebe .ihc-theme_6 .member-web a, .style_27bebe .ihc-theme_6 .member-phone a{
	color: #27bebe;
}
/* .ihc-theme_7 */
.style_27bebe .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
.style_27bebe .ihc-theme_7 .member-email:before {
background-color: #27bebe;
}
.style_27bebe .ihc-theme_7 .member-email a, .style_27bebe .ihc-theme_7 .member-web a, .style_27bebe .ihc-theme_7 .member-phone a{
color: #27bebe;
}
.style_27bebe .ihc-theme_7 ul li:hover .member-content{
background-color: #27bebe;
}
/* .ihc-theme_8 */
.style_27bebe .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
.style_27bebe .ihc-theme_8 .member-email:before {
background-color: #27bebe;
}
.style_27bebe .ihc-theme_8 .member-email a, .style_27bebe .ihc-theme_8 .member-web a, .style_27bebe .ihc-theme_8 .member-phone a{
color: #27bebe;
}
.style_27bebe .ihc-theme_8 .member-email, .style_27bebe .ihc-theme_8 .member-web, .style_27bebe .ihc-theme_8 .member-phone{
color: #27bebe;
}
/* .ihc-theme_9 */
.style_27bebe .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
.style_27bebe .ihc-theme_9 .member-email, .style_27bebe .ihc-theme_9 .member-web a, .style_27bebe .ihc-theme_9 .member-phone a{
color: #27bebe;
}
/* .ihc-theme_10 */
.style_27bebe .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #27bebe;
}
.style_27bebe .ihc-theme_10 .member-email a, .style_27bebe .ihc-theme_10 .member-web a, .style_27bebe .ihc-theme_10 .member-phone a{
color: #27bebe;
}
.style_27bebe .ihc-theme_10 .member-name span {
background-color: #27bebe;
}
/* #38cbcb */
/* .ihc-theme_1 */
.style_38cbcb .ihc-theme_1 .member-name span {
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
/* .ihc-theme_2 */
.style_38cbcb .ihc-theme_2 .member-name span {
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
/* .ihc-theme_3 */
.style_38cbcb .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
/* .ihc-theme_4 */
.style_38cbcb .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_4 .member-social a:hover i{
background-color: #38cbcb;
}
/* .ihc-theme_5 */
.style_38cbcb .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_5 .member-username{
background-color: #38cbcb;
}
/* .ihc-theme_6 */
.style_38cbcb .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_6 .member-username{
color: #38cbcb;
}
.style_38cbcb .ihc-theme_6 .member-username:after {
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_6 .member-email a, .style_38cbcb .ihc-theme_6 .member-web a, .style_38cbcb .ihc-theme_6 .member-phone a{
	color: #38cbcb;
}
/* .ihc-theme_7 */
.style_38cbcb .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_7 .member-email:before {
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_7 .member-email a, .style_38cbcb .ihc-theme_7 .member-web a, .style_38cbcb .ihc-theme_7 .member-phone a{
color: #38cbcb;
}
.style_38cbcb .ihc-theme_7 ul li:hover .member-content{
background-color: #38cbcb;
}
/* .ihc-theme_8 */
.style_38cbcb .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_8 .member-email:before {
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_8 .member-email a, .style_38cbcb .ihc-theme_8 .member-web a, .style_38cbcb .ihc-theme_8 .member-phone a{
color: #38cbcb;
}
.style_38cbcb .ihc-theme_8 .member-email, .style_38cbcb .ihc-theme_8 .member-web, .style_38cbcb .ihc-theme_8 .member-phone{
color: #38cbcb;
}
/* .ihc-theme_9 */
.style_38cbcb .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_9 .member-email, .style_38cbcb .ihc-theme_9 .member-web a, .style_38cbcb .ihc-theme_9 .member-phone a{
color: #38cbcb;
}
/* .ihc-theme_10 */
.style_38cbcb .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #38cbcb;
}
.style_38cbcb .ihc-theme_10 .member-email a, .style_38cbcb .ihc-theme_10 .member-web a, .style_38cbcb .ihc-theme_10 .member-phone a{
color: #38cbcb;
}
.style_38cbcb .ihc-theme_10 .member-name span {
background-color: #38cbcb;
}
/* #94c523 */
/* .ihc-theme_1 */
.style_94c523 .ihc-theme_1 .member-name span {
background-color: #94c523;
}
.style_94c523 .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
/* .ihc-theme_2 */
.style_94c523 .ihc-theme_2 .member-name span {
background-color: #94c523;
}
.style_94c523 .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
/* .ihc-theme_3 */
.style_94c523 .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
/* .ihc-theme_4 */
.style_94c523 .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
.style_94c523 .ihc-theme_4 .member-social a:hover i{
background-color: #94c523;
}
/* .ihc-theme_5 */
.style_94c523 .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
.style_94c523 .ihc-theme_5 .member-username{
background-color: #94c523;
}
/* .ihc-theme_6 */
.style_94c523 .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
.style_94c523 .ihc-theme_6 .member-username{
color: #94c523;
}
.style_94c523 .ihc-theme_6 .member-username:after {
background-color: #94c523;
}
.style_94c523 .ihc-theme_6 .member-email a, .style_94c523 .ihc-theme_6 .member-web a, .style_94c523 .ihc-theme_6 .member-phone a{
	color: #94c523;
}
/* .ihc-theme_7 */
.style_94c523 .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
.style_94c523 .ihc-theme_7 .member-email:before {
background-color: #94c523;
}
.style_94c523 .ihc-theme_7 .member-email a, .style_94c523 .ihc-theme_7 .member-web a, .style_94c523 .ihc-theme_7 .member-phone a{
color: #94c523;
}
.style_94c523 .ihc-theme_7 ul li:hover .member-content{
background-color: #94c523;
}
/* .ihc-theme_8 */
.style_94c523 .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
.style_94c523 .ihc-theme_8 .member-email:before {
background-color: #94c523;
}
.style_94c523 .ihc-theme_8 .member-email a, .style_94c523 .ihc-theme_8 .member-web a, .style_94c523 .ihc-theme_8 .member-phone a{
color: #94c523;
}
.style_94c523 .ihc-theme_8 .member-email, .style_94c523 .ihc-theme_8 .member-web, .style_94c523 .ihc-theme_8 .member-phone{
color: #94c523;
}
/* .ihc-theme_9 */
.style_94c523 .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
.style_94c523 .ihc-theme_9 .member-email, .style_94c523 .ihc-theme_9 .member-web a, .style_94c523 .ihc-theme_9 .member-phone a{
color: #94c523;
}
/* .ihc-theme_10 */
.style_94c523 .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #94c523;
}
.style_94c523 .ihc-theme_10 .member-email a, .style_94c523 .ihc-theme_10 .member-web a, .style_94c523 .ihc-theme_10 .member-phone a{
color: #94c523;
}
.style_94c523 .ihc-theme_10 .member-name span {
background-color: #94c523;
}
/* #ee3733 */
/* .ihc-theme_1 */
.style_ee3733 .ihc-theme_1 .member-name span {
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
/* .ihc-theme_2 */
.style_ee3733 .ihc-theme_2 .member-name span {
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
/* .ihc-theme_3 */
.style_ee3733 .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
/* .ihc-theme_4 */
.style_ee3733 .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_4 .member-social a:hover i{
background-color: #ee3733;
}
/* .ihc-theme_5 */
.style_ee3733 .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_5 .member-username{
background-color: #ee3733;
}
/* .ihc-theme_6 */
.style_ee3733 .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_6 .member-username{
color: #ee3733;
}
.style_ee3733 .ihc-theme_6 .member-username:after {
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_6 .member-email a, .style_ee3733 .ihc-theme_6 .member-web a, .style_ee3733 .ihc-theme_6 .member-phone a{
	color: #ee3733;
}
/* .ihc-theme_7 */
.style_ee3733 .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_7 .member-email:before {
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_7 .member-email a, .style_ee3733 .ihc-theme_7 .member-web a, .style_ee3733 .ihc-theme_7 .member-phone a{
color: #ee3733;
}
.style_ee3733 .ihc-theme_7 ul li:hover .member-content{
background-color: #ee3733;
}
/* .ihc-theme_8 */
.style_ee3733 .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_8 .member-email:before {
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_8 .member-email a, .style_ee3733 .ihc-theme_8 .member-web a, .style_ee3733 .ihc-theme_8 .member-phone a{
color: #ee3733;
}
.style_ee3733 .ihc-theme_8 .member-email, .style_ee3733 .ihc-theme_8 .member-web, .style_ee3733 .ihc-theme_8 .member-phone{
color: #ee3733;
}
/* .ihc-theme_9 */
.style_ee3733 .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_9 .member-email, .style_ee3733 .ihc-theme_9 .member-web a, .style_ee3733 .ihc-theme_9 .member-phone a{
color: #ee3733;
}
/* .ihc-theme_10 */
.style_ee3733 .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #ee3733;
}
.style_ee3733 .ihc-theme_10 .member-email a, .style_ee3733 .ihc-theme_10 .member-web a, .style_ee3733 .ihc-theme_10 .member-phone a{
color: #ee3733;
}
.style_ee3733 .ihc-theme_10 .member-name span {
background-color: #ee3733;
}
/* #f8ba01 */
/* .ihc-theme_1 */
.style_f8ba01 .ihc-theme_1 .member-name span {
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
/* .ihc-theme_2 */
.style_f8ba01 .ihc-theme_2 .member-name span {
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
/* .ihc-theme_3 */
.style_f8ba01 .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
/* .ihc-theme_4 */
.style_f8ba01 .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_4 .member-social a:hover i{
background-color: #f8ba01;
}
/* .ihc-theme_5 */
.style_f8ba01 .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_5 .member-username{
background-color: #f8ba01;
}
/* .ihc-theme_6 */
.style_f8ba01 .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_6 .member-username{
color: #f8ba01;
}
.style_f8ba01 .ihc-theme_6 .member-username:after {
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_6 .member-email a, .style_f8ba01 .ihc-theme_6 .member-web a, .style_f8ba01 .ihc-theme_6 .member-phone a{
	color: #f8ba01;
}
/* .ihc-theme_7 */
.style_f8ba01 .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_7 .member-email:before {
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_7 .member-email a, .style_f8ba01 .ihc-theme_7 .member-web a, .style_f8ba01 .ihc-theme_7 .member-phone a{
color: #f8ba01;
}
.style_f8ba01 .ihc-theme_7 ul li:hover .member-content{
background-color: #f8ba01;
}
/* .ihc-theme_8 */
.style_f8ba01 .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_8 .member-email:before {
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_8 .member-email a, .style_f8ba01 .ihc-theme_8 .member-web a, .style_f8ba01 .ihc-theme_8 .member-phone a{
color: #f8ba01;
}
.style_f8ba01 .ihc-theme_8 .member-email, .style_f8ba01 .ihc-theme_8 .member-web, .style_f8ba01 .ihc-theme_8 .member-phone{
color: #f8ba01;
}
/* .ihc-theme_9 */
.style_f8ba01 .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_9 .member-email, .style_f8ba01 .ihc-theme_9 .member-web a, .style_f8ba01 .ihc-theme_9 .member-phone a{
color: #f8ba01;
}
/* .ihc-theme_10 */
.style_f8ba01 .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #f8ba01;
}
.style_f8ba01 .ihc-theme_10 .member-email a, .style_f8ba01 .ihc-theme_10 .member-web a, .style_f8ba01 .ihc-theme_10 .member-phone a{
color: #f8ba01;
}
.style_f8ba01 .ihc-theme_10 .member-name span {
background-color: #f8ba01;
}
/* #f1505b */
/* .ihc-theme_1 */
.style_f1505b .ihc-theme_1 .member-name span {
background-color: #f1505b;
}
.style_f1505b .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
/* .ihc-theme_2 */
.style_f1505b .ihc-theme_2 .member-name span {
background-color: #f1505b;
}
.style_f1505b .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
/* .ihc-theme_3 */
.style_f1505b .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
/* .ihc-theme_4 */
.style_f1505b .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
.style_f1505b .ihc-theme_4 .member-social a:hover i{
background-color: #f1505b;
}
/* .ihc-theme_5 */
.style_f1505b .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
.style_f1505b .ihc-theme_5 .member-username{
background-color: #f1505b;
}
/* .ihc-theme_6 */
.style_f1505b .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
.style_f1505b .ihc-theme_6 .member-username{
color: #f1505b;
}
.style_f1505b .ihc-theme_6 .member-username:after {
background-color: #f1505b;
}
.style_f1505b .ihc-theme_6 .member-email a, .style_f1505b .ihc-theme_6 .member-web a, .style_f1505b .ihc-theme_6 .member-phone a{
	color: #f1505b;
}
/* .ihc-theme_7 */
.style_f1505b .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
.style_f1505b .ihc-theme_7 .member-email:before {
background-color: #f1505b;
}
.style_f1505b .ihc-theme_7 .member-email a, .style_f1505b .ihc-theme_7 .member-web a, .style_f1505b .ihc-theme_7 .member-phone a{
color: #f1505b;
}
.style_f1505b .ihc-theme_7 ul li:hover .member-content{
background-color: #f1505b !important;
}
/* .ihc-theme_8 */
.style_f1505b .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
.style_f1505b .ihc-theme_8 .member-email:before {
background-color: #f1505b;
}
.style_f1505b .ihc-theme_8 .member-email a, .style_f1505b .ihc-theme_8 .member-web a, .style_f1505b .ihc-theme_8 .member-phone a{
color: #f1505b;
}
.style_f1505b .ihc-theme_8 .member-email, .style_f1505b .ihc-theme_8 .member-web, .style_f1505b .ihc-theme_8 .member-phone{
color: #f1505b;
}
/* .ihc-theme_9 */
.style_f1505b .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
.style_f1505b .ihc-theme_9 .member-email, .style_f1505b .ihc-theme_9 .member-web a, .style_f1505b .ihc-theme_9 .member-phone a{
color: #f1505b;
}
/* .ihc-theme_10 */
.style_f1505b .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #f1505b;
}
.style_f1505b .ihc-theme_10 .member-email a, .style_f1505b .ihc-theme_10 .member-web a, .style_f1505b .ihc-theme_10 .member-phone a{
color: #f1505b;
}
.style_f1505b .ihc-theme_10 .member-name span {
background-color: #f1505b;
}
/* #f36510 */
/* .ihc-theme_1 */
.style_f36510 .ihc-theme_1 .member-name span {
background-color: #f36510;
}
.style_f36510 .ihc-theme_1 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
/* .ihc-theme_2 */
.style_f36510 .ihc-theme_2 .member-name span {
background-color: #f36510;
}
.style_f36510 .ihc-theme_2 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
/* .ihc-theme_3 */
.style_f36510 .ihc-theme_3 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
/* .ihc-theme_4 */
.style_f36510 .ihc-theme_4 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
.style_f36510 .ihc-theme_4 .member-social a:hover i{
background-color: #f36510;
}
/* .ihc-theme_5 */
.style_f36510 .ihc-theme_5 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
.style_f36510 .ihc-theme_5 .member-username{
background-color: #f36510;
}
/* .ihc-theme_6 */
.style_f36510 .ihc-theme_6 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
.style_f36510 .ihc-theme_6 .member-username{
color: #f36510;
}
.style_f36510 .ihc-theme_6 .member-username:after {
background-color: #f36510;
}
.style_f36510 .ihc-theme_6 .member-email a, .style_f36510 .ihc-theme_6 .member-web a, .style_f36510 .ihc-theme_6 .member-phone a{
	color: #f36510;
}
/* .ihc-theme_7 */
.style_f36510 .ihc-theme_7 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
.style_f36510 .ihc-theme_7 .member-email:before {
background-color: #f36510;
}
.style_f36510 .ihc-theme_7 .member-email a, .style_f36510 .ihc-theme_7 .member-web a, .style_f36510 .ihc-theme_7 .member-phone a{
color: #f36510;
}
.style_f36510 .ihc-theme_7 ul li:hover .member-content{
background-color: #f36510;
}
/* .ihc-theme_8 */
.style_f36510 .ihc-theme_8 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
.style_f36510 .ihc-theme_8 .member-email:before {
background-color: #f36510;
}
.style_f36510 .ihc-theme_8 .member-email a, .style_f36510 .ihc-theme_8 .member-web a, .style_f36510 .ihc-theme_8 .member-phone a{
color: #f36510;
}
.style_f36510 .ihc-theme_8 .member-email, .style_f36510 .ihc-theme_8 .member-web, .style_f36510 .ihc-theme_8 .member-phone{
color: #f36510;
}
/* .ihc-theme_9 */
.style_f36510 .ihc-theme_9 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
.style_f36510 .ihc-theme_9 .member-email, .style_f36510 .ihc-theme_9 .member-web a, .style_f36510 .ihc-theme_9 .member-phone a{
color: #f36510;
}
/* .ihc-theme_10 */
.style_f36510 .ihc-theme_10 .member-skills-wrapper .skill-prog .fill{
background-color: #f36510;
}
.style_f36510 .ihc-theme_10 .member-email a, .style_f36510 .ihc-theme_10 .member-web a, .style_f36510 .ihc-theme_10 .member-phone a{
color: #f36510;
}
.style_f36510 .ihc-theme_10 .member-name span {
background-color: #f36510;
}
