/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-ihc-theme .owl-ihc-controls{
	margin-top: 10px;
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-ihc-theme .owl-ihc-controls .owl-ihc-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-ihc-theme .owl-ihc-controls.clickable .owl-ihc-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}
/* Styling Pagination*/
.owl-ihc-theme .owl-ihc-controls .owl-ihc-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-ihc-theme .owl-ihc-controls .owl-ihc-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}
.owl-ihc-theme .owl-ihc-controls .owl-ihc-page.active span,
.owl-ihc-theme .owl-ihc-controls.clickable .owl-ihc-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}
/* If PaginationNumbers is true */
.owl-ihc-theme .owl-ihc-controls .owl-ihc-page span.owl-ihc-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
/* preloading images */
.owl-ihc-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}