@charset "utf-8";
/*
Theme Name:EVERY-child
Theme URI:
Description:WordPressテーマ「EVERY」（子テーマ)
Template:every_tcd075
Author:Design Plus
Author URI:http://design-plus1.com/tcd-w/
Version:2.0.1
Text Domain:tcd-w
*/

.wprm-recipe-ingredient {
    display: flex;
}
.wprm-recipe-ingredient-name {
    order: -2;
    padding-right: 5px;
}
.wprm-recipe-ingredient-unit {
    order: -1;
    margin-right: 5px;
}

#nk_all_recipe_link {
    text-align: right;
    margin: 0 0 10px;
}


#s_radio_ope label{
    display: inline-block;
}

#s_radio_ope {
    margin: 5px 0 0 0;
}

#header_search { 
    height:110px;
}

#sh_radio_ope {
    padding: 7px 7px 0;
    color: #fff;
}

#sh_radio_ope label,#header_search .search_input #sh_radio_ope input {
    display: inline-block;
    width: auto;
    height:auto;
}

#header_search .search_input #sh_radio_ope input[type=radio]{
    padding:0;
    margin: 0;
    -webkit-transform: scale(0.8,0.8);
}

.map-top-search {
    margin: 10px auto 20px;
    max-width: 400px;
}

#h_search {
    text-align: center;
    position: relative;
    display:none;
}

.h_search_w {
    width: 90%;
    margin: 0 auto 20px;
}
#h_search .search_button {
    top: 0px;
    right: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
}

#h_search .search_button label { text-indent:-200px; overflow:hidden; display:block; position:absolute; top:15px; right:11px; width:16px; height:16px; pointer-events:none; }
#h_search .search_button label:before {
  font-family:'design_plus'; content:'\e915'; color:#333; display:block; position:absolute; left:0px; top:0px; margin:auto; font-size:16px; height:16px; line-height:16px; text-indent:0;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}
#h_search .search_button:hover label:before { color:#ff7f00; }
#h_search .search_button input { border:none; width:40px; height:40px; background:none; text-indent:-300px; overflow:hidden; cursor:pointer; }


#h_search .search_input input {
    border: none;
    height: 40px;
    width: 100%;
    padding: 15px;
}
#sh_radio_ope2 {
    margin-top: 5px;
}
#sh_radio_ope2 label, #h_search .search_input #sh_radio_ope2 input {
    display: inline-block;
    width: auto;
    height: auto;
}
#h_search .search_input #sh_radio_ope2 input[type=radio]{
    padding:0;
    margin: 0;
    -webkit-transform: scale(0.8,0.8);
}


.nk-single-post_meta_wrap {
    text-align: right;
    padding: 0 30px 10px;
    background: #fff;
}

.nk_meta_recipe {
    line-height: 1.5;
    font-size: 15px;
    float: right;
    list-style: disc;
    margin-top: 5px;
}

#index_header_content{
    margin-bottom: 0!important;
}

.h_btns2_menu {
    display: none;
   background: #fff;
}

.h_btns_w {
    background: #f6f6f6;
    padding: 50px 0 50px;
}


#h_btns2_menu1:checked ~ .h_btns2_menu1.h_btns2_menu {
   display:block;
}
#h_btns2_menu2:checked ~ .h_btns2_menu2.h_btns2_menu {
   display:block; 
}

#h_btns2_menu1:checked ~ .h_btns2_tab .h_btns2_menu1_s label,#h_btns2_menu2:checked ~ .h_btns2_tab .h_btns2_menu2_s label{
    background:#fff;
    box-sizing: border-box;
    color: #f17e3a;
}

.h_btns2_tab>div {
    color: #635f5a;
    flex: 1 1 50%;
    width: 50%;
    box-sizing: border-box;
}

.h_btns2_tab>div>label{
    display: flex;
    align-items: center;
    background-color: #d5d2cd;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    padding: 18px 0 15px;
    
}

.h_btns2_tab {
    display: flex;
    flex-wrap: wrap;
}
.h_btns2_menu ul {
    display: flex;
    flex-wrap: wrap;
}

.h_btns2_menu li {
    width: 33.333333%;
    text-align: center;
    border: 0.5px solid #efedeb;
    box-sizing: border-box;
}
.h_btns2_menu2.h_btns2_menu li{
    width:25%;
}

.h_btns2_menu li a {
    /* padding: 7px; */
    display: flex;
    align-items: center;
    /* border: 0.5px solid #efedeb; */
    box-sizing: border-box;
    color: #635f5a;
    font-size: 14px;
    justify-content: center;
    line-height: 1;
    padding: 16px 0;
    text-align: center;
}

.h_btns2 {
    max-width: 860px;
    margin: 0 auto;
}

.h_btns2_menu_r{
    display: none;
}

.design_headline.design_headline_nks:before {
    background: #ff7f00;
    font-family: 'headline_icon';
    content: '\e90a';
    font-size: 35px;
}

.design_headline.design_headline_nks:after {
    border-color: #ff7f00 transparent transparent transparent;
}

.shop_content h2,.single-post .post_content h2{
    position: relative;
    border-bottom: 2px solid #FCAA00;
    color: #757575;
}
.shop_content h2:before,.single-post .post_content h2:before {
    content: "";
    position: absolute;
    background: #fff;
    border: 1px solid;
    border-color: #FCAA00;
    top: 0;
    left: 0.4em;
    height: 12px;
    width: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.shop_content h2:after,.single-post .post_content h2:after {
    content: "";
    position: absolute;
    background-color: #FCAA00;
    top: 0.8em;
    left: 0.1em;
    height: 8px;
    width: 8px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.shop_content h3,.shop_content h4,.single-post .post_content h3,.single-post .post_content h4{
    color: #757575;
    border-bottom: 3px solid #FCAA00;
}

.nk_shop_search_widget {
    margin: 0 0 10px 0;
}
.shop-screen-reader-text {
    display: none;
}

.shop_s {
    border: none;
    background: none;
    padding: 0 18px;
    margin: 0;
    width: 100%;
    width: calc(100% - 50px);
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.shopsearchform {
    border: 1px solid #ddd;
    background: #fff;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.searchshopsubmit {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    z-index: 200;
    position: absolute;
    cursor: pointer;
    display: block;
    text-indent: -300px;
    overflow: hidden;
    right: 0;
    top: 0;
    bottom: 0;
}

.submit_button:before {
    text-indent: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    font-family: 'design_plus';
    color: #333;
    font-size: 18px;
    content: '\e915';
    right: 0px;
    top: 1px;
}
.nk_shop_search_widget .widget_headline{
  margin-bottom: 10px
}


@media screen and (max-width: 1210px){
    #header_search {
        height: 84px !important;
    }
}

@media screen and (min-width:651px) {
    .h_sp{
        display: none;
    }


    .shop_content h2,.single-post .post_content h2{
        font-size: 1.65rem;
        line-height: 2rem;
        padding: 15px;
        padding-left: 24px;
        padding-bottom: 6px;
        margin-top: 2.6rem;
        margin-bottom: 1.6rem;
    }

    .shop_content h3,.shop_conten h4,,.single-post .post_content h3,.single-post .post_content h4 {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 4px 8px;
        padding-top: 0;
        margin-top: 2.3rem;
        margin-bottom: 1.6rem;
    }
}

@media screen and (max-width:650px) {
  #post_list .title_area {
    padding: 0 15px !important;
  }
  .nk_meta_recipe {
    font-size: 10px;
    float: none;
    margin-left: 1em;
  }


    .h_btns {
        border-top: 1px solid #d5d2cd;
        border-bottom: 1px solid #d5d2cd;
        display: flex;
        padding: 4px 0;
        background: #fff;
        margin: 0 0 20px;
    }

    .h_btns>div {
        color: #2b2a27;
        flex: 1 1 auto;
        font-size: 14px;
    }
    .h_btns>div>a{
        display: flex;
        justify-content: center;
        line-height: 1;
        padding: 7px;
    }
    .h_btns>div{
        border-right: 1px solid #efedeb;
    }

    .h_btns>div:last-child{
        border:none;
    }

    .shop_content h2, .single-post .post_content h2{
        font-size: 1.45rem;
        line-height: 1.8rem;
        padding: 13px;
        padding-left: 24px;
        padding-bottom: 4px;
        margin-top: 1.4rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }
    .shop_content h3,.shop_content h4,.single-post .post_content h3,.single-post .post_content h4 {
        font-size: 1.2rem;
        line-height: 1.7rem;
        padding: 5px 8px;
        padding-top: 0;
        margin-top: 1.4rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }
    .shop_content h2:before ,.single-post .post_content h2:before {
        top: 0;
        left: 0.4em;
    }
    .shop_content h2:after,.single-post .post_content h2:after {
        top: 1em;
        left: 0;
    }

    #h_search {
        display:block;
    }
}
