@charset "UTF-8";

/*fade in*/
.animate {
  opacity: 0;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadein {
  transform: translateY(-50%);
}

.animate.active {
  opacity: 1;
  transform: translateY(0);
}

