@charset "utf-8";

.s_type_ttl a {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    display: inline-block;
}

#main_col {
    background: #fff;
    padding: 10px!important;
}

.s_type_item_links ul {
    display: flex;
    flex-wrap: wrap;
}

.s_type_item_links ul li {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
}

.s_type_item_links ul li a {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    border: solid 1px#ddd;
    box-sizing: border-box;
    height: 100%;
}

.s_type_items {
    margin-bottom: 25px;
}

.s_type_items_w {
    margin: 20px 0;
}

.s_type_ttlb {
    border-top: solid 2px #ddd;
    border-bottom: solid 2px #ddd;
    padding: 10px 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}


.s_type_ttlwb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 15px 5px;
}

.s_type_item_img{
    display: block;
    overflow: hidden!important;
    position: relative;
    width: 100%;
    height: auto;
    max-height: inherit;
}

.s_type_item_img:before {
    content: " ";
    padding-top: 100%;
    display: block;
}

.s_type_item_img>div {
    display: block;
    height: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0!important;
    border: none!important;
}

.s_type_item_img img {
    display: block;
    margin: auto;
    position: absolute;
    padding: 0!important;
    border: none!important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    object-position: 50% 50%;
}

@media screen and (min-width:768px){
    .s_type_item_main {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        padding: 0 5px;
    }

    .s_type_item_img_w {
        width: 200px;
        padding: 5px;
        box-sizing: border-box;
    }

    .s_type_item_desc {
        flex: 1;
        padding: 10px;
    }
}

@media screen and (max-width: 767px) {
    .s_type_item_links ul li {
        width: 33.333333%;
    }   
    .s_type_item_main {
        margin: 0 0 20px;
    }
    .s_type_item_img_w {
        width:200px;
        margin:0 auto 20px;
    }
}