@charset "utf-8";
:root {
    --swiper-navigation-color: #f17e3a;
}
.shop_name {
    margin: 0 0 5px 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.shop_meta_tag {
    margin: 7px 0;
    line-height: 1.5;
}

.shop_img {
    margin: 10px 0;
}

.shop_img img {
    max-width: 100%;
    height: auto;
}

.shop_title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0 10px 0;
    line-height: 1.2;
}

#article {
    padding: 3%;
}

.shop_desc,.shop_content {
    line-height: 1.8;
}

.shop_content img {
    max-width: 100%;
    height: auto;
    margin: 15px 0;
}

.shop-databox {
   margin-top:20px;
   line-height: 1.5;
}

.shop-databox dl:nth-child(1) {
    border-top: solid 1px #bbe4a3;
}
.shop-databox dl {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    border-bottom: solid 1px #bbe4a3;
}

.shop-databox dt {
    width: 22%;
    background: #e6f5e0;
    font-weight: normal;
}

.shop-databox dt,.shop-databox dd {
    padding: 10px 12px;
    font-size: 1.0rem;
}
.shop-databox dd {
    flex: 1;
    background: rgba(255,255,255,0.5);
    word-break: break-all;
}

.shop_map {
    margin-top: 15px;
}

.shop_tag {
    display: flex;
    flex-wrap: wrap;
}

.shop_tag_desc {
    font-size: 0.8em;
}

.shop_tag li {
    width: 14.28571428%;
    text-align: center;
    padding: 5px;
}

.shop_tag_img img {
    max-width: 100%;
    height: auto;
}


.shop_list_ttl {
    font-size: 1.8rem;
    padding: 5px 15px 5px;
    background: #f17e3a;
    color: #fff;
    line-height: 1.5;
    /* border-radius: 1px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.shop_list_wrap {
    border: solid 1px #ddd;
    border-radius: 10px;
}

.shop_list img {
    max-width: 100%;
    height: auto;
    width: 90%;
    display: block;
    margin: auto;
}

.shop_list_descs {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.shop_list_img {
    width: 45%;
}

.shop_list_desc {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    line-height: 1.5;
    font-size: 0.77rem;
}

.shop_list_box {
   margin-top: 10px;
   line-height: 1.5;
}

.shop_list_box dl:nth-child(1) {
    /* border-top: solid 1px #bbe4a3; */
}
.shop_list_box dl {
    display: flex;
    width: 100%;
    /* margin-bottom: 0; */
    /* border-bottom: solid 1px #bbe4a3; */
}

.shop_list_box dt {
    width: 22%;
    background: #f8c790;
    font-weight: bold;
    border-radius: 5px;
    align-self: flex-start;
}

.shop_list_box dt,.shop_list_box dd {
    padding: 5px;
    /* font-size: 0.8rem; */
    margin-bottom: 5px;
    /* font-weight: bold; */
}
.shop_list_box dd {
    flex: 1;
    /* background: rgba(255,255,255,0.5); */
    word-break: break-all;
}
.shop_dn span {
    margin-right: 5px;
    /* display: inline-block; */
}

.shop_list_links {
    padding: 0 10px 10px;
}

.shop_list_links a {
    display: inline-block;
    padding: 10px;
    text-align: center;
    background: #000;
    border-radius: 5px;
    color: #fff;
    margin: 0 7px;
}

.shop_list_tag {
    display: flex;
    flex-wrap: wrap;
}

.shop_list_tag li {
    width: 16.66666%;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.shop_list_tag_img img {
    max-width: 100%;
    height: auto;
}


.shop_list_tag_desc {
    font-size: 0.9em;
}

#map_areas img {
    width: 100%;
    height: auto;
}
.maps img{
    max-width: 100%;
    height: auto;
}
.maps2_ttl {
    text-align: left;
    padding: 7px;
    background: #f17e3a;
    color: #fff;
}

.sel_area>li>div>a {
    padding: 7px;
    display: block;
    background: #ffd5bc;
}

.sel_area>li>ul {
    display: flex;
    flex-wrap: wrap;
}

.sel_area>li>ul>li {
    width: 25%;
    /* padding: 10px; */
}

.sel_area>li>ul>li {
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: solid 1px #ddd;
}
.shop_list_links.spc>div {
    margin: 10px 0 0;
}

.shop_list {
    margin-bottom: 15px;
}

.ssp{
    display: none;
}
.shop_list_links.spc {
    text-align: center;
}


.shop-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.shop-modal-content-w {
    background-color: #fefefe;
    margin: 5% auto 0;
    max-width: 500px;
    position: relative;
}
.shop-modal-content {
  padding: 10px 7px 40px;
  border: 1px solid #888;
  max-height: 80vh;
  overflow-y: scroll;
  box-sizing: border-box;
}

.shop-modal .shop-close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
}

.shop-modal .shop-ok_btn{
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  background: #000;
  padding: 7px 0;
  font-size: 15px;
}

.shop-modal .shop-close:hover,
.shop-modal .shop-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.acd-check{
    display: none;
}
.acd-label{
    background: #333;
    color: #fff;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
}
.acd-dcontent{
    border: 1px solid #333;
    padding: 0 10px;
}
.acd-dcontent{
    height: 0;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-dcontent{
    height: auto;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}

#form_a {
    margin-top: 10px;
}

.ssel_lists{
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}

.acd-content input{
  display: none;
}

.acd-content .garea .gbtn {
    width: 100%;
}
.acd-content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.acd-content li {
    width: calc(33.33333%);
    padding: 0 2px;
    margin: 0 0 4px 0;
    box-sizing: border-box;
}

.acd-content input:checked+label {
    background: #ff9d58;
    color: #fff;
    text-shadow: 0 1px 1px rgba(102,64,7,.6);
}
.acd-content label {
    display: table-cell;
    height: 1.5rem;
    width: 100rem;
    vertical-align: middle;
    padding: 8px 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
}


.modal_area:checked + label {
    background: #ff9d58;
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(102, 64, 7, 0.6);
}


.gclear_on {
    background: #ff9d58;
    color: #fff;
    text-shadow: 0 1px 1px rgba(102,64,7,.6);
}

.acd-content li.gbtn {
    width: 100%;
}

li.gbtn button {
    width: 100%;
}

.search_shop_lists_w {
    max-width: 95%;
    margin: 0 auto 20px;
}

.search_shop_lists {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.search_shop_lists>button{
    padding: 10px 0;
}
.search_shop_lists>button, .search_shop_lists>form{
    width: 33.3333333%;
    font-size: 12px;
}

#search_shop button {
    width: 100%;
    height: 100%;
}

.shop_tabs {
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.shop_tab_item {
  width: calc(100%/3);
  border-bottom: 3px solid #f17e3a;
  background-color: #d9d9d9;
  font-size: 13px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.shop_tab_item:hover {
  opacity: 0.75;
}

input[name="shop_tab_item"] {
  display: none;
}

.shop_tab_content {
  display: none;
  padding: 10px 10px 10px;
  clear: both;
  overflow: hidden;
}


#shoptab_top:checked ~ #shoptab_top_content,
#shoptab_photo:checked ~ #shoptab_photo_content,
#shoptab_repo:checked ~ #shoptab_repo_content {
  display: block;
}

.shop_tabs input:checked + .shop_tab_item {
  background-color: #f17e3a;
  color: #fff;
}

.shop_imgs {
    display: flex;
    flex-wrap: wrap;
}

.shop_imgs_one {
    width: 33.3333333%;
    padding: 7px;
    box-sizing: border-box;
}

.shop_imgs_one img {
    width: 100%;
    height: auto;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-top {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
}

.gallery-top .swiper-slide{
    text-align: center;
}
.gallery-top img {
    /* width: 100%; */
    /* height: 100%; */
}
.gallery-thumbs {
    height: 150px;
    width: 100%;
}

.lum-lightbox-position-helper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.lum-lightbox-inner {
  max-width: 800px;
  max-height: 800px;
  margin: auto;
}
.lum-lightbox {
    z-index: 999999;
}
.lum-gallery-button {
    touch-action: manipulation;
}

@media screen and (max-width: 767px) {
    .shop_map iframe {
        max-height: 200px;
    }
    .shop_list_ttl{
        font-size:1.3rem;
    }

    .shop_tag li {
        width: 25%;
        box-sizing: border-box;
    }

    .shop_list_tag li {
        width: 25%;
    }

    .shop_list_img{
        width:100%;
    }

    .shop_list_img{
        width:100%;
    }
    .shop_list_desc{
        width:100%;
        margin-top: 10px;
    }
    .shop_dn span {
        display: block;
        padding:0;
    }

    .shop_list_links.ssp{
        display: flex;
        justify-content: center;
    }
    .shop_list_links.spc{
        display: none;
    }
  .search_shop_lists>button span{
     display:none;
  }

  .gallery-top {
      height: 200px;
  }
  .gallery-thumbs {
      height: 80px;
  }

}
