@charset "UTF-8";

/* -------------------
  HEADER, LOGO
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // min-width: 1400px;
  height: 90px;
  background-color: #fff;
  box-shadow: 0px 0px 3px #00000029;
  z-index: 9999;

  @include mq() {
    // position: fixed;
    height: 50px;
    min-width: 100%;
    background-color: #fff;
  }

  &-inner {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;

    @include mq() {
      justify-content: space-between;
      padding: 0 12px;
    }
  }

  &-logo {
    margin-right: 30px;
    width: 197px;
    height: 40px;

    @include mq() {
      width: 109px;
      height: 26px;
      margin-top: -4px;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 197px - 30px);

    @include mq() {
      width: auto;
    }
  }

  .form-one {
    width: 350px;
    margin-right: 20px;
    @include mq() {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &-searchSP {
    @include mq() {
      padding: 10px 12px 20px;
      background-color: #F7F6ED;

      .form-one {
        margin-bottom: 5px;
      }

      .form-suggest {
        margin-bottom: 5px;
      }

      .form-search {
        display: flex;
        flex-wrap: wrap;

        &--inner {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .input {
            width: 24.5%;
            padding: 10px 20px 10px 8px;
            margin-bottom: 5px;
          }
        }

        .form-action {
          width: 100%;
        }

        select {
          background-position: right 8px center;
        }

        .btn-gray {
          width: 83%;

          &.sliver {
            width: 17%;
            // max-width: 59px;
            font-size: fs(12);
            background-color: transparent;
            color: #7B7B6C;
          }
        }
      }
    }
  }
  &-loginInfor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 12px 30px;
    background-color: #EDEBDE;
    @include mq() {
      padding: 7px 12px;
      justify-content: space-between;
    }
    span {
      display: inline-block;
      margin-right: 10px;
      font-weight: bold;
       @include mq() {
        margin-right: 6px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &--name {
      margin-right: 20px;
    }
    .link {
      font-size: fs(10);
      &.type2 {
        margin: 0 15px;
      }
    }
  }
}

// menu
.menu {
  &-list {
    display: flex;
  }

  &-item {
    position: relative;
    margin-right: 30px;

    @include mq() {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--msg {
      position: absolute;
      bottom: -48px;
      right: 0;
      width: 260px;
      height: 34px;
      line-height: 34px;
      background-color: #369ED5;
      color: #fff;
      font-size: fs(12);
      font-weight: bold;
      text-align: center;
      z-index: 1;

      @include mq() {
        display: none;
        width: 220px;
        height: 30px;
        line-height: 30px;
        bottom: -38px;
        font-size: fs(10);
      }
      &.hide {
        display: none;
      }
      p {
        position: relative;
        height: 100%;
        z-index: 2;

        &:after {
          position: absolute;
          bottom: 100%;
          right: 30px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 4px 8px 4px;
          border-color: transparent transparent #369ED5 transparent;
          content: "";

          @include mq() {
            right: 18px;
          }
        }
      }
    }

    a {
      display: block;
      font-weight: bold;
      font-size: fs(14);
      line-height: fs(28);
      padding-left: 22px;
      background: url(../images/common/icon-list.svg) left center no-repeat;
      transition: all .3s;

      @include mq() {
        padding-left: 0;
        padding-top: 20px;
        font-size: fs(10);
        line-height: fs(12);
        background-position: top 3px center;
      }

      &:hover {
        opacity: .7;
      }

      &.pen {
        background: url(../images/common/icon-pen.svg) left center no-repeat;

        @include mq() {
          background-position: top 2px center;
        }
      }

      &.fork {
        background: url(../images/common/icon-fork.svg) left center no-repeat;

        @include mq() {
          background-position: top 2px center;
        }
      }

      &.lock {
        position: relative;
        margin-left: 30px;
        color: #369ED5;
        background: url(../images/common/icon-lock.svg) left center no-repeat;

        @include mq() {
          padding-left: 0;
          margin-left: 0;
          background-position: top center;
        }

        // a {
        // 	@include mq() {
        // 		padding-top: 20px;
        // 	}
        // }
        &:before {
          position: absolute;
          top: 0;
          left: -30px;
          display: inline-block;
          width: 1px;
          height: 30px;
          background-color: #C7C7C7;
          content: "";

          @include mq() {
            display: none;
          }
        }
      }
    }
  }
}