@charset "UTF-8";
/* -------------------
  PARTS
--------------------*/

// Default for Text editor WP
.no-reset {
  // h2 {
  //   position: relative;
  //   padding-bottom: 15px;
  //   font-size: fs(20);
  //   line-height: fs(30);
  //   font-weight: bold;
  //   font-family: $font-base;
  //   @include mq() {
  //     padding-bottom: 12px;
  //     font-size: fs(18);
  //     line-height: fs(27);
  //   }

  //   &:after {
  //     display: block;
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     width: 160px;
  //     height: 6px;
  //     background: url(../images/common/bg-line-green01.jpg) left bottom / contain repeat-x;
  //     content: "";
  //   }
  // }
  h2 {
    position: relative;
    margin: 40px 0;
    
    padding-bottom: 15px;
    font-size: fs(20);
    line-height: fs(30);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      padding-bottom: 12px;
      font-size: fs(18);
      line-height: fs(27);
    }

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 34px;
      height: 2px;
      background: #D3D940;
      content: "";
    }

    &.type2 {
      padding-bottom: 0;
      &:after {
        display: none;
      }
    }
  }
  h3 {
    font-size: fs(18);
    line-height: fs(27);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(16);
      line-height: fs(24);
    }
  }
  h4 {
    font-size: fs(14);
    line-height: fs(21);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  h5 {
    font-size: fs(14);
    line-height: fs(21);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  p {
    font-size: fs(14);
    line-height: fs(21);
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  a {
    color: #7B7B6C;
    transition: all .3s;
    &:hover {
      opacity: .7;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: fs(14);
    line-height: fs(21);
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
    th {
      background-color: #C7C7C7;
      border: 1px solid #C7C7C7;
      box-sizing: border-box;
      font-weight: 700;
      padding: 20px 15px;
      width: 185px;
    }

    td {
      border: 1px solid #C7C7C7;
      box-sizing: border-box;
      padding: 20px 15px;
    }
  }

  .blockquote-wrap {
    margin: 40px 0;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
  }

  blockquote {
    position: relative;
    margin: 1em 0;
    padding: 0 28px;
    font-weight: bold;
    &:before {
      display: inline-block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 10px;
      height: 7px;
      background: url(../images/common/icon-quote-left.svg) no-repeat;
      content: "";
    }
    &:after {
      display: inline-block;
      position: absolute;
      bottom: 8px;
      right: 0;
      width: 10px;
      height: 7px;
      background: url(../images/common/icon-quote-right.svg) no-repeat;
      content: "";
    }
    p {
      margin: 0;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
    font-size: fs(14);
    line-height: fs(21);
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 18px;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        left: 0;
        width: 8px;
        height: 8px;
        background-color: #000;
        border-radius: 50%;
        content: "";
      }
    }
  }

  ol, ul {
    font-size: 0.875rem;
  }
}



// Format layout
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}


// Distance
.mgb-10 {
  margin-bottom: 10px;
}

.mgb-15 {
  margin-bottom: 15px;
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgb-30 {
  margin-bottom: 30px;
}

.mgb-40 {
  margin-bottom: 40px !important;
}

.mgt-5 {
  margin-top: 5px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgt-20 {
  margin-top: 20px;
}

.mgt-30 {
  margin-top: 30px;
}

.mgt-40 {
  margin-top: 40px;
}

.mgt-50 {
  margin-top: 50px;
}

.mgt-60 {
  margin-top: 60px;
}

.mgt-70 {
  margin-top: 70px;
}


// Title
.section-title {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  font-size: fs(38);
  line-height: fs(57);
  font-family: $font-a;
  @include mq() {
  	padding-bottom: 6px;
	  font-size: fs(30);
	  line-height: fs(45);
  }

  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(../images/common/bg-line-green01.jpg) left bottom / contain repeat-x;
    content: "";
  }

  &.orange {
    &:after {
      background-image: url(../images/common/bg-line-orange.jpg);
    }
  }

  span {
    display: inline-block;
    font-size: fs(14);
    font-family: $font-base;
    font-weight: bold;
    line-height: 1;
    margin-left: 10px;
    @include mq() {
		  font-size: fs(12);
	  }
  }
}

.section-title2 {
  display: inline-block;
  font-size: fs(38);
  line-height: fs(30);
  font-family: $font-a;

  span {
    display: inline-block;
    font-size: fs(14);
    font-family: $font-base;
    font-weight: bold;
    line-height: 1;
    @include mq() {
    	margin-left: 8px;
		  font-size: fs(12);
	  }
  }
}

.sectionEP-title {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: fs(24);
  font-weight: bold;
  color: #7B7B6C;
  line-height: fs(38);
  @include mq() {
    font-size: fs(20);
    line-height: fs(30);
  }

  &:before {
    display: block;
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 12px;
    height: 10px;
    background: url(../images/common/icon-list-gray.svg) left center / contain no-repeat;
    content: "";
  }

  &.ranking {
    &:before {
      width: 13px;
      height: 10px;
      top: calc(50% - 6px);
      background-image: url(../images/common/icon-ranking-gray.svg);
    }
  }
  &.fork {
    &:before {
      width: 11px;
      height: 14px;
      top: calc(50% - 6px);
      background-image: url(../images/common/icon-fork-gray.svg);
    }
  }
  &.pen {
    &:before {
      width: 12px;
      height: 12px;
      top: calc(50% - 6px);
      background-image: url(../images/common/icon-pen-gray.svg);
    }
  }
  &.type2 {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
  &.no-icon {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
}

.titleLv2 {
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    padding-bottom: 12px;
    font-size: fs(18);
    line-height: fs(27);
  }

  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(../images/common/bg-line-green01.jpg) left bottom / contain repeat-x;
    content: "";
  }
}

.titleLv3 {
  position: relative;
  padding-bottom: 15px;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    padding-bottom: 12px;
    font-size: fs(18);
    line-height: fs(27);
  }

  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 34px;
    height: 2px;
    background: #D3D940;
    content: "";
  }

  &.type2 {
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }
}

.titleLv4 {
  font-size: fs(18);
  line-height: fs(27);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(16);
    line-height: fs(24);
  }
}

.titleLv5 {
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

.desc {
  font-size: fs(14);
  line-height: fs(21);
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

.desc2 {
  font-size: fs(14);
  line-height: fs(28);
  @include mq() {
    font-size: fs(12);
    line-height: fs(24);
  }
}

.desc3 {
  font-size: fs(14);
  line-height: fs(21);
  font-family: $font-a;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

.date {
  margin-right: 10px;
  font-family: $font-a;
  font-size: fs(12);
  line-height: fs(18);
  @include mq() {
  	font-size: fs(10);
	  line-height: fs(15);
  }

  &.big {
    font-size: fs(14);
    line-height: fs(21);
    @include mq() {
	  	font-size: fs(12);
		  line-height: fs(18);
	  }
  }
}

// Tag, Label
.label {
  margin-right: 10px;
  padding: 2px 5px;
  font-family: $font-a;
  font-size: fs(10);
  line-height: fs(15);
  border: solid 1px #000;
  background-color: #fff;
  @include mq() {
  	padding: 1px 3px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.tag {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 4px 6px;
  background-color: #EDEBDE;
  color: #7B7B6C;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }

  &.type2 {
    padding: 2px 8px 1px;
    background-color: #7B7B6C;
    color: #fff;
  }
}

.tag2 {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 4px 6px;
  background-color: #EDEBDE;
  color: #7B7B6C;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  &:last-child {
    margin-right: 0;
  }
}

.tagLB {
  font-size: fs(12);
  line-height: fs(18);
  font-weight: bold;
  color: #7B7B6C;
}

.tagX {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 25px 1px 8px;
  background-color: #7B7B6C;
  color: #fff;
  border-radius: 2px;
  font-size: fs(12);
  line-height: fs(18);
  transition: all .3s;

  // icon-x-white.svg
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: .7;
  }
  &-icon {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 6px;
    height: 6px;
    cursor: pointer;
    background: url(../images/common/icon-x-white.svg) no-repeat;
    content: "";
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    @include mq() {
      max-width: 100%;
    }
  }
}

.label-msg {
  text-align: center;
  background: url(../images/common/icon-msg.svg) left center / 100% no-repeat;
  @include mq() {
  	background-position: left bottom;
  }
  &.ranking {
    span {
      background: url(../images/common/icon-ranking.svg) left top 11px / 18px 14px no-repeat;
    }
  }

  span {
    display: inline-block;
    padding: 10px 0 20px 26px;
    font-size: fs(12);
    font-weight: bold;
    line-height: fs(18);
    background: url(../images/common/icon-search-black.svg) left top 11px / 14px 14px no-repeat;
    @include mq() {
	    padding: 10px 0 18px 26px;
	  }
    @include mq(tb) {
      padding: 10px 0 45px 26px
    }
	  @include mq(sm2) {
	    padding: 10px 0 12px 26px;
	  }
    @include mq(sm3) {
      padding: 10px 0 35px 26px
    }
  }
}


// Link, Button, Tab
.disabled {
  opacity: 0.7;
  pointer-events: none;
}
.link {
  display: block;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #7B7B6C;
    &:hover{
      text-decoration: none;
    }
  }
}

.link-icon {
  position: relative;
  padding-right: 16px;
  font-size: fs(14);
  line-height: 1;
  color: #7B7B6C;
  transition: all .3s;
  &:hover{
    &:after {
      display: block;
    }
  }
  &:after {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 14px);
    height: 1px;
    background-color: #7B7B6C;
    content: "";
  }
  &.blank {
    background: url(../images/common/icon-blank.svg) right center / 12px 12px  no-repeat;
  }
  &.pdf {
    background: url(../images/common/icon-pdf.svg) right center / 11px 13px  no-repeat;
  }
  &.excel {
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
}

.view-more {
  position: relative;
  display: inline-block;
	padding: 0 20px 0 0;
  font-size: fs(14);
  line-height: 1;
  transition: all .3s;
  color: #7B7B6C;
  background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
  &.back {
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center / 10px 10px no-repeat;
    &:after {
      left: 20px;
    }
  }
  &:hover{
    &:after {
      display: block;
    }
  }
  &:after {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - 20px);
    height: 1px;
    background-color: #7B7B6C;
    content: "";
  }
}

.btn-view-more {
  display: inline-block;
  height: 38px;
  padding: 12px 38px 12px 16px;
  font-size: fs(14);
  line-height: 1;
  border: 1px solid #000;
  transition: all .3s;
  background: #fff url(../images/common/icon-arrow-right-black.svg) right 16px center / 10px 10px no-repeat;

  &:hover {
    color: #fff;
    background-color: #000;
    background-image: url(../images/common/icon-arrow-right-white.svg);
  }
}

.btn-view-more2 {
  display: inline-block;
  height: 56px;
  padding: 0 76px;
  font-size: fs(14);
  font-weight: bold;
  line-height: 56px;
  border-radius: 4px;
  border: solid 1px #fff;
  background: #fff url(../images/common/icon-arrow-right-black.svg) right 16px center / 10px 10px no-repeat;
  transition: all .3s;

  &:hover {
    border-color: #7B7B6C;
    color: #7B7B6C;
    background-image: url(../images/common/icon-arrow-right-gray.svg);
  }
}

.btn-gray {
  display: inline-block;
  width: 125px;
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
  border: none;
  background-color: #7B7B6C;
  color: #fff;
  font-size: fs(14);
  cursor: pointer;
  text-align: center;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.sliver {
    background-color: #C7C7C7;

    &:hover {
      opacity: .7;
    }
  }
}

.link-viewAll {
  display: inline-block;
  padding-top: 24px;
  font-size: fs(14);
  font-weight: bold;
  color: #7B7B6C;
  background: url(../images/common/all-icon.svg) no-repeat top center;
  background-size: 18px 18px;
}

.link-go {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 5px);
    width: 12px;
    height: 12px;
    background: url(../images/common/icon-page-right-gray.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.link-return {
  position: relative;
  display: inline-block;
  padding-left: 25px;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    height: 9px;
    background: url(../images/common/icon-return.svg) center center / 100% 100% no-repeat;
    content: "";
    @include mq() {
      top: 5px;
    }
  }
}

.btn-close {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-close.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.link-blog {
  color: #7B7B6D;
  text-decoration: underline;
  transition: all .3s;
  &:hover {
    opacity: .7;
    text-decoration: none;
  }
}

.link-blog2 {
  color: #7B7B6D;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
}

.tabs {
	&-listWrap {
    margin-bottom: 30px;
    @include mq() {
	    margin-right: -12px;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    &.type2 {
      margin-bottom: 35px;
      .tabs-item {
        width: 145px;
        margin-bottom: 5px;
      }
    }
	}
  &-list {
    display: flex;
    flex-wrap: wrap;
    @include mq() {
      display: inline-block;
    }
  }

  &-item {
    display: block;
    width: 19.6%;
  	margin-right: 5px;
  	margin-bottom: 10px;
    padding: 5px;
    font-size: fs(12);
    line-height: fs(18);
    font-weight: bold;
    border-radius: 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    transition: all .3s;
    &:nth-child(5n) {
    	margin-right: 0;
    	@include mq() {
	    	margin-right: 5px;
    	}
    }
    @include mq() {
      display: inline-block;
    	width: 146px;
    	max-width: 200px;
    }

    &.active {
      color: #fff;
      background-color: #000;
    }

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

.btn-clip {
  display: block;
  width: 124px;
  height: 38px;
  line-height: 38px;
  background-color: #369ED5;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  &.active {
    background-color: #EB6A6A;
  }
  span {
    display: inline-block;
    padding-left: 20px;
    font-size: fs(12);
    font-weight: bold;
    background: url(../images/common/icon-lock-white.svg) left center no-repeat;
  }
}

// socialBox
.socialBox {
  display: flex;
  justify-content: center;
  &-item {
    width: 50px;
    height: 50px;
    margin-right: 24px;
    @include mq() {
      margin-right: 60px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// Form, input, checkbox
.form-one {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 10px 40px 10px 16px;
  color: #7B7B6C;
  background-color: #FAFCD7;
  border: 1px solid #C7C7C7;
  border-radius: 2px;
  font-size: fs(12);
  transition: all .3s;
  font-family: $font-base;
  font-weight: bold;
  @include mq() {
    padding: 6px 40px 6px 16px;
  }
  &:focus,
  &.active {
    border-color: #000;
    background-color: #fff;
    color: #000;
  }
  &.textarea {
    height: 140px;
  }
}

.checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  &+label {
    position: relative;
    cursor: pointer;
    padding: 0 0 0 38px;
    @include mq() {
      font-size: fs(12);
    }
  }

  // Box.
  &+label:before {
    top: -5px;
    left: 0;
    position: absolute;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 30px;
    height: 30px;
    background: #FAFCD7;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    content: '';
    @include mq() {
    	top: -7px;
  	}
  }
  &:checked + label:before {
    background-color: #7B7B6C;
    border-color: #7B7B6C;
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked+label:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 9px;
    background: #FAFCD7;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 #FAFCD7,
      4px 0 0 #FAFCD7,
      4px -2px 0 #FAFCD7,
      4px -4px 0 #FAFCD7,
      4px -6px 0 #FAFCD7,
      4px -8px 0 #FAFCD7;
    transform: rotate(45deg);
    @include mq() {
    	top: 7px;
  	}
  }
}

.search {
  position: absolute;
  top: calc(50% - 7px);
  right: 16px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none;
  background: url(../images/common/icon-search.png) no-repeat;
  background-size: contain;
  content: "";
  @include mq() {
    width: 16px;
    height: 16px;
    background-size: 90% 90%;
  }
}

.form-search {
  .input {
    margin-bottom: 4px;
    padding: 10px 40px 10px 16px;
    cursor: pointer;
    font-family: $font-base;
  }

  select {
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
          appearance: none;
    background: #FAFCD7 url(../images/common/icon-arrow-down-gray.png) right 15px center / 8px 7px no-repeat;
    font-family: $font-base;
    &:focus {
      background: #fff url(../images/common/icon-arrow-up-gray.png) right 15px center / 8px 7px no-repeat;
      @include mq() {
        background-position: right 8px center;
      }
    }

    &.active {
      border-color: #000;
      color: #000;
      background: #fff url(../images/common/icon-arrow-down-gray.png) right 15px center / 8px 7px no-repeat;
      &:focus {
        background: #fff url(../images/common/icon-arrow-up-gray.png) right 15px center / 8px 7px no-repeat;
        @include mq() {
          background-position: right 8px center;
        }
      }
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    &::-ms-expand {
        display: none;
    }
  }

  .btn-gray {
    width: 49%;
  }
}

.selectMulti {
  width: auto;
  min-width: 100px;
  padding: 12px 46px 12px 16px;
  height: 48px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
        appearance: none;
  font-family: $font-base;
  background-image: url(../images/common/icon-arrow-up-gray.png), url(../images/common/icon-arrow-down-gray.png);
  background-position: right 15px top 10px, right 15px top 28px;
  background-repeat: no-repeat;
  background-size: 8px 7px;

  @include mq() {
    width: 100%;
  }

  &.active {
    border-color: #000;
    color: #000;
    background-color: #fff;
    background-image: url(../images/common/icon-arrow-up-gray.png), url(../images/common/icon-arrow-down-gray.png);
  }


  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  &::-ms-expand {
      display: none;
  }
}

.form-action {
  display: flex;
  justify-content: space-between;
}

.form-user {
  width: 760px;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px;
  background-color: #fff;
  text-align: center;
  @include mq() {
    padding: 40px;
  }
  .input {
    font-weight: normal;
    height: 50px;
    line-height: 50px;
  }
  .btn-gray {
    width: 100%;
    height: 54px;
    font-weight: bold;
    line-height: 54px;
  }
  &--ttl {
    margin-bottom: 40px;
    font-size: fs(20);
    line-height: fs(30);
    font-weight: bold;
    @include mq() {
      font-size: fs(18);
      line-height: fs(27);
    }
  }
  &--des {
    margin-bottom: 30px;
    font-size: fs(12);
    line-height: fs(18);
  }
  &--formWrap {
    width: 340px;
    max-width: 100%;
    margin: 0 auto;
  }
  &--row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--label {
    // display: block;
    // text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    &-text {
      font-size: fs(12);
      line-height: fs(18);
      font-weight: bold;
    }
    &-required {
      display: inline-block;
      line-height: 1;
      font-size: fs(12);
      font-weight: normal;
      padding: 4px 4px 3px;
      color: #DC000C;
      border: 1px solid #DC000C;
      font-weight: bold;
    }
  }
  &--guide {
    font-size: fs(12);
    line-height: fs(18);
    .link {
      font-size: fs(12);
      line-height: fs(18);
    }
    &.type2 {
      font-size: fs(14);
      line-height: fs(21);
      .link {
        font-size: fs(14);
        line-height: fs(21);
      }
    }
  }
  &--cbox {
    margin-top: 30px;
  }
  &--btnWrap {
    margin-top: 20px;
  }
}


// Pickup, Item

.pickup {
  position: relative;
  padding-bottom: 20px;

  @include mq() {
    margin-bottom: 20px;
    padding-bottom: 25px;
  }

  &:before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: url(../images/common/bg-line-black.jpg) left bottom / contain repeat-x;
    content: "";
  }

  &-thumb {
    &--img {
      max-height: 500px;
      overflow: hidden;
    }
    &.mvTop {
      max-height: 170px;
      overflow: hidden;
    }
    &.big {
      position: relative;
      &:before {
        position: absolute;
        top: -15px;
        left: -15px;
        width: 90px;
        height: 90px;
        display: block;
        background: url(../images/common/icon-pickup01.svg) left center no-repeat;
        content: "";

        @include mq() {
          top: -13px;
          left: -12px;
          width: 68px;
          height: 68px;
          background-size: contain;
        }
      }

      &:after {
        position: absolute;
        right: -15px;
        bottom: -15px;
        width: 90px;
        height: 90px;
        display: block;
        background: url(../images/common/icon-pickup02.svg) left center no-repeat;
        content: "";

        @include mq() {
          bottom: -12px;
          right: -12px;
          width: 68px;
          height: 68px;
          background-size: contain;
        }
      }
    }
  }

  &-title {
    margin: 15px 0 5px;
    font-weight: bold;
    font-size: fs(14);
    line-height: fs(21);

    @include mq() {
			margin: 5px 0 0px;
      font-size: fs(12);
      line-height: fs(18);
    }

    &.big {
      margin: 20px 0;
      font-size: fs(18);
      line-height: fs(27);

      @include mq() {
        margin: 20px 0 10px;
        font-size: fs(16);
        line-height: fs(24);
      }
    }
  }

  &-infor {
    span {
      position: relative;
      display: inline-block;
      padding-right: 10px;
      font-size: fs(12);
      line-height: fs(18);
      color: #7B7B6C;

      &:after {
        position: absolute;
        right: -2px;
        top: 2px;
        display: inline-block;
        width: 1px;
        height: 12px;
        background-color: #C7C7C7;
        content: "";
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &.time {
        margin-left: 10px;
        padding-left: 15px;
        background: url(../images/common/icon-time.svg) left top 2px / 12px 12px no-repeat;
      }

      &.kcal {
        margin-left: 10px;
        padding-left: 15px;
        background: url(../images/common/icon-kcal.svg) left top 2px / 12px 12px no-repeat;
      }
    }
  }
}

.ranking-item {
  margin-bottom: 10px;
  counter-increment: ranking-counter;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: flex;
    justify-content: space-between;
  }

  &:nth-child(1) {
    .ranking-item--thumb {
      &:before {
        background-color: #A2971A;
      }
    }
  }

  &:nth-child(2) {
    .ranking-item--thumb {
      &:before {
        background-color: #7B7B7B;
      }
    }
  }

  &:nth-child(3) {
    .ranking-item--thumb {
      &:before {
        background-color: #574A31;
      }
    }
  }

  &--thumb {
    position: relative;
    width: 102px;
    height: 68px;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 18px;
      height: 18px;
      font-size: fs(12);
      font-weight: bold;
      font-family: $font-b;
      line-height: 18px;
      text-align: center;
      color: #fff;
      background-color: #000;
      content: counter(ranking-counter);
    }
  }

  &--cnt {
    display: flex;
    align-items: center;
    width: calc(100% - 122px);
    font-size: fs(12);
    line-height: fs(18);
    font-weight: bold;
  }
}

.recipe-item {
  display: inline-block;
  padding-left: 20px;
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  color: #CCBC4F;
  background: url(../images/common/icon-kcal-yellow.svg) left center / 12px 22px no-repeat;
  &.time {
    padding-left: 28px;
    background: url(../images/common/icon-time-yellow.svg) left center / 20px 22px no-repeat;
  }
}



//  pickup List
.pickupList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
  padding-top: 20px;
  @include mq(sm4) {
    margin: 0 -10px;
    padding-top: 18px;
  }
  &-item {
    width: 33.33%;
    padding: 0 8px;
    margin-bottom: 20px;
    @include mq(sm4) {
      width: 50%;
      padding: 0 10px;
    }
    a {
      display: block;
    }
  }
  &-thumb {
    position: relative;
    max-height: 158px;
    overflow: hidden;
    @include mq(sm4) {
      max-height: 110px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 30px;
      height: 30px;
      font-size: fs(14);
      font-weight: bold;
      font-family: $font-b;
      line-height: 30px;
      text-align: center;
      color: #fff;
      background-color: #000;
      content: attr(data-id);
    }
  }
  &-des {
    margin-top: 10px;
  }
  &-infor {
    margin-top: 10px;
    font-size: fs(12);
    line-height: fs(12);
    color: #7B7B6C;
  }
}

// pickup suggest List
.pickup-suggest {
  .titleLv2 {
    margin-bottom: 40px;
    @include mq() {
      margin-bottom: 30px;
    }
  }
  &--list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    @include mq(sm4) {
      margin: 0 -5px;
    }
    li {
      width: 25%;
      margin-bottom: 15px;
      padding: 0 10px;
      @include mq(sm4) {
        width: 50%;
        padding: 0 5px;
      }
    }
    .date {
      margin-top: 10px;
    }
    .pickup-title {
      margin-top: 8px;
    }
  }

  &--thumb {
    height: 115px;
    overflow: hidden;
  }

}


// pagination
.pagination {
  margin: 70px auto 20px;

  @include mq() {
    margin: 35px auto 50px;
  }

  &-label {
    margin-bottom: 7px;
    font-size: fs(10);
    color: #000;
    text-align: center;
  }

  &-list {
    display: flex;
    text-align: center;
    flex-flow: wrap;
    justify-content: center;

    a {
      width: fs(30);
      height: fs(30);
      display: flex;
      margin: 0 fs(2);
      justify-content: center;
      align-items: center;
      border: 1px solid #C7C7C7;
      border-radius: 3px;
      background-color: #fff;
      color: #585757;
      font-size: fs(12);
      letter-spacing: 0;
      line-height: 1.4;
      transition: all .3s;

      @include mq() {
        margin-bottom: 5px;
      }

      &:hover {
        background-color: #7B7B6C;
        color: #fff;
      }

      &.active {
        background-color: #7B7B6C;
        color: #fff;
        pointer-events: none;
      }

      &.ctrl {
        padding: 0 11px;
        &:hover {
          svg {
            .a {
              fill: #fff;
            }
          }
        }
        &.prev {
          margin-right: 8px;
        }

        &.next {
          margin-left: 8px;
        }
      }
    }
  }

  &-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .875rem;
    color: #919191;
    margin: .125rem .0625rem;
    height: 100%;
  }
}


// breadcrumb

.breadcrumb {
  @include mq() {
    white-space: nowrap;
    overflow-x: auto;
  }
  &Wrap {
    padding-top: 15px;
    @include mq() {
      padding: 0 0 5px 0; 
    }
  }
  ul {
    li {
      display: inline-block;
      font-size: fs(12);
      position: relative;
      padding-right: 20px;
      color: #000;
      a {
        display: inline-block;
        color: #7B7B6C;
        text-decoration: underline;
        transition: all .3s;
        &:hover {
          text-decoration: none;
          opacity: .7;
        }
      }
      &:last-child {
        padding-right: 0;
        &:before {
          display: none;
        }
      }
      &:before {
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 4px;
        width: 4px;
        height: 5px;
        background: url(../images/common/icon-page-right-gray.svg) center center / 100% 100% no-repeat;
        content: "";
      }
      @include mq() {
        margin-bottom: 8px;
      }
    }
  }
}


// Endpage
.sectionEP {
  &-head {
    margin-bottom: 40px; 
    &--order {
      &-wrap {
        margin-left: auto;
        display: flex;
        align-items: center;
      }
      &-label {
        margin-right: 10px;
        font-size: fs(12);
        font-weight: bold;
      }
    }
  }
  &-titleWrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 25px;
    @include mq() {
      padding-bottom: 20px;
      align-items: center;
    }

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      background: url(../images/common/bg-line-trans.svg) left bottom/contain repeat-x;
      content: "";
    }

    &.type2 {
      display: block;
    }
  }
  &-sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
    @include mq() {
      .tagX-list {
        margin-bottom: 10px;
      }
    }
  }
  &-resultSumary {
    font-size: fs(12);
    line-height: fs(12);
    color: #000;
    @include mq() {
      font-size: fs(10);
      line-height: fs(10);
    }
  }
  &-newOrders {
    width: 160px;
    margin-left: auto;
    &.rest {
      width: 185px;
      text-align: right;
    }
    @include mq() {
      width: 100%;
    }
  }
}

// Search result 's Message
.search-msg {
  margin-bottom: 80px;
  @include mq() {
    margin-bottom: 50px;
  }
  .titleLv4 {
    margin-bottom: 5px;
  }
  .titleLv5 {
    font-weight: normal;
  }
}

// Tabs, Tab content
.tabs{
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  li{
    display: inline-block;
    width: 50%;
    padding: 20px 15px 10px;
    border-top: solid 2px #F7F6ED;
    color: #7B7B6C;
    background: none;
    font-size: fs(12);
    cursor: pointer;
    text-align: center;
    &.current{
      background: #fff;
      border-color: #7B7B6C;
      color: #222;
    }
    span {
      display: inline-block;
      padding-bottom: 15px;
      background: url(../images/common/icon-arrow-down-gray.png) bottom center/8px 7px no-repeat;
    }
  }
}

.tab-content{
  display: none;
  background: #fff;
  padding: 45px;
  @include mq() {
    padding: 30px 12px;
    &--ttl {
      margin-bottom: 20px;
    }
  }
  &.current{
    display: inherit;
  }
}


// advers Modal 
.modal {
  box-sizing: border-box;
  width: 100%;
  max-width: 760px;
  margin-bottom: 10px;
  padding: 50px 40px 40px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  @include mq() {
    max-width: 96%;
  }
  &-overlay {
    // display: none;
    position: fixed;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    background: rgba(0, 0, 0, 0.6);
    backface-visibility: hidden;
    z-index: 9999;
    &.hide {
      display: none;
      z-index: -9999;
    }
  }
  &-wrapper {
    // display: none;
    // overflow: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    backface-visibility: hidden;
    z-index: 10000;
    &.hide {
      display: none;
      z-index: -9999;
    }
    &:after {
      vertical-align: middle;
    }
    &.type2 {
      bottom: auto;
      visibility: hidden;
      z-index: -9999;
      .modal {
        width: 180px;
        height: 180px;
        padding: 0;
        margin: 0;
        background: rgba(0, 0, 0, 0.9);
        &-cnt {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          height: 100%;
          &--inner {

          }
          &--icon {
            img {
              width: 46px;
            }
          }
          &--msg {
            margin-top: 20px;
            font-size: fs(14);
            line-height: fs(20);
          }
        }
      }
      &.show {
        visibility: visible;
        z-index: 10000;
      }
    }
  }
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    overflow: visible;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #7B7B6C;
    background-color: #fff;
    outline: 0;
  }
}

