.header,
.footer,
.header-loginInfor,
.btn-clip,
.printBox,
.section-recipe--right,
.recipe-selection,
.section.advers,
.pickup-suggest,
.breadcrumbWrap,
.recipe-messageBox .link.btn-clip,
.recipe-messageBox .socialBox,
.recipe-messageBox .btn-view-more {
  display: none !important; }

.container,
.section-recipe--left {
  width: 100%; }

/*# sourceMappingURL=../maps/print.css.map */
