@import './variables';

.wprm-print {
    .wprmprc-shopping-list {
        max-width: 650px;
        margin: 0 auto;

        .wprmprc-shopping-list-list-ingredient-name-container {
            word-break: break-all;
            margin-right: 5px;
        }

        .wprmprc-shopping-list-collection,
        .wprmprc-shopping-list-list,
        .wprmprc-shopping-list-item {
            border: none;
        }
        .wprmprc-shopping-list-collection-header,
        .wprmprc-shopping-list-list-header {
            background: none;
            color: black;
        }
    }
}

// Legacy. TODO: remove?
.wprmprc-print {
    display: none;
}
@media print {
    body.wprmprc-printing > *:not(.wprmprc-print) {
        display: none !important;
    }
    
    body.wprmprc-printing .wprmprc-print {
        display: block;
        margin: 20px;

        // Fix Firefox print problem for display: flex elements.
        .wprmprc-collection,
        .wprmprc-collection-column,
        .wprmprc-collection-column-groups,
        .wprmprc-collection-group,
        .wprmprc-shopping-list-collection,
        .wprmprc-shopping-list-list {
            display: block;
        }

        .wprmprc-header-link,
        .wprmprc-header-link-separator,
        .wprmprc-icon,
        .wprmprc-collection-actions {
            display: none !important;
        }
    }
}