@font-face {
  font-family: 'iGlyphicons';
  src: url("../../assets/fonts/glyphicons-regular.eot");
  src: url("../../assets/fonts/glyphicons-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/glyphicons-regular.woff") format("woff"), url("../../assets/fonts/glyphicons-regular.ttf") format("truetype"), url("../../assets/fonts/glyphicons-regular.svg#glyphicons_halflingsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome-ihc';
  src: url("../../assets/fonts/fontawesome-webfont.eot?v=3.2.1");
  src: url("../../assets/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../../assets/fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../../assets/fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../../assets/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ifontello';
  src: url('../../assets/fonts/fontello.eot?99886049');
  src: url('../../assets/fonts/fontello.eot?99886049#iefix') format('embedded-opentype'),
       url('../../assets/fonts/fontello.woff?99886049') format('woff'),
       url('../../assets/fonts/fontello.ttf?99886049') format('truetype'),
       url('../../assets/fonts/fontello.svg?99886049#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ihc-wrapp-list-users  [class^="icont-"],
.ihc-wrapp-list-users  [class*=" icont-"] {
  font-family: FontAwesome-ihc !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  *margin-right: .3em !important;
}
.ihc-wrapp-list-users  [class^="icont-"]:before,
.ihc-wrapp-list-users  [class*=" icont-"]:before {
  text-decoration: inherit !important;
  display: inline-block !important;
  speak: none !important;
}
.ihc-wrapp-list-users  [class^="glyphicont-"],
.ihc-wrapp-list-users  [class*=" glyphicont-"] {
  font-family: 'iGlyphicons' !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  /* sprites.less reset */
  display: inline !important;
  width: auto;
  height: auto;
  line-height: 15px;
  vertical-align: middle;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
.ihc-wrapp-list-users  [class^="glyphicont-"]:before,
.ihc-wrapp-list-users  [class*=" glyphicont-"]:before {
  text-decoration: inherit !important;
  display: inline-block !important;
  speak: none !important;
}
.ihc-theme_1 .glyphicont-globe:before {
content: "\e341";
}
.ihc-theme_1 .glyphicont-envelope:before {
content: "\2709";
}
.ihc-theme_1 .icont-phone:before {
content: "\f095";
}
.ihc-theme_1 .ihc-wrapp-list-users  ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.ihc-theme_1 .ihc-wrapp-list-users  ul li{
box-sizing: border-box;
color: rgb(136, 136, 136);
display: inline-block;
font-family: 'Open Sans', sans-serif;
font-size: 11px;
font-weight: 300;
line-height: 21px;
min-height: 1px;
padding:5px 10px;
position: relative;
width: 292px;
vertical-align: top;
text-align:left;
}
/* IMAGE */
.ihc-theme_1 .member-img{
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0.2s;
-webkit-transition-property: all;
-webkit-transition-timing-function: ease-in-out;
border-bottom-color: rgb(136, 136, 136);
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(136, 136, 136);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(136, 136, 136);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(136, 136, 136);
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(136, 136, 136);
display: block;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
font-weight: 300;
height: auto;
line-height: 21px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
transition-delay: 0s;
transition-duration: 0.2s;
transition-property: all;
transition-timing-function: ease-in-out;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
width: 100%;
text-align: center;
}
.ihc-theme_1 .member-img img{
border-bottom-color: rgb(136, 136, 136);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(136, 136, 136);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(136, 136, 136);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(136, 136, 136);
border-top-style: none;
border-top-width: 0px;
display: inline;
max-width: 100%;
width: auto; /*100%*/
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
pointer: cursor;
-webkit-filter: grayscale(0%);
}
.ihc-theme_1 .ihc-wrapp-list-users  ul li:hover .member-img img{
/*filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");*/
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter: gray;
-webkit-filter: grayscale(100%);
-moz-transform: scale(1.03);
-webkit-transform: scale(1.03);
-o-transform: scale(1.03);
-ms-transform: scale(1.03);
transform: scale(1.03);
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}
.ihc-theme_1 .member-name{
position: absolute;
bottom: 12px;
right: 10px;
color: #fff;
font-size: 14px;
font-weight: 700;
padding: 5px 14px;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
background-color: #444;
z-index: 9994;
}
.ihc-theme_1 .member-name span{
	background-color: rgb(0, 175, 209);
position: absolute;
top: 90%;
right: 0;
color: #fff;
font-size: 13px;
font-weight: 300;
padding: 1px 10px;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
}
.ihc-theme_1 .member-desc{
display: block;
padding-bottom: 5px;
padding-left: 0px;
padding-right: 0px;
padding-top: 14px;
font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: 21px;
font-weight: 300;
color: #888;
}
.ihc-theme_1 .member-email{
padding-bottom: 5px;
padding-left: 0px;
padding-right: 0px;
padding-top: 14px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 21px;
font-weight: 600;
color:#333;
}

.ihc-theme_1 .member-location{
	font-size:10px;
	font-style:italic;
}

.ihc-theme_1 .member-social {
margin-top: 5px;
text-align: center;
width: 100%;
margin-bottom:15px;
}
.ihc-theme_1 .member-social a {
margin-left: 2px;
margin-right: 2px;
text-decoration: none;
}
.ihc-theme_1 .member-social a i {
color: #fff;
width: 28px;
height: 28px;
line-height: 28px;
text-align: center;
border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-o-border-radius: 2px;
display: inline-block;
background-color: #d2d2d2;
transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
font-size: 1.1em;
float:none;
}
.ihc-theme_1 .member-social a i {
background-color: transparent;
color: #aaa;
}
.ihc-theme_1 .member-social a:hover i {
	color:#FFF;
}
.ihc-theme_1 .member-social [class^="icont-"]:before, .ihc-theme_1 .member-social [class*=" icont-"]:before {
font-family: "ifontello";
font-style: normal;
font-weight: normal;
speak: none;
display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
font-variant: normal;
text-transform: none;
line-height: 1em;
margin-left: .2em;
font-size: 12px;
}
.ihc-theme_1 .member-social .icont-facebook:before {
content: '\ea8a';
}
.ihc-theme_1 .member-social .icont-twitter-2:before {
content: '\ec7b';
}
.ihc-theme_1 .member-social .icont-linkedin:before {
content: '\ea92';
}
.ihc-theme_1 .member-social .icont-gplus:before {
content: '\ec69';
}
.ihc-theme_1 .member-social .icont-instagramm:before {
	content: '\ec6b';
}
.ihc-theme_1 .member-social a.facebook:hover i {
	background-color: #507CBE;
}
.ihc-theme_1 .member-social a.twitter:hover i {
	background-color: #63CDF1;
}
.ihc-theme_1 .member-social a.gplus:hover i {
	background-color: #F16261;
}
.ihc-theme_1 .member-social a.dribbble:hover i {
	background-color: #E46387;
}
.ihc-theme_1 .member-social a.linkedin:hover i {
	background-color: #90CADD;
}
.ihc-theme_1 .member-social a.flickr:hover i {
	background-color: #E474AF;
}
.ihc-theme_1 .member-social a.instagramm:hover i {
	background-color: #4D4F54;
}
.ihc-theme_1 .member-social a.Vk:hover i {
	background-color: #45668e;
}
.ihc-theme_1 .member-social a.Tumblr:hover i {
	background-color: #32506d;
}
