@charset "UTF-8";
/* -------------------
  BLOG
--------------------*/

.blog {

  &-list {
    @include mq(tb2) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &-item {
    padding: 0 0 30px;
    border-bottom: solid 1px #C7C7C7;
    @include mq(tb2) {
      width: 48%;
      padding: 0 0 30px !important;
    }
    &--thumb {
      position: relative;
      margin-bottom: 30px;

      @include mq() {
        margin-bottom: 20px;
      }

      &-label {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 4px 6px 2px;
        font-size: fs(10);
        line-height: 1;
        font-weight: bold;
        background-color: #E8E477;

        &.type2 {
          top: 10px;
          right: 10px;
        }
      }
    }

    &--dateWrap {
      margin-bottom: 15px;
    }

    .titleLv3 {
      margin-bottom: 20px;
    }

    &:not(.big) {
      display: flex;
      padding: 35px 0 30px;

      @include mq() {
        display: block;
      }

      .blog-item--thumb {
        width: 260px;
        margin-right: 40px;
        margin-bottom: 0;

        @include mq() {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      .blog-item--infor {
        margin-left: auto;
        width: calc(100% - 300px);

        @include mq() {
          width: 100%;
        }
      }
    }

    &:first-child {
      padding: 0 0 30px;
      @include mq() {
        padding: 0 0 30px;
      }
    }

    &.type2 {
    	padding: 30px;
    	background-color: #fff;
	    border: solid 1px #C7C7C7;
	    .blog-item--thumb {
	    	width: 210px;
	    	margin-right: 30px;
	    	@include mq() {
	    		width: 100%;
	    		margin-right: 0;
	    		a {
	    			display: block;
	    			width: 100%;
	    			img {
	    				width: 100%;
	    			}
	    		}
	    	}
	    }
	    .blog-item--infor {
  	    width: calc(100% - 210px);
  	    @include mq() {
	    		width: 100%;
	    	}
	    }
	    h3 {
	    	margin-top: 0;
	    	margin-bottom: 0;
	    	color: #000;
		    a {
		    	color: inherit;
		    }
	    }
    	p {
    		margin-bottom: 0;
	    }
    }

    &.type3 {
    	padding: 0;
    	border: none;
    	.blog-item--thumb {
	    	width: 355px;
	    	@include mq() {
	    		width: 100%;
	    	}
	    }
	    .blog-item--infor {
  	    width: calc(100% - 355px);
  	    @include mq() {
	    		width: 100%;
	    	}
	    }
    	p {
    		margin-top: 0;
    	}
    	a {
    		font-size: fs(10);
    		line-height: fs(15);
    	}
    }
  }

  &-ctrl {
  	position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 20px 0;

    .back {
      margin-right: auto;
    }

    .next {
      margin-left: auto;
    }
    &--menu {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	-webkit-transform: translate(-50%, -50%);
	    padding-top: 24px;
	    font-size: fs(14);
	    font-weight: bold;
	    color: #7B7B6C;
	    background: url(../images/common/icon-all.svg) no-repeat top center;
	    background-size: 18px 18px;
    }
  }

  &-more {
    padding-bottom: 50px;
    background-color: #F7F6ED;

    &--inner {
      padding: 60px 0;
      background-color: #fff;

      @include mq() {
        padding: 60px 28px;
      }
    }

    .titleLv5 {
      margin-bottom: 30px;

      @include mq() {
        font-size: fs(14);
        line-height: fs(21);
      }
    }

    &--cate {
      display: flex;
      margin-bottom: 60px;

      @include mq() {
        display: block;
      }

      &-tabs {
        width: 320px;
        margin-right: 40px;

        @include mq() {
          width: 100%;
          margin-right: 0;
          margin-bottom: 40px;
        }

        ul {
          border-top: solid 1px #C7C7C7;

          li {
            border-bottom: solid 1px #C7C7C7;

            a {
              display: block;
              padding: 20px;
              font-size: fs(12);
              font-weight: bold;
              color: #7B7B6C;
              background: url(../images/common/icon-arrow-right-gray.svg) right 20px center/10px 10px no-repeat;
              transition: all .3s;

              &:hover {
                opacity: .7;
              }
            }
          }
        }
      }

      &-cnt {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 360px);

        @include mq() {
          display: block;
          width: 100%;
        }
      }

      &-col {
        width: 320px;

        @include mq() {
          width: 100%;
        }

        li {
          margin-bottom: 30px;

          a {
            display: flex;
            justify-content: space-between;

            .titleLv3 {
              margin-top: 4px;
              font-size: fs(12);
              line-height: fs(18);
            }
          }
        }
      }

      &-thumb {
        width: 90px;
        margin-right: 10px;
      }

      &-infor {
        margin-left: auto;
        width: calc(100% - 100px);
      }
    }

    &--search {
      display: flex;

      @include mq() {
        display: block;
      }

      &-col {
        width: 490px;

        @include mq() {
          width: 100%;
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .form-one {
        .input {
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }

  &-detail {
    .blog-item--thumb {
      margin-bottom: 40px;
      @include mq() {
        margin-bottom: 30px;
      }
    }

    p {
      margin-bottom: 40px;
      font-size: fs(14);
      line-height: fs(28);

      @include mq() {
        font-size: fs(12);
        line-height: fs(24);
      }
    }

    &--direct {
    	display: flex;
    	flex-wrap: wrap;
    	align-items: center;
    	justify-content: space-between;
    	padding: 15px 20px 11px;
    	border-top: 1px solid #C7C7C7;
    	border-bottom: 1px solid #C7C7C7;
    	@include mq() {
	    	padding: 30px 20px 20px;
      }
    	&-tag {
    		@include mq() {
	        width: 100%;
	      }
    	}
    	&-sns {
    		display: flex;
    		align-items: center;
    		flex-wrap: nowrap;
    		@include mq() {
	        width: 100%;
	        justify-content: center;
	        margin-top: 20px;
	      }
    		a {
    			margin-right: 20px;
    			@include mq() {
		        width: 40px;
		        height: 40px;
		        background-color: #fff;
		        border: solid 1px #7B7B6C;
		        border-radius: 50%;
		        display: flex;
		        align-items: center;
		        justify-content: center;
		      }
    			&.facebook {
    				padding-bottom: 2px;
    			}
    			&:last-child {
    				margin-right: 0;
    			}
    		}
    	}
    }

  }
}


// Menu contents
.rtoc-mokuji {
  &-wrapper {}

  &-content {
    margin: 0 auto 40px;
    padding: 30px;
    background-color: #fff;
    @include mq() {
    	margin-bottom: 0;
      padding: 30px 20px;
    }
  	.level-1 {
	    margin-top: 1.5em;
	    padding-left: 1.3em;
	    padding-top: 0;
	    padding-right: 0;
	    padding-bottom: 0;
	    margin-bottom: 5px;
	    border: none;
		}
    #rtoc-mokuji-title {
      position: relative;
      font-size: fs(24);
      line-height: fs(36);
      font-family: $font-a;
      .rtoc_open_close {
        position: absolute;
        top: 10px;
        right: 0;
        padding-right: 16px;
        font-size: fs(10);
        line-height: fs(15);
	      color: #7B7B6C;
        font-family: $font-base;
        background: url(../images/common/icon-close-gray.svg) right top 3px / 8px 8px no-repeat;
        &.active {
        	padding-right: 0;
        	background: none;
        }
      }
    }

    .decimal_ol {
    	> .rtoc-item {
		  	position: relative;
		  	margin-bottom: 10px;
		  	font-size: fs(14);
		  	font-weight: bold;
		  	color: #7B7B6C;
		  	list-style: none;
		  	counter-increment: decimal-1;
		  	@include mq() {
			  	font-size: fs(12);
		  	}
		  	&:last-child {
		  		margin-bottom: 0;
		  	}
		  	&:before {
			    content: counter(decimal-1, decimal-leading-zero) "";
			    position: absolute;
			    left: -20px;
			    top: 3px;
			    display: inline-block;
			    font-size: fs(14);
			    color: #7B7B6C;
			    background-color: transparent;
			    background: transparent;
			    -webkit-box-shadow: none;
			    box-shadow: none;
			    font-weight: normal;
			    font-family: $font-a;
			    @include mq() {
			    	top: 2px;
				  	font-size: fs(12);
			  	}
				}
				&:after {
			    position: absolute;
			    content: "";
			    top: 5px;
			    left: 2px;
			    bottom: auto;
			    height: 14px;
			    width: 1px;
			    background-color: #C7C7C7;
			    @include mq() {
			    	top: 3px;
			  	}
				}
				> a {
					position: relative;
					padding-left: 10px;
					@include mq() {
						display: block;
					}
				}
		  }
    }

  	.mokuji_ul {
  		&.level-2 {
  			padding-left: 25px;
  		}
    	> .rtoc-item {
    		position: relative;
    		margin-bottom: 8px;
    		font-size: fs(12);
    		line-height: fs(18);
    		color: #7B7B6C;
    		font-weight: bold;
    		list-style: none;
	    	&:before {
			    position: absolute;
			    top: 8px;
			    left: -1.4em;
			    width: 8px;
			    height: 2px;
			    background-color: #7B7B6C;
			    content: '';
				}
    	}

  	}
  }

}