@charset "UTF-8";

/* -------------------
  MYPAGE
--------------------*/
.clip {
	&-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		@include mq(sm4) {
			margin: 0 -5px;
		}
		li {
			position: relative;
			width: 25%;
			margin-bottom: 30px;
			padding: 0 10px;
			@include mq(sm4) {
				width: 50%;
				padding: 0 5px;
			}
			.btn-clip2 { 
				position: absolute;
				top: 62px;
				right: 18px;
				width: 45px;
				height: 45px;
				background: #369ED5 url(../images/common/icon-lock-white.svg) center center / 15px 15px no-repeat;
				border-radius: 50%;
				z-index: 100;
				cursor: pointer;
			}
		}
		&--thumbWrap {
			margin-bottom: 5px;
		}
		&--thumb {
			height: 114px;
			overflow: hidden;
		}

	}
}