@charset "UTF-8";
/* -------------------
  NEWS
--------------------*/
.news {
	&-cnt {
		background-color: #fff;
		padding: 45px;
		@include mq() {
			padding: 30px 20px;
		}
	}
	
	&-item {
		display: block;
		border-bottom: solid 1px #C7C7C7;
		a {
			padding: 15px 0;
		}
		&--ttl {
			margin-top: 5px;
			font-size: fs(14);
			line-height: fs(21);
			color: #7B7B6C;
		}
	}
}