@charset "UTF-8";
/* -------------------
  RECIPE DETAIL
--------------------*/
.recipe {
	// .section-recipe--right-inner {
	// 	padding-top: 0;
	// }
	.sectionEP {
		&-titleInfor {
			margin-bottom: 5px;
			.date {
				&.big {
					margin-left: 5px;
				}
			}
		}
	}
	&-mv {
		&--thumbWrap {
			position: relative;
		}
		&--thumb {
			max-height: 500px;
			overflow: hidden;
		}
		.btn-clip {
			position: absolute;
			bottom: 20px;
			right: 20px;
			@include mq() {
				position: static;
				width: 100%;
				margin: 10px 0;
			}
			span {
				font-size: fs(14);
				@include mq() {
					font-size: fs(12);
				}
			}
		}
		&--des {
			padding: 38px;
			font-size: fs(14);
			line-height: fs(25);
			font-weight: bold;
			background-color: #fff;
			@include mq() {
				padding: 18px 20px;
			}
		}

	}
	&-inforMV {
		border-top: solid 1px #C7C7C7;
		&--row {
			display: flex;
			align-items: center;
			padding: 20px 38px;
			border-bottom: solid 1px #C7C7C7;
			@include mq() {
				padding: 20px;
			}
			&:first-child {
				padding: 20px 38px 16px;
				@include mq() {
					display: block;
					padding: 20px 20px 16px;
				}
			}
			&-ttl {
				margin-right: 10px;
				font-size: fs(12);
				line-height: fs(12);
				font-weight: bold;
				color: #000;
				@include mq() {
					margin-right: 0;
					margin-bottom: 8px;
				}
			}
		}
		&--detail {
			display: flex;
		  align-items: center;
		  @include mq() {
		    align-items: start;
			}
			&-item {
				position: relative;
				display: flex;
				align-items: center;
				padding-right: 20px;
				@include mq() {
			  	display: block;
			  	padding-right: 40px;
				}
				&:first-child {
					&:after {
						position: absolute;
						top: 5px;
						right: 0;
						display: block;
						width: 1px;
						height: 12px;
						background-color: #C7C7C7;
						content: "";
						@include mq() {
				    	top: 0;
					    height: 54px;
				    }
				    @include mq(sm2) {
				    	height: 90px;
				    }
					}
				}
				&:nth-child(2) {
					padding-right: 0;
					padding-left: 20px;
				}
			}
			&-ttl {

			}
		}
		&--summary {
			margin-left: 10px;
			font-size: fs(12);
			line-height: fs(18);
			@include mq() {
	    	margin-left: 15px;
	    }
		}

	}

	&-inforTable {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		@include mq() {
			display: block;
    }
		&--titleWrap {
			position: relative;
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
			min-height: 50px;
			@include mq() {
				display: block;
				margin-bottom: 20px;
	    }
			&.type2 {
				align-items: baseline;	
				justify-content: left;
				@include mq() {
					display: flex;
					margin-bottom: 0;
					.titleLv3 {
						margin-right: 6px;
					}
				}
			}
			.titleLv3 {
				margin-right: 8px;
				@include mq() {
					margin-right: 0;
					margin-bottom: 	25px;
				}
			}
		}
		&--note {
			font-size: fs(12);
			line-height: fs(18);
			font-weight: bold;
		}
		&--ctrl {
			position: absolute;
	    right: 0;
	    top: 10px;
	    width: 40px;
	    height: 12px;
	    color: #7B7B6C;
	    z-index: 1;
	    text-align: right;
			font-size: fs(12);
	    line-height: 1;
	    font-weight: bold;
		}
		&--col {
			width: 335px;
			max-width: 45%;
			@include mq() {
				max-width: 100%;
				width: 100%;
				margin-bottom: 35px;
				&.type2 {
					margin-bottom: 0;
				}
			}
		}
		&--cnt {
			&-label {
				padding: 10px 0;
				font-weight: bold;
				font-size: fs(16);
			}
			table {
				width: 100%;
				font-size: fs(14);
				line-height: fs(21);
				margin-bottom: 10px;
				tr {
					border-bottom: dashed 1px #C7C7C7;
				}
				th, td {
					padding: 10px 8px;
				}
				th {
					color: #7B7B6C;
					text-align: left;
					a {
						text-decoration: underline;
						transition: all .3s;
						&:hover {
							text-decoration: none;
						}
					}
				}
				td {
					text-align: right;
				}
				&.nutrients {
					tr {
						&.active {
							background-color: #D3D940;
						}
					}
					th {
						color: inherit;
						text-decoration: none;
						transition: all .3s;
					}
				}
			}
			&.ctrl {
				@include mq() {
					display: none;
				}
			}
		}
	}

	&-howtomake {
		margin: 60px 0 45px;
		padding: 40px;
		background-color: #fff;
		@include mq() {
			margin: 40px 0 45px;
			padding: 30px 20px;
    }
		.titleLv4 {
			margin-bottom: 30px;
			@include mq() {
				margin-bottom: 20px;	    
			}
		}	
		&--label {
			margin: 40px 0 10px;
			font-weight: bold;
			font-size: fs(16);
		}
		&--list {
			border-top: dashed 1px #C7C7C7;
			li {
				display: flex;
				justify-content: space-between;
				padding: 30px 20px;
				border-bottom: dashed 1px #C7C7C7;
				counter-increment: step-no;
				@include mq() {
					padding: 15px 0;    
					display: block;
				}
			}
		}
		&--des {
			position: relative;
			padding-left: 35px;
			font-size: fs(14);
			line-height: fs(21);
			@include mq() {
				padding-left: 30px;    
			}
			&:before {
				position: absolute;
				top: -2px;
				left: 0;
				display: inline-block;
				font-size: fs(18);
				line-height: fs(27);
				font-family: $font-b;
				font-weight: bold;
				content: counter(step-no) ".";
			}
		}
		&--thumb {
			// width: 160px;
			// height: 120px;
			width: 190px;
			height: 142px;
			margin-left: 20px;
			overflow: hidden;
			flex-shrink: 0;
			@include mq() {
				margin: 15px auto 0;
			}
		}
	}
	&-messageBox {
		margin-bottom: 80px;
		text-align: center;
		@include mq() {
			margin-bottom: 60px;
		}
		&--feeling {
			position: relative;
			display: flex;
	    align-items: center;
	    justify-content: center;
			width: 438px;
			min-height: 56px;
			padding: 10px 55px;
			margin: 0 auto 20px;
			font-size: fs(12);
			line-height: fs(18);
			font-weight: bold;
			text-align: left;
			@include mq() {
				width: 100%;
		    padding: 0 55px;
			}
			&:before {
		    position: absolute;
		    top: 8px;
		    left: 24px;
		    display: inline-block;
		    width: 1px;
		    height: 45px;
		    background-color: #000;
		    transform: skew(45deg);
		    -webkit-transform: skew(45deg);
		    content: "";
			}
			&:after {
		    position: absolute;
		    top: 8px;
		    right: 24px;
		    display: inline-block;
		    width: 1px;
		    height: 45px;
		    background-color: #000;
		    transform: skew(-45deg);
		    -webkit-transform: skew(-45deg);
		    content: "";
			}
		}
		.btn-clip {
			width: 345px;
			max-width: 100%;
			height: 60px;
			line-height: 60px;
			margin: 0 auto;
			span {
				font-size: fs(14);
			}
		}
		.socialBox {
			margin-top: 40px;
		}
		.btn-view-more {
			margin-top: 60px;
			@include mq() {
				margin-top: 40px;
			}
		}
	}
	&-selection {
		margin-top: 80px;
		&.type2 {
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid #C7C7C7;
		}
		.titleLv2 {
			margin-bottom: 40px;
		}
	}
	&-item {
		&--time {
	    display: flex;
	    align-items: center;
	    @include mq() {
	    	justify-content: space-between;
	    	min-height: 36px;
	    }
	    @include mq(sm2) {
	    	min-height: 72px;
	    }
		}
	}
}

.printBox {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	&-btn {
		display: inline-block;
		padding: 5px 9px 5px 34px;
		font-size: fs(12);
		font-weight: bold;
		color: #7B7B6C;
		border: 1px solid #7B7B6C;
		border-radius: 2px;
		background: #fff url(../images/common/icon-printer.svg) left 10px center / 15px 15px no-repeat;
		transition: all .3s;
		&:hover {
			opacity: .7;
		}
	}
}