@charset "UTF-8";
/* -------------------
  RESTAURANT REGISTRATION
--------------------*/

.registration {
  &-cnt {
    .titleLv2 {
      margin-bottom: 40px;
    }
  }

  &-intro {
    margin-bottom: 80px;
  }

  &-benefits {
    margin-bottom: 60px;

    &--list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px;

      @include mq() {
        display: block;
        margin: 0;
      }

      li {
        width: 33.33%;
        padding: 0 12px;
        margin-bottom: 20px;

        @include mq() {
          width: 100%;
          padding: 0;
        }

        .benefitsIn {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 30px;
          height: 100%;
          background-color: #fff;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }

  &-flow {
    margin-bottom: 80px;

    &--list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;

      @include mq() {
        display: block;
        margin: 0;
      }

      li {
        display: flex;
        align-items: center;
        width: 25%;
        padding: 0 5px;
        margin-bottom: 10px;
        counter-increment: flow-counter;

        @include mq() {
          width: 100%;
          padding: 0;
          margin-bottom: 30px;
        }

        &:last-child {
          .flowin {
            padding-right: 0;
            background: none;
          }
        }

        .flowin {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0 12px 0 40px;
          background: url(../images/common/icon-step.png) right center / 6px 14px no-repeat;

          @include mq() {
            padding: 0 0 0 40px;
            background: none;
          }

          &:before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            display: block;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border-radius: 50%;
            background-color: #7B7B6C;
            color: #fff;
            font-size: fs(14);
            font-weight: bold;
            text-align: center;
            content: counter(flow-counter);
          }
        }
      }
    }
  }

  &-tieUp {
  	margin-bottom: 60px;
  	&--ttl {
  		margin: 15px 0 6px;
  		font-size: fs(12);
  		line-height: fs(18);
  		font-weight: bold;
  		@include mq() {
	      font-size: fs(10);
	  		line-height: fs(16);
	    }
  	}
  	&--list {
	    display: flex;
	    flex-wrap: wrap;
	    margin: 0 -12px;

	    @include mq() {
	      display: block;
	      margin: 0;
	    }

	    li {
	      display: flex;
	      align-items: center;
	      width: 33.33%;
	      padding: 0 12px;
	      margin-bottom: 24px;

	      @include mq() {
	        width: 100%;
	        padding: 0;
	      }

	      a {
	      	display: block;
	      }
	    }
  	}
  }
}