@charset "UTF-8";
/* -------------------
  RESTAURANT
--------------------*/

.p-restaurant {
	@include mq(sm) {
		.input {
			&.big {
				height: 60px;		
			}
		}
	}
	@include mq(pc) {
		.section-restaurant {
			&--head {
				margin-bottom: 40px;
				.titleLv4 {
					text-align: left;
					margin-bottom: 10px;
				}
			}
			&--form {
				border: none;
				border-radius: 0;
				&-cnt {
					display: block;
				}
				&-cnt {
					display: block;
				}
				&-col {
					width: 100%;
					padding: 40px 40px 20px;
				}
				.form-action {
					padding: 40px 0;
				}
			}
			&--cboxList {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li {
					width: 30%;
					margin-bottom: 22px;
				}
			}
		}
		.input {
			height: 60px;		
		}
		.form-search {
			display: flex;
			justify-content: space-between;
			select {
				width: calc(50% - 5px);
			}
		}
		.section-recipe--search-label {
			font-size: fs(18);
		  line-height: fs(27);
		  font-weight: bold;
		  @include mq() {
		    font-size: fs(16);
		    line-height: fs(24);
		  }
		}
	}
	&--advers {
		margin-top: 40px;
    padding: 60px 0 50px;
    background: url(../images/top/bg-restaurant.png) top left/cover no-repeat;
    text-align: center;
    &.rest {
    	background-image: url(../images/top/bg-restaurant02.png);
    }
    &-feeling {
    	display: inline-block;
    	position: relative;
    	margin-bottom: 10px;
    	padding: 0 40px;
    	color: #fff;
    	font-size: fs(17);
    	font-weight: bold;
    	&:before {
		    position: absolute;
        top: 4px;
		    left: 18px;
		    display: inline-block;
		    width: 1px;
		    height: 22px;
		    background-color: #fff;
		    transform: skew(35deg);
		    -webkit-transform: skew(35deg);
		    content: "";
			}
			&:after {
		    position: absolute;
		    top: 4px;
		    right: 18px;
		    display: inline-block;
		    width: 1px;
		    height: 22px;
		    background-color: #fff;
		    transform: skew(-35deg);
		    -webkit-transform: skew(-35deg);
		    content: "";
			}
    }
    &-question {
    	margin-bottom: 15px;
    	color: #fff;
    	font-size: fs(20);
    	line-height: fs(30);
    	font-weight: bold;
    	&.type2 {
    		font-size: fs(14);
	    	line-height: fs(21);
	    	font-weight: normal;
    	}
    }
    .btn-view-more2 {

    }
	}
	&--item {
		padding: 30px 0;
		border-bottom: solid 1px #C7C7C7;
		&:first-child {
			padding-top: 0;
		}
		&-cnt {
			display: flex;
			justify-content: space-between;
			@include mq() {
				display: block;
			}
		}
		.titleLv4 {
			margin-bottom: 20px;
		}
		&-thumbbox {
			width: 280px;
			margin-right: 30px;
			@include mq() {
				width: 100%;
				margin-right: 0;
			}
		}
		&-thumb {
			margin-bottom: 10px;
			max-height: 210px;
			overflow-y: hidden;
			@include mq() {
				max-height: 62.4vw;
			}
			img {
				width: 100%;
				object-fit: cover;
			}
		}
		&-tagbox {
			@include mq() {
				margin-bottom: 20px;
			}
		}
		&-infor {
			width: calc(100% - 310px);
	    flex-shrink: 0;
	    @include mq() {
				width: 100%;
			}
			table {
				width: 100%;
				border-top: dashed 1px #C7C7C7;
				tr {
					border-bottom: dashed 1px #C7C7C7;
				}
				th, td {
					padding: 12px 8px;
					text-align: left;
				}
				th {
					font-weight: bold;
				}
			}
			.btn-gray {
				margin-top: 24px;
				width: 100%;
			}
		}
	}

	.rest-slider {
		margin-bottom: 10px;
		li {
			height: 438px;
	    overflow-y: hidden;
	    @include mq(sm4) {
				height: 220px;
		  }
		}
		&-nav {
			margin-bottom: 30px;
			@include mq() {
				margin-bottom: 20px;
		  }
			.slick-list .slick-track {    
			  margin: 0 -3px;
			  @include mq() {
			  	margin: 0 auto;
			  }
				.slick-slide {
					padding: 0 3px;
					cursor: pointer;
					transition: all .3s;
					@include mq() {
				  	padding: 0;
				  }
					&:hover {
						opacity: .7;
					}
				}
			}
		}
	}
	.rest-detail {
		&--table {
			margin-top: 30px;
			@include mq() {
				margin-top: 15px;
		  }
			table {
				width: 100%;
				border-top: dashed 1px #C7C7C7;
				tr {
					border-bottom: dashed 1px #C7C7C7;
				}
				th, td {
					padding: 12px 8px;
					text-align: left;
					iframe {
						width: 100%;
						height: 250px;
						margin-top: 12px;
					}
				}
				th {
					font-weight: bold;
					@include mq() {
				    word-break: keep-all;
					}
				}
			}
		}
		&--suggest {
			@include mq() {
				padding: 0 12px;
			}
			&-list {
				display: flex;
				flex-wrap: wrap;
				margin: 40px -10px 0;
				@include mq(sm4) {
					margin: 35px -5px 0;
				}
				li {
					width: 25%;
					margin-bottom: 20px;
					padding: 0 10px;
					@include mq(sm4) {
						width: 50%;
						padding: 0 5px;
					}
				}
			}
			&-tag {
				margin: 10px 0 8px;
				font-size: fs(12);
				line-height: fs(18);
				font-weight: bold;
				color: #7B7B6C;
			}
			&-thumb {
				height: 116px;
				overflow: hidden;
			}
		}
	}
	.btn-view-moreWrap {
		margin: 60px 0 80px;
		text-align: center;
		@include mq() {
			margin: 40px 0 60px;
		}
	}
	&.rest-detail {
		.section-recipe--row {
			@include mq() {
				margin: 0 -12px !important;
			}
		}
	}
}

