@charset "UTF-8";
/* -------------------
  TOP PAGE
--------------------*/


// Mainvisual
.main-visual {
	padding: 50px 0;
	background-color: #EDEBDE;
	@include mq() {
		padding: 32px 12px 10px;
  }
	.container {
		display: flex;
		justify-content: space-between;
		@include mq() {
	    display: block;
	  }
	}
	&--left {
		width: 72%;
		@include mq() {
	    width: 100%;
	  }
	}
	&--right {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		width: 25%;
		@include mq() {
	    width: 100%;
	  }
		.pickup {
			width: 100%;
			@include mq() {
				padding-bottom: 0;
				.link {
					display: flex;
				}
				.pickup-thumb {
					width: 165px;
					height: 110px;
					overflow: hidden;
				}
				.pickup-cnt {
					width: calc(100% - 165px);
					padding-left: 20px;
				}
				.pickup-title {

				}
		    &:before {
		    	display: none;
		    }
		  }
		}
	}
}

// Section
.section {
	padding: 70px 0;
	@include mq() {
		padding: 30px 0;
		.container {
			padding: 0 12px;
		}
  }
	.view-more-wrap {
		margin-top: 30px;
		text-align: right;
		@include mq() {
			text-align: center;
	  }
	}
	&.end {
		padding: 60px 0;
		@include mq() {
			padding: 30px 0;
		}
	}
	&.rest {
		padding: 60px 0;
		@include mq() {
			padding: 0 0 30px;
		}
	}
	&.blog {
		padding: 60px 0;
		@include mq() {
			padding: 0 0 50px;
		}
	}
	&.advers {
		padding-top: 0;
	}
	&.recipe {
		.container {
			display: flex;
			justify-content: space-between;
			@include mq() {
		    display: block;
		  }
		}
	}
	&-recipe {
		&--left {
			width: 72%;
			@include mq() {
		    width: 100%;
		  }
		}
		&--right {
			// justify-content: space-between;
			width: 25%;
			@include mq() {
		    width: 100%;
		    margin-top: 50px;
		    padding: 12px;
		    background: url(../images/common/bg-line-full.svg) repeat;
		  }
			&-inner {
				display: flex;
				flex-flow: column;
				padding: 10px 0 0;
				&.type2 {
					padding: 0;
					@include mq() {
						padding: 30px 36px 10px;
				    width: 100%;
				    background-color: #F7F6ED;
				  }
				}
				@include mq() {
					padding: 30px 36px 10px;
			    width: 100%;
			    background-color: #F7F6ED;
			  }
			}
			.form-oneWrap {
				margin-bottom: 12px;
			}
			.form-suggest {
				margin-bottom: 30px;
				&--label {
					margin-bottom: 10px;
					font-size: fs(12);
					line-height: fs(18);
				}
			}
		}
		&--row {
			margin-bottom: 60px;
			@include mq() {
				margin-bottom: 30px;
		  }
			&:last-child {
				margin-bottom: 0;
			}
			.section-title {
				margin-bottom: 40px;
				@include mq() {
			    margin-bottom: 20px;
			  }
			}
		}
		&--pickup {
			padding: 20px 0;
			border-bottom: solid 1px #C7C7C7;
			counter-increment: ranking-counter2;
			&:first-child {
				padding-top: 0;
			}
			@include mq() {
		    display: block;
		    padding: 15px 0 10px;
		  }
		  &-inner {
				display: flex;
				justify-content: space-between;
				@include mq() {
			    margin-bottom: 15px;
			  }
		  }
		  &:nth-child(1) {
		    .ranking {
		      &:before {
		        background-color: #A2971A;
		      }
		    }
		  }

		  &:nth-child(2) {
		    .ranking {
		      &:before {
		        background-color: #7B7B7B;
		      }
		    }
		  }

		  &:nth-child(3) {
		    .ranking {
		      &:before {
		        background-color: #574A31;
		      }
		    }
		  }
			&-thumb {
				width: 37%;
				max-height: 185px;
				overflow: hidden;
				@include mq(sm4) {
			    max-height: 98px;
			  }
			 &.ranking {
			 	position: relative;
			 	&:before {
			    position: absolute;
			    top: 0;
			    left: 0;
			    display: inline-block;
			    width: 30px;
			    height: 30px;
			    font-size: fs(14);
			    font-family: $font-b;
			    font-weight: bold;
			    line-height: 30px;
			    text-align: center;
			    color: #fff;
			    background-color: #000;
			    content: counter(ranking-counter2);
				}
				}
			}
			&-cnt {
				width: 59%;
				display: flex;
				flex-wrap: wrap;
        justify-content: center;
		    flex-flow: column;
		    .date {
		    	// margin-bottom: 14px;
		    }
		    .pickup-title {
			    margin: 12px 0 18px;
			    @include mq() {
				    margin: 10px 0 0;
				  }
		    }
		    .pickup-infor {
		    	margin-top: 15px;
		    }
			}
		}
		&--selectionList {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -3px;
			@include mq() {
		    display: block;
		    margin: 0;
		  }
		}
		&--selection {
			width: 33.33%;
			margin-bottom: 6px;
			padding: 0 3px;
			@include mq() {
		    width: 100%;
		    padding: 0;
		    margin-bottom: 12px;
		  }
			&-inner {
				display: block;
				background-color: #fff;
				height: 100%;
				@include mq() {
			    display: flex;
			  }
			}
			&-thumb {
				height: 156px;
				overflow: hidden;
				@include mq() {
					width: 165px;
					height: 105px;
			  }
			}
			&-cnt {
				padding: 24px;
				@include mq() {
					display: flex;
					align-items: center;
					width: calc(100% - 165px);
					padding: 5px 20px;
			  }
				&.pickup-title {
					margin: 0;
				}
			}
		}
		&--search {
			margin-bottom: 30px;
			.label-msg {
				margin-bottom: 20px;
			}
			&-label {
				margin-bottom: 15px;
				font-size: fs(12);
				line-height: 1;
				font-weight: bold;
				&.ctrl {
					@include mq(){
						position: relative;
						padding-right: 40px;
						margin-bottom: 10px;
						span {
							position: absolute;
							right: 0;
							top: 0;
							width: 40px;
							height: 12px;
							color: #7B7B6C;
							z-index: 1;
							text-align: right;
						}
					}
				}
			}
		}
		&--ranking {
			.label-msg {
				margin-bottom: 15px;
			}
			&-viewmore {
				margin-top: 15px;
				text-align: right;
			}
		}
		&--advers {
			margin-top: 30px;
			a {
				display: block;
				margin-bottom: 20px;
			}
		}
	}
	&.column {
		margin-bottom: 30px;
		@include mq() {
			padding-top: 110px;
			margin-bottom: 20px;
		}
		.container {
			position: relative;
			padding-bottom: 80px;
			z-index: 1;
			@include mq() {
				padding-bottom: 40px;
			}
			&:after {
				display: block;
				position: absolute;
				top: 0;
				left: 45px;
				width: 1170px;
				height: 100%;
				background-color: #F4ECB8;
				content: "";
				z-index: -1;
				@include mq() {
					left: 24px;
					width: calc(100% - 48px);
				}
			}
		}
	}
	&-column {
		&--title {
			position: absolute;
			top: -45px;
			left: 24px;
			width: 262px;
			height: 140px;
			@include mq() {
				width: 250px;
				height: 148px;
				left: 50%;
				transform: translateX(-50%) !important;
				-webkit-transform: translateX(-50%) !important;
			}
		}
		&--des {
	    padding: 45px 0 60px;
	    font-size: fs(14);
	    line-height: fs(21);
	    font-weight: bold;
	    text-align: right;
	    @include mq() {
		    padding: 115px 0 30px;
		    text-align: center;
		    font-size: fs(12);
		    line-height: fs(18);
			}
		}
		&--list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -20px;
			@include mq() {
				display: block;
				margin: 0;
			}
		}
		&--item {
			width: 50%;
			padding: 0 20px;
			margin-bottom: 40px;
			@include mq() {
				width: 100%;
				padding: 0;
				margin-bottom: 30px;
			}
			a {
				position: relative;
				display: flex;
				justify-content: space-between;
				&:before {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					height: 6px;
					width: 100%;
					background: url(../images/common/bg-line-trans.svg) top left / contain repeat;
					content: "";
				}
			}
			&-thumb {
				width: 240px;
				height: 152px;
				overflow: hidden;
				@include mq() {
					width: 165px;
					height: 105px;
				}
			}
			&-cnt {
				width: calc(100% - 260px);
		    padding-top: 30px;
		    @include mq() {
					width: calc(100% - 165px);
					padding: 10px 0 0 10px;
				}
			}
			&-des {
				position: relative;
				font-size: fs(16);
				line-height: fs(24);
		    margin-left: -45px;
				font-weight: bold;
				z-index: 1;
				@include mq() {
					font-size: fs(14);
					line-height: fs(21);
				}
				@include mq(sm3) {
					max-width: 50vw;
				}
				@include mq(tb) {
					max-width: 50vw;
				}
				&:after {
					position: absolute;
					top: 3px;
					left: 0;
					width: 100%;
					height: calc(100% - 8px);
					background-color: #fff;
					content: "";
					z-index: -1;
				}
			}
		}
	}
	&.restaurant {
		padding: 90px 0;
		background: url(../images/top/bg-restaurant.png) top left / cover no-repeat;
		@include mq() {
			padding: 50px 0 25px;
		}
		.section-title  {
			margin-bottom: 40px;
			color: #fff;
			@include mq() {
				margin-bottom: 20px;
			}
		}
		.pickup-title {
			margin: 0 0 30px;
			color: #fff;
		}
		.form-one {
			width: 380px;
			margin: 0 auto;
			max-width: 100%;
			.input {
		    height: 60px;
		    padding: 20px 40px 20px 20px;
			}
			.search {
				right: 20px;
			}
		}
	}
	&-restaurant {
		&--form {
			border: 1px solid #C7C7C7;
			border-radius: 4px;
			background-color: #fff;
			&-cnt {
				display: flex;
				border-bottom: 1px solid #C7C7C7;
				@include mq() {
					display: block;
					padding: 15px 28px 20px;
					border-bottom: none;
				}
			}
			&-col {
				width: 33.33%;
				padding: 40px 28px 20px;
				border-right: solid 1px #C7C7C7;
				@include mq() {
					width: 100%;
					padding: 20px 0 15px;
					border-bottom: 1px solid #C7C7C7;
					border-right: none;
				}
				&:last-child {
					border-right: none;
				}
			}
			.form-action {
				padding: 30px 0;
				justify-content: center;
				@include mq() {
					display: block;
					padding: 0 28px 5px;
					.btn-gray {
						width: 100% !important;
						&.sliver {
							margin-top: 8px;
							background-color: transparent;
							color: #7B7B6C;
							font-size: fs(12);
						}
					}
				}
				.btn-gray {
					width: 125px;
					margin-right: 5px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		&--head {
			margin-bottom: 30px;
			text-align: center;
			@include mq() {
				margin-bottom: 22px;
			}
		}
		&--cboxList {
			padding-top: 2px;
			@include mq() {
				&.ctrl {
					display: none;
					padding-top: 10px;
				}
			}
			li {
				margin: 0 15px 12px 0;
				display: inline-block;
				@include mq() {
					display: block;
			    margin: 0 15px 20px 0;
					font-size: fs(12);
				}
			}
		}
	}
	&.news {
		padding-bottom: 90px;
		@include mq() {
			padding: 50px 0;
		}
	}
	&-news {
		&--cnt {
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			@include mq() {
				display: block;
			}
		}
		&--ttl {
			padding-top: 10px;
			@include mq() {
				margin-bottom: 20px;
				padding-top: 0;
			}
		}
		&--listWrap {
			width: calc(100% - 145px);
			@include mq() {
				width: 100%;
			}
		}
		&--list {
			display: flex;
			margin: 0 -12px 40px;
			@include mq() {
				display: block;
				margin: 0;
			}
			li {
				width: 33.33%;
				padding: 0 12px;
				@include mq() {
					width: 100%;
					padding: 0;
				}
				a {
					display: block;
					padding-top: 15px;
					border-top: 1px solid #C7C7C7;
					.date {
						font-size: fs(14);
					}
					@include mq() {
						padding: 15px 0;
						.date {
							font-size: fs(12);
						}
					}
				}
			}
		}
		&--sum {
			margin-top: 8px;
			font-size: fs(14);
			line-height: fs(21);
			color: #7B7B6C;
			@include mq() {
				margin-top: 5px;
				font-size: fs(12);
			}
		}
		&--advers {
			display: flex;
			@include mq() {
				display: block;
				margin: 0;
				text-align: center;
			}
			@include mq(sm3) {
				display: flex;
				margin: 0 -8px;
			}
			a {
				display: block;
				width: 33.33%;
				padding: 0 8px;
				@include mq() {
					width: 100%;
					margin-bottom: 10px;
					padding: 0;
				}
				@include mq(sm3) {
					width: 33.33%;
					padding: 0 8px;
				}
			}
		}
	}
}