// Hack IE 10, 11
@media all and (-ms-high-contrast:none) {
	.main-visual--right {
		display: block;
		.pickup {
			margin-bottom: 44px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.tag {
		padding: 6px 6px 2px;
	}

	.menu-item a {
		background-position-y: 7px;
		&.pen {
			background-position-y: 7px;
		}
		&.fork {
			background-position-y: 5px;
		}
		&.lock {
			background-position-y: 4px;
		}
	}

	.input {
		padding: 11px 40px 13px 16px;
	}

	.menu-item--msg {
		line-height: 38px;
	}

	select::-ms-expand {
    display: none;
	}

	.section-column--item-des::after {
		top: 1px;
	}
	.tabs-item {
		padding: 6px 5px 3px;
	}

	.btn-gray.sliver {
		line-height: 42px;
	}
}

.section {
	background-color: #F7F6ED;
}

.breadcrumb {
  &Wrap {
		background-color: #F7F6ED;
  }
}

.sectionEP-resultSumary {
	display: inline-block;
	margin-left: auto;
}

.sectionEP-title::before {
	top: calc(50% - 8px);
}