<div class="recipe-inforMV--row">
    <div class="recipe-inforMV--detail">
        <div class="recipe-inforMV--detail-item">
            <p class="recipe-inforMV--row-ttl">カロリー</p>
            <div class="recipe-item--time">
                <span class="recipe-item kcal">[wprm-recipe-nutrition label_container="1" field="calories" unit="1" label="" label_separator=": "]</span>
            </div>
        </div>
        <div class="recipe-inforMV--detail-item">
            <p class="recipe-inforMV--row-ttl">所要時間</p>
            <div class="recipe-item--time">
                <span class="recipe-item time">30分</span>
                <p class="recipe-inforMV--summary">準備時間：5分<span class="pc-only2">／</span><br class="sp-only">調理時間：25分</p>
            </div>
        </div>
    </div>
</div>
[wprm-recipe-time field="cook_time"]

<div class="wprm-container-float-right">
    [wprm-recipe-image default="150x150"]
</div>
<div class="wprm-recipe-template-columns-name-stars-container">
	[wprm-recipe-name tag="h2" text_style="uppercase"]
	[wprm-recipe-rating display="stars"]
</div>
[wprm-spacer size="5px"]
[wprm-recipe-tags-container label_style="uppercase-faded" style="inline" label_separator=": " text_style="uppercase"]
[wprm-recipe-times-container label_style="uppercase-faded" style="inline" label_separator=": " text_style="uppercase"]
[wprm-recipe-servings label_container="1" label="Servings" label_style="uppercase-faded" style="inline" label_separator=": " text_style="uppercase"]
[wprm-recipe-nutrition label_container="1" field="calories" unit="1" label="Calories" label_style="uppercase-faded" style="inline" label_separator=": " text_style="uppercase"]
[wprm-recipe-cost label_container="1" label="Cost" label_style="uppercase-faded" style="inline" label_separator=": " text_style="uppercase"]
[wprm-spacer]
[wprm-recipe-summary]
[wprm-spacer]
[wprm-recipe-print icon="" text="Print Recipe" style="inline-button" text_color="#ffffff" button_color="#333333" horizontal_padding="12px" text_style="normal"]
[wprm-recipe-add-to-collection icon="" style="inline-button" text_color="#ffffff" button_color="#333333" horizontal_padding="12px" text_style="normal"]
[wprm-spacer size="5px"]
[wprm-recipe-unit-conversion text_style="bold"]
<div class="wprm-recipe-template-columns-main">
    <div class="wprm-recipe-template-columns-left">
    [wprm-recipe-equipment header="Equipment" header_style="uppercase"]
    [wprm-recipe-ingredients header="Ingredients" notes_style="faded" group_style="uppercase-faded" header_style="uppercase" unit_conversion=""]
    </div>
    <div class="wprm-recipe-template-columns-right">
        [wprm-recipe-instructions header="Instructions" group_style="uppercase-faded" header_style="uppercase" text_margin="5px" image_size="medium"]
    </div>
</div>
[wprm-recipe-video header="Video" header_style="uppercase"]
[wprm-recipe-notes header="Notes" header_style="uppercase"]
[wprm-nutrition-label style="simple" header="Nutrition" header_style="uppercase"]