/*!
 *  Croppic Style
 *  Dedicated for cropping avatar feature
 */
/*
 * -------------------------- */
/* Fix crop module compatibility */
#croppicModalObj img,
 .cropImgWrapper img{
	max-width:unset;
}

.cropImgWrapper{
	border: 1px dashed rgba(255,255,255,0.6);
}
.cropControls i.cropControlRemoveCroppedImage{
	display:none;
}
.cropControls{
	top:auto !important;
	bottom:10px;
	right: 0px !important;
	padding: 12px 14px;
    height: auto !important;
    background-color: rgba(0,0,0,0) !important;
    border-radius: 50%;
}

.ihc-edit-top-ap-banner .cropControls{
right: 20px !important;
}
.cropControlsCrop{
	/*background-color: rgba(0,0,0,0.35) !important;*/
	border-radius: 0;
    padding: 5px 4px;
}
/**** dev ***/

.uap-cst-croppic .cropControls i {
  background-color:rgba(0,0,0,0.35);
}

#uap-custom-controls i {

  font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    padding: 9px 10px;
    line-height: 20px;
}
#uap-custom-controls i:before {
  content: none;
}

.uap_delimiter {
  background-color:rgba(0,0,0,0.35);
  float: left;
  color:#fff;
  font-weight:100;
  opacity: 0.7;
}
/*** end dev ***/
.cropControlsCrop:hover{
	opacity: 1;
}
.cropControlsUpload:hover{
	opacity: 1;
	background-color: rgba(0,0,0,0.35) !important;
}
.cropControls i {
  	opacity:0.7;
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome-ihc;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  background-image: none !important;
}
.cropControls i.cropControlUpload{
	height:24px; !important;
	width:24px; !important;
	line-height:24px;!important;
}
.cropControls i:hover{
	opacity: 1;
	background:none !important;
}
.cropControlsCrop i{
	height: auto !important;
    /* margin: 0 4px !important; */
    padding: 7px 10px;
    width: auto !important;
}
.cropControlsCrop i:hover{
	background-color: rgba(0,0,0,0.35) !important;
}
.cropControls i.cropControlUpload:before{
	    content: "\f030";
		font-size:23px;
		font-weight:normal;
}
.cropControls i.cropControlZoomMuchIn:before{
	        content: "\f055";
		font-size:23px;
		font-weight:normal;
}
.cropControls i.cropControlZoomIn:before{
	        content: "\f00e";
		font-size:23px;
		font-weight:normal;
}
.cropControls i.cropControlZoomOut:before{
	        content: "\f010";
		font-size:23px;
		font-weight:normal;
}
.cropControls i.cropControlZoomMuchOut:before{
	        content: "\f056";
		font-size:23px;
		font-weight:normal;
}
.cropControls i.cropControlRotateLeft:before{
	        content: "\f0e2";
		font-size:23px;
		font-weight:normal;
}
.cropControls i.cropControlRotateRight:before{
	        content: "\f01e";
		font-size:23px;
		font-weight:normal;
}
.cropControls i.cropControlCrop:before{
	        content: "\f125";
		font-size:23px;
		font-weight:normal;
}
.cropControls i.cropControlReset:before{
	        content: "\f1f8";
		font-size:23px;
		font-weight:normal;
}

#floatingCirclesG{
	position:relative;
	width:125px;
	height:125px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
	width:22px;
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

/*==================================================================*/


#croppic{
  width: 400px;  /* MANDATORY */
  height: 208px; /* MANDATORY */
  position: relative;  /* MANDATORY */

  margin: 50px 70px 20px;
  border: 3px  solid #FFF;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  border-radius: 2px;
  background-image: url(../images/placeholder.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 8px 8px 0px rgba(0,0,0,0.1);
}

/* DO NOT CHANGE FROM HERE ( unless u know what u are doing) */
.cropImgWrapper{
  cursor: -webkit-grab;
  cursor: grab;
}
.cropImgWrapper:active{
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.cropImgUpload{
  z-index:2;
  position:absolute;
  height:28px;
  display:block;
  top: -30px;
  right: -2px;
  font-family:sans-serif;
  width:20px;
  height:20px;
  text-align:center;
  line-height:20px;
  color:#FFF;
}

.cropControls{
  z-index:2;
  position:absolute;
  height:30px;
  display:block;
  /* top: -31px; */
  top: -1px;
  right: -1px;
  font-family:sans-serif;
  background-color:rgba(0,0,0,0.35);
}

.cropControls i{
  display:block;
  float:left;
  margin:0;
  cursor:pointer;
  background-image:url('../images/cropperIcons.png');
  width:30px;
  height:30px;
  text-align:center;
  line-height:20px;
  color:#FFF;
  font-size:13px;
  font-weight: bold;
  font-style: normal;

}


.ihc-cst-croppic .cropControls i {
  background-color:rgba(0,0,0,0.35);
}

#ihc-custom-controls i {

  font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    padding: 9px 10px;
    line-height: 20px;
}
#ihc-custom-controls i:before {
  content: none;
}

.ihc_delimiter {
  background-color:rgba(0,0,0,0.35);
  float: left;
  color:#fff;
  font-weight:100;
  opacity: 0.7;
}

.cropControls i:hover{ background-color:rgba(0,0,0,0.7);  }

.cropControls i.cropControlZoomMuchIn{ background-position:0px 0px;}
.cropControls i.cropControlZoomIn{ background-position:-30px 0px; }
.cropControls i.cropControlZoomOut{ background-position:-60px 0px; }
.cropControls i.cropControlZoomMuchOut{ background-position:-90px 0px; }
.cropControls i.cropControlRotateLeft{ background-position:-210px 0px; }
.cropControls i.cropControlRotateRight{ background-position:-240px 0px; }
.cropControls i.cropControlCrop{ background-position:-120px 0px;}
.cropControls i.cropControlUpload{ background-position:-150px 0px;}
.cropControls i.cropControlReset{ background-position:-180px 0px;}
.cropControls i.cropControlRemoveCroppedImage{ background-position:-180px 0px;}

.cropControls i:last-child{
  margin-right:none;
}

#croppicModal{
  position:fixed;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  display:block;
  background:rgba(0,0,0,0.8);
  z-index: 10000;
}


/*
*		PRELOADER
*		With courtesy of : http://cssload.net/
*/

.bubblingG {
  text-align: center;
  width:80px;
  height:50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px auto auto -40px;
  z-index:2;
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 25px auto;
  background: #FFF;
  box-shadow: 5px 5px 0px rgba(0,0,0,0.2);
  -moz-border-radius: 50px;
  -moz-animation: bubblingG 1s infinite alternate;
  -webkit-border-radius: 50px;
  -webkit-animation: bubblingG 1s infinite alternate;
  -ms-border-radius: 50px;
  -ms-animation: bubblingG 1s infinite alternate;
  -o-border-radius: 50px;
  -o-animation: bubblingG 1s infinite alternate;
  border-radius: 50px;
  animation: bubblingG 1s infinite alternate;

}

#bubblingG_1 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

#bubblingG_2 {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#bubblingG_3 {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-moz-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#FFF;
    -moz-transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFF;
    -moz-transform: translateY(-21px);
  }

}

@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#FFF;
    -webkit-transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFF;
    -webkit-transform: translateY(-21px);
  }

}

@-ms-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#FFF;
    -ms-transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFF;
    -ms-transform: translateY(-21px);
  }

}

@-o-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#FFF;
    -o-transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFF;
    -o-transform: translateY(-21px);
  }

}

@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#FFF;
    transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFF;
    transform: translateY(-21px);
  }

}

/* some reset stlyes */

/**** CUSTOM **********/
/*
.ihc-edit-top-ap-banner{
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
*/





.downloadButton{
	color: #FFFFFF;
	margin: 10px 10px;
	padding: 20px 50px;
	width: 408px;
	display: none;
	text-align: center;
	font-weight: 300;
	background: transparent;
	border-radius: 3px;
	font-size: 38px;
}

.downloadButton sup{

	font-family: 'Lato', sans-serif;
	font-size:15px;
}

.cropHeaderWrapper{
	overflow:hidden;
	height: 420px;
}

#cropContainerHeaderButton{
	color: #FFF;
	margin: 10px 0 30px 71px;
	padding: 15px 50px;
	width: 407px;
	display: block;
	text-align: center;
	font-weight: 400;
	background: #2CE987;
	text-transform: uppercase;
	border-radius: 2px;
	box-shadow: 8px 8px 0px rgba(0,0,0,0.1);
	font-size: 20px;

}

#cropContainerHeaderButton:hover {
	background: #1CD139;
}

.optionsDiv{

	border-radius:2px;
	position:absolute;
}

.optionsDiv a{
	width:50%;
	margin-right:20%;
	float:left;
	margin-bottom:10px;
	cursor:pointer;
}

#optionsFloating.fixed{
	position:fixed;
	top:100px;
}

.downloadLink{
	font-size: 22px;
	color: #666;
	text-align: center;
	display: block;
	width: 320px;
	width: 320px;
	padding: 10px;
	border: 1px solid #CCC;
	height: 62px;
	margin: 0 auto;
}

.downloadLink:hover {
	background:#FFF;
}

.downloadIcon{
	width:75px;
	height:75px;
	display:block;
	background-size:75px 150px;
	background-position:0px 0px;
	background-image: url(../img/downloadIcon.png);
}

.downloadLink:hover .downloadIcon{
	background-position:0px -75px;
}

.downloadIcon.small{
	width:25px;
	height:25px;
	display:block;
	background-size:25px 50px;
	background-position:0px 0px;
	background-image: url(../img/downloadIcon.png);
}

.downloadLink:hover .downloadIcon.small{
	background-position:0px -25px;
}

.downloadLink .downloadIcon {
	float:left;
}

.downloadLink span{
	line-height: 40px;
	float:left;
}

#cropContainerModal{ width:100%; height:200px; position: relative; border:1px solid #ccc;}
#cropContaineroutput{ width:100%; height:145px; position: relative; border:1px solid #ccc;}
#cropContainerEyecandy{ width:100%; height:200px; position: relative; border:1px solid #ccc;}
#cropContainerPreload{ width:100%; height:200px; position: relative; border:1px solid #ccc;}
#cropContainerMinimal{ width:100%; height:200px; position: relative; border:1px solid #ccc;}
#cropContainerPlaceHolder2{ width:100%; height:200px; position: relative; border:none;}


#web_by {position:absolute; right:10px; font-size:10px; color:#aaa; padding:13px; cursor:pointer;  }
#web_by  label{  display:none; position:absolute; right:5px; top:-32px; z-index:10000; font-size:10px; color:#ffa200; padding:10px 9px; cursor:pointer; width:60px; height:40px; background-image:url('../img/jobotic_bubble.png'); background-repeat:no-repeat; }
#jobotic {position:fixed; right:-100px; bottom:-3px; font-size:10px; color:#aaa; padding:13px; cursor:pointer; z-index:9999;}


	#kontakt { float:left; width:100%; height:auto; z-index:450; position:relative; }
	#kontakt_bg { position:absolute; top:0; left:0; width:100%; height:auto; z-index:450;}
	#copyright {float:left; width:100%; height:45px; background-color:#FFF; margin-top:6px;}
	#copyright  p{float:left; width:100%; font-size:12px; color:#999; text-align:center; background-color:#FFF; margin-top:10px;}


#js_ihc_edit_top_ap_banner {
		width: 100%;
		height: 300px;
		position:relative; /* or fixed or absolute */
		position:absolute;
		top:0;
}
