@charset "UTF-8";

/**
 * スマホ用固定フッターバーの設定
 */
@font-face {
  font-family: 'design_plus';
  src: url('../fonts/design_plus.eot?v=1.5');
  src: url('../fonts/design_plus.eot?v=1.5#iefix') format('embedded-opentype'),
       url('../fonts/design_plus.woff?v=1.5') format('woff'),
       url('../fonts/design_plus.ttf?v=1.5') format('truetype'),
       url('../fonts/design_plus.svg?v=1.5#design_plus') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-file-text:before { content: "\f15c"; }
.icon-share-alt:before { content: "\f1e0"; }
.icon-phone:before { content: "\f095"; }
.icon-envelope:before { content: "\f0e0"; }
.icon-tag:before { content: "\f02b"; }
.icon-pencil:before { content: "\f040"; }
.icon-close:before { content: "\e91a"; }

.dp-footer-bar {
  background: #ffffff;
  border-top: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
/*
  position: fixed;
  bottom: 0;
*/
  table-layout: fixed;
  text-align: center;
  width: 100%;
  z-index: 9998;
}
.dp-footer-bar a {
  display: block;
  padding: 10px 0;
}

.dp-footer-bar-item {
  flex: 1;
}
.dp-footer-bar-item + .dp-footer-bar-item {
  border-left: 1px solid #ddd;
}
.dp-footer-bar-item:only-child .dp-footer-bar-icon {
  display: block;
  position: relative;
}
.dp-footer-bar-item:only-child .dp-footer-bar-icon:before {
  position: absolute;
  right: 15px;
}
.dp-footer-bar-icon:before {
  display: block;
  font-family: "design_plus";
  font-size: 16px;
  margin-bottom: .5em;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modal-content {
  margin: auto;
  position: fixed;
  bottom: 20%;
  left: 0;
  right: 0;
  width: 209px;
  z-index: 9999;
}

.modal-close:before {
  color: #fff;
  font-size: 32px;
  position: absolute;
  bottom: 20%;
  right: 0;
  text-align: center;
  width: 50px;
}

.share { text-align: center; }

.share-button {
  float: left;
  vertical-align: center;
  width: 50px;
  height: 50px;
}
.share-button--rounded-square { 
	border-radius: 2px;
	overflow: hidden;
}
.share-button + .share-button { margin-left: 3px; }
.share-button a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.share-button a img { width:100%; height:auto; }
