@charset "utf-8";

/* ----------------------------------------------------------------------
 基本設定
---------------------------------------------------------------------- */
/* レイアウト */
#main_contents { width:auto; }
#main_col {
  padding:0 20px 0 30px; width:calc(100% - 360px);
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
#side_col {
  padding:0 30px; width:360px; overflow:hidden; 
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
@media screen and (max-width:1100px) {
  #main_contents { padding:40px 0 60px; }
  #main_col { padding:0 5px 0 30px; }
}
@media screen and (max-width:950px) {
  #main_col { width:auto; float:none; padding:0 30px; }
  #side_col { width:auto; float:none; padding-top:50px; }
}
@media screen and (max-width:650px) {
  #main_contents { padding:20px 0 40px; }
  #main_col { padding:0px 20px; }
  #side_col { padding:40px 20px 0; }
  body.home #main_contents { padding-top:40px; }
  body.post-type-archive-news #main_contents { padding:39px 0 40px; }
  body.page-template-page-ranking-post-list #main_contents { padding:39px 0 40px; }
  body.page-template-page-featured-post-list #main_contents { padding:17px 0 40px; }
}



/* ドロワーメニュー */
#drawer_menu {
  display:block; position:fixed; top:0px; right:-400px; width:400px; height:100%; background:#333; overflow:auto; z-index:9999;
  -webkit-transition:right 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition:right 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-backface-visibility: hidden; backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
.open_menu #drawer_menu { right:0; box-shadow:-5px 0 20px 0 rgba(0,0,0,0.4); }
@media screen and (max-width:500px) {
  #drawer_menu { right:-80%; width:80%; }
}


/* ドロワーメニュー展開時のオーバーレイ */
.open_menu #container:before {
  content:''; display:block; width:100%; height:100%; position:fixed; top:0px; left:0px; background:rgba(0,0,0,0.6); z-index:9999;
}
/* safariとedgeのみ背景をぼかす */
_::-webkit-full-page-media, _:future, :root .open_menu #container:before { background:rgba(0,0,0,0.6); -webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); }
@supports (-ms-ime-align: auto) {
  .open_menu #container:before { background:rgba(0,0,0,0.6); -webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); }
}
/* ぼかしはここまで */


/* ドロワーメニューのスクロールバー */
.simplebar-scrollbar:before { background:#fff !important; }


/* admin bar利用時 */
body.admin-bar { padding-top:32px; }
body.admin-bar.header_fix_mobile #header { margin-top:32px; }
body.admin-bar #drawer_menu { padding-top:32px; }
.mobile body.admin-bar.header_fix_mobile { padding-top:102px; }
@media screen and (max-width:781px) {
  body.admin-bar { padding-top:46px; }
  body.admin-bar.header_fix_mobile #header { margin-top:46px; }
  body.admin-bar #drawer_menu { padding-top:46px;}
  body.admin-bar.fixed_find_menu #find_menu_wrap { top:46px; }
  body.admin-bar.fixed_find_menu { padding-top:106px; }
  .mobile body.admin-bar.header_fix_mobile { padding-top:126px; }
}


/* アイコン付きの見出し */
.design_headline { height:45px; line-height:45px; padding:0 18px 0 60px; font-size:16px; margin:0 0 20px 0; }
.design_headline:before { width:45px; height:45px; line-height:45px; }
.design_headline:after { left:15px; bottom:-7px; }
.design_headline.hide_icon { padding:0 18px; }




/* ----------------------------------------------------------------------
 投稿者詳細ページ
---------------------------------------------------------------------- */
#author_page_header { padding:30px 30px 20px; margin:0 0 30px 0; }
#author_page_header .image { margin-bottom:20px; }
@media screen and (max-width:1100px) {
  #author_page_header .image .info_wrap { width:200px;  }
  #author_page_header .image .info { padding:0 30px; }
}
@media screen and (max-width:650px) {
  #author_page_header { padding:0; margin:-20px -20px 40px; }
  #author_page_header .image { height:300px; }
  #author_page_header .image .info_wrap { width:170px; }
  #author_page_header .post_content { padding:15px 20px 33px; }
  #author_page_header .category { margin:6px 0 11px 0; padding:0 15px; font-size:10px; }
  #author_page_header .name { font-size:18px; margin:0 0 7px 0; }
  #author_page_header .name span { font-size:10px; line-height:1.5; margin-top:5px; }
  #author_page_header .author_link { margin:0 0 0 -5px; }
  #author_archive .design_headline .total_post { font-size:10px; height:45px; line-height:45px; padding:0 12px; }
}
@media screen and (max-width:450px) {
  #author_page_header .image { height:205px; }
  #author_page_header .image .info_wrap { width:150px; }
  #author_page_header .image .info { padding:0 20px; }
}




/* ----------------------------------------------------------------------
 投稿者一覧ページ
---------------------------------------------------------------------- */
#author_list .item { height:424px; }
#author_list .title_area { padding:30px; }
#author_list .category { left:30px; }
@media screen and (max-width:650px) {
  #author_list .item { width:100%; height:374px; float:none; margin:0 0 10px 0; }
  #author_list .image_wrap { height:180px; }
  #author_list .image { height:180px; }
  #author_list .item:last-child { margin-bottom:0; }
}




/* ----------------------------------------------------------------------
 レシピ特集ページ
---------------------------------------------------------------------- */
#featured_recipe .total_post { font-size:12px; height:45px; line-height:45px; padding:0 13px; border-left:1px solid #ddd; }
#featured_recipe .recipe_list_desc { margin:-5px 0 10px 0; }
@media screen and (max-width:650px) {
  #featured_recipe .recipe_list_desc { line-height:2; }
}




/* ----------------------------------------------------------------------
 レシピランキングページ
---------------------------------------------------------------------- */
#ranking_recipe .recipe_list_desc { margin:-5px 0 15px 0; }
.ranking_list .item { height:200px; }
.ranking_list .image_wrap { width:200px; height:200px; }
.ranking_list .category { font-size:10px; max-width:201px; }
.ranking_list .premium_icon { width:50px; height:50px; }
.ranking_list .title_area { width:-webkit-calc(100% - 200px); width:calc(100% - 200px); padding:0 30px; }
@media screen and (max-width:650px) {
  #ranking_recipe .recipe_list_desc { line-height:2; }
  .ranking_list .item { height:130px; }
  .ranking_list .image_wrap { width:130px; height:130px; }
  .ranking_list .title_area { width:-webkit-calc(100% - 130px); width:calc(100% - 130px); padding:0 20px; }
  .ranking_list .title { max-height:5.1em; overflow:hidden; }
  .ranking_list .title span { display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:3; }
  .ranking_list .category { height:25px; line-height:25px; min-width:70px; max-width:131px; padding:0 5px; }
  .ranking_list .premium_icon { width:35px; height:35px; -webkit-background-size:20px !important; background-size:20px !important; }
  .ranking_list .premium_icon:before { font-size:20px; }
  #ranking_list_tab li { height:45px; line-height:45px; }
}




/* ----------------------------------------------------------------------
 レシピ詳細ページ
---------------------------------------------------------------------- */
/* タイトルエリア */
#recipe_title_area { padding:30px; }
#recipe_title_area .parent_category { position:relative; float:left; margin-right:30px; }
#recipe_title_area .title_area { width:-webkit-calc(100% - 150px); width:calc(100% - 150px); }
#recipe_title_area .title { padding:5px 0px 0 0; }
#recipe_title_area .like_button { clear:both; max-width:inherit; display:inline-block; position:relative; right:auto; top:auto; margin:20px 0 0 0; }
@media screen and (max-width:650px) {
  #recipe_title_area { margin:-20px -20px 0; padding:20px 20px 30px; position:relative; border-top:1px solid #ddd; }
  #recipe_title_area .parent_category { font-size:10px; width:80px; height:80px; margin-right:19px; margin-top:7px; }
  #recipe_title_area .title_area { width:-webkit-calc(100% - 100px); width:calc(100% - 100px); }
  #recipe_title_area .title { line-height:1.4; }
  #recipe_title_area .meta li { font-size:10px; }
  #recipe_title_area .like_button { margin:20px 0 0 0; padding:0 10px 0 22px; font-size:10px; height:28px; line-height:28px; border-radius:5px; }
  #recipe_title_area .like_button:before { line-height:15px; left:5px; }
}


/* メインコンテンツ */
@media screen and (max-width:650px) {
  #recipe_main_content { margin-bottom:30px; }
}


/* 動画 */
@media screen and (max-width:650px) {
  #recipe_video_wrap { margin:0 -20px; }
}


/* Youtube */
@media screen and (max-width:650px) {
  #youtube_player_wrap { margin:0 -20px; width:-webkit-calc(100% + 40px); width:calc(100% + 40px); }
}


/* 画像スライダー */
@media screen and (max-width:650px) {
  #recipe_image_slider_wrap { margin:0 -20px; }
  #recipe_image_slider .slick-prev { left:20px; top:50%; }
  #recipe_image_slider .slick-next { right:20px; top:50%; }
}


/* 調理時間 */
#recipe_video_data { font-size:13px; margin:0 0 30px 0; }
#recipe_video_data dt { width:100px; height:45px; line-height:47px; border-bottom:1px solid #ddd; }
#recipe_video_data dd { width:calc(100% - 100px); height:45px; line-height:47px; border-bottom:1px solid #ddd; border-right:none; padding:0 15px; }
#recipe_video_data dt:nth-of-type(2) { border-bottom:none; }
#recipe_video_data dd:nth-of-type(2) { border:none; }
@media screen and (max-width:650px) {
  #recipe_video_data { margin:0 -20px 30px; }
}


/* レシピ */
@media screen and (max-width:650px) {
  .recipe_material { margin:0 0 30px 0; }
  .recipe_material dt { -webkit-width:calc(100% - 100px); width:calc(100% - 100px); line-height:2.2; padding:10px 18px 8px; line-height:2; }
  .recipe_material dd { width:100px; padding:10px 18px 8px; line-height:2.0; }
}


/* 作り方 */
@media screen and (max-width:650px) {
  .recipe_howto { margin:0 0 30px 0; }
  .recipe_howto dt { width:45px; padding:10px 18px 8px; line-height:2.0; }
  .recipe_howto dd { -webkit-width:calc(100% - 45px); width:calc(100% - 45px); padding:10px 18px 8px; line-height:2.0; }
}


/* ポイント */
@media screen and (max-width:650px) {
  .recipe_point { margin:0 0 30px 0; }
  .recipe_point .post_content { padding:15px 20px; }
  .recipe_point .post_content p:last-child { margin-bottom:0; }
}


/* フリースペース */
@media screen and (max-width:650px) {
  .recipe_free { margin:0 0 30px 0; }
}




/* ----------------------------------------------------------------------
 レシピ一覧（共通）
---------------------------------------------------------------------- */
.recipe_list { margin-top:-6px; }
#recipe_categry .recipe_list { margin-top:0; }
#related_recipe .recipe_list { margin-top:-16px; }
.recipe_list .item { width:calc(50% - 11px); }
.recipe_list .item:nth-child(3n) { margin-right:16px; }
.recipe_list .item:nth-child(2n) { margin-right:0px; }
@media screen and (max-width:950px) {
  .recipe_list .item { width:calc(100% / 3 - 11px); }
  .recipe_list .item:nth-child(2n) { margin-right:16px; }
  .recipe_list .item:nth-child(3n) { margin-right:0px; }
}
@media screen and (max-width:800px) {
  .recipe_list .item { width:calc(50% - 4px); margin:8px 8px 0 0; }
  .recipe_list .item:nth-child(3n) { margin-right:8px; }
  .recipe_list .item:nth-child(2n) { margin-right:0px; }
}
@media screen and (max-width:650px) {
  #recipe_categry .recipe_list { margin-top:-6px; }
  .recipe_list.type2 .item { height:305px; }
  .recipe_list.type2 .image_wrap { height:195px; }
  .recipe_list.type2 .image { height:195px !important; }
  .recipe_list.type2 .title_area { height:105px; }
  .recipe_list .title_area { height:100px; padding:9px 15px; }
  .recipe_list .title_area .title a { max-height:4.8em; }
  .recipe_list .title_area .title span { -webkit-line-clamp:3; }
  .recipe_list .title_area .post_meta { font-size:10px; margin-top:7px; }
  .recipe_list .premium_icon { width:35px; height:35px; -webkit-background-size:20px !important; background-size:20px !important; }
  .recipe_list .premium_icon:before { font-size:20px; }
  .recipe_list .category { height:25px; line-height:25px; font-size:10px; min-width:70px; padding:0 5px; }
}
@media screen and (max-width:450px) {
  .recipe_list .item { height:198px; }
  .recipe_list .title_area { height:105px; }
  .recipe_list .image_wrap { height:86px; }
  .recipe_list .image { height:86px !important; }
  .recipe_list.type2 .item { height:265px; }
  .recipe_list.type2 .image_wrap { height:155px; }
  .recipe_list.type2 .image { height:155px !important; }
}




/* ----------------------------------------------------------------------
 レシピアーカイブページ
---------------------------------------------------------------------- */
#recipe_archive .item { height:400px; }
#recipe_archive .image_wrap { width:50%; height:400px; }
#recipe_archive .desc { padding:0 30px; left:50%; font-size:14px; }
#recipe_archive .blur_image { display:none; }
@media screen and (max-width:650px) {
  #recipe_archive .category { width:100px; height:100px; }
  #recipe_archive .image_wrap { width:100%; height:400px; }
  #recipe_archive .desc {
    padding:0; left:200px; font-size:14px; background:#fff; height:100%; width:-webkit-calc(100% - 200px); width:calc(100% - 200px); overflow:hidden;
    top:0%; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%);
  }
  #recipe_archive .desc p {
    line-height:2; padding:0 25px; z-index:2; max-height:14em; overflow:hidden;
    position:absolute; top:50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%);
  }
  #recipe_archive .desc p span { display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:7; }
  #recipe_archive .blur_image { display:block; width:100%; height:100%; position:absolute; right:0px; top:0px; filter:blur(5px); }
  #recipe_archive .blur_image:before { content:''; display:block; width:100%; height:100%; background:rgba(255,255,255,0.3); position:absolute; top:0px; left:0px; }
}
@media screen and (max-width:450px) {
  #recipe_archive .item { height:320px; margin:0 0 20px 0; }
  #recipe_archive .image_wrap { height:320px; }
  #recipe_archive .desc { left:140px; width:-webkit-calc(100% - 140px); width:calc(100% - 140px); }
}




/* ----------------------------------------------------------------------
 レシピカテゴリーページ
---------------------------------------------------------------------- */

/* 子カテゴリー一覧 */
@media screen and (max-width:650px) {
  #recipe_child_category_list_wrap_fix { margin:0 -20px 0 0; }
  #recipe_child_category_list_wrap { height:60px; margin:0 0 6px 0; width:auto !important; position:relative; overflow:auto; -webkit-overflow-scrolling:touch; overflow-scrolling:touch; }
  #recipe_child_category_list { margin:0; }
  #recipe_child_category_list li { width:132px; margin:0 5px 0 0; font-size:12px; }
  #recipe_child_category_list li:nth-child(3n) { margin-right:5px; }
  #recipe_child_category_list a { height:45px; line-height:45px; }
  #recipe_child_category_list_wrap .simplebar-scrollbar:before { background:#999 !important; cursor:pointer !important; }
}


/* 見出し */
@media screen and (max-width:650px) {
  #archive_headline { height:45px; line-height:45px; }
  #archive_headline .category { font-size:10px; padding:0 10px; }
  #archive_headline .title { font-size:16px; padding:0 14px; }
  #archive_headline .post_count { font-size:10px; height:45px; line-height:45px; padding:0 12px; }
  #recipe_categry .child_category_desc { line-height:2.2; margin:0 0 10px 0; }
}




/* ----------------------------------------------------------------------
 お知らせ
---------------------------------------------------------------------- */
/* アーカイブページ */
@media screen and (max-width:650px) {
  #news_archive .design_headline { margin:0 0 18px 0;}
  #news_list .item { height:132px; padding:10px; }
  #news_list .image_wrap { width:110px; height:110px; }
  #news_list .title_area { width:-webkit-calc(100% - 110px); width:calc(100% - 110px); }
  #news_list .title_area_inner { right:20px; left:20px; }
  #news_list .title { max-height:3.6em; overflow:hidden; }
  #news_list .title span { display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; }
  #news_list .date { font-size:10px; margin-bottom:5px; }
}


/* 詳細ページ */
@media screen and (max-width:650px) {
  #recent_news { margin:40px 0 0 0; }
  #recent_news .item { height:132px; padding:10px; }
  #recent_news .image_wrap { width:110px; height:110px; }
  #recent_news .title_area { width:-webkit-calc(100% - 110px); width:calc(100% - 110px); }
  #recent_news .title_area_inner { right:20px; left:20px; }
  #recent_news .title { font-size:14px; }
  #recent_news .date { font-size:10px; }
  #recent_news .design_headline .archive_link { padding-right:17px; right:10px; height:45px; line-height:45px; font-size:12px; }
  #recent_news .design_headline .archive_link:after { width:12px; height:12px; font-size:12px; top:1px; }
}




/* ----------------------------------------------------------------------
 固定ページ
---------------------------------------------------------------------- */
#wide_page_header_inner { width:auto; right:30px; left:30px; }
#article.page .post_content { padding:30px 30px 1px; }
@media screen and (max-width:650px) {
  #wide_page_header { height:360px; margin-bottom:20px; }
  #wide_page_header_inner { right:20px; left:20px; }
  #article.page { margin:-40px -20px 0; }
  #article.page .post_content { padding:40px 20px 1px; }
  body.page-template-page-noside #article.page, #article.memberpage { margin-top:-20px; }
  #bread_crumb ~ #main_contents #article.memberpage { border-top:1px solid #ddd; }
  #page_title { font-size:20px; }
  #page_design_headline_area .design_headline { margin:0 0 60px 0; }
}


/* 利用規約 */
@media screen and (max-width:950px) {
  #kiyaku { border:1px solid #ddd; background:#fff; padding:20px 30px; }
}


/* ABOUTページ */
@media screen and (max-width:650px) {
  #about_page { margin:-20px -19px 0; border:none; }
  #about_header { width:100%; height:320px; margin:0; }
  #about_header .headline { top:20px; left:20px; width:100px; height:100px; }
  .about_content .content_area { padding:35px 20px 5px; }
  #about_faq_list { margin:0px 20px 40px; }
  #about_faq_list dt, #about_faq_list dd { padding:10px 17px; }
  #about_faq_list dt { padding-right:40px; }
  #about_faq_list dt:after { font-size:10px; height:10px; line-height:10px; width:10px; right:17px; top:22px; }
  #about_content4 { border-color:#fff; }
}




/* ----------------------------------------------------------------------
 ページヘッダー
---------------------------------------------------------------------- */
#page_header { width:100%; height:420px; position:relative; overflow:hidden; margin:0 0 50px 0; }
#page_header .headline { top:30px; left:30px; }
#page_header .desc { padding:25px 30px; }
@media screen and (max-width:950px) {
  #page_header { margin:0 0 30px 0; }
}
@media screen and (max-width:650px) {
  #page_header { margin:-20px -20px 40px; height:320px; width:-webkit-calc(100% + 40px); width:calc(100% + 40px); }
  body.tax-recipe_category #page_header { margin-bottom:20px; }
  #page_header .headline { width:100px; height:100px; top:20px; left:24px; font-size:12px; }
  #page_header .desc { padding:0 26px; line-height:2; max-height:11.5em; overflow:hidden; bottom:15px; font-size:14px; }
  #page_header .desc span { display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:5; }
}




/* ----------------------------------------------------------------------
 ブログアーカイブページ
---------------------------------------------------------------------- */
@media screen and (max-width:950px) {
  #post_list .item { height:190px; padding:20px; }
  #post_list .title_area { width:-webkit-calc(100% - 150px); width:calc(100% - 150px); padding:0 20px; }
  #post_list .image_wrap { width:150px; height:150px; }
  #post_list .post_meta { margin-top:5px; height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#999; }
}
@media screen and (max-width:650px) {
  #post_list .item { height:130px; padding:9px; }
  #post_list .title_area { width:-webkit-calc(100% - 110px); width:calc(100% - 110px); padding:0 25px; }
  #post_list .image_wrap { width:110px; height:110px; }
  #post_list .title { font-weight:600; font-size:14px; }
  #post_list .premium_icon { width:35px; height:35px; }
  #post_list .premium_icon:before { font-size:20px; }
}


/* ページナビ */
.page_navi { margin:36px 0 -4px 0; }


/* 検索結果ページ */
body.search .design_headline:before { line-height:49px; }




/* ----------------------------------------------------------------------
 トップページ　（ヘッダースライダー以外）
---------------------------------------------------------------------- */

/* 総レシピ数 */
#index_total_recipe { width:80px; height:80px; bottom:-73px; }
#index_total_recipe p { font-size:12px; top:24px; }


/* レシピスライダー */
@media screen and (max-width:1100px) {
  #index_recipe_slider { height:267px; }
  #index_recipe_slider .item { width:155px; height:257px; margin:0; }
  #index_recipe_slider .image_wrap { height:155px; }
  #index_recipe_slider .image { height:155px !important; }
  #index_recipe_slider .title_area { height:101px; padding:9px 20px; }
  #index_recipe_slider .title a { max-height:4.5em; line-height:1.5; }
  #index_recipe_slider .title span { -webkit-line-clamp:3; }
  #index_recipe_slider .post_meta { font-size:10px; margin:5px 0 0 0; }
  #index_recipe_slider .premium_icon { width:50px; height:50px; }
  #index_recipe_slider .premium_icon:before { font-size:20px; }
  #index_recipe_slider .category { font-size:10px; }
}
@media screen and (max-width:650px) {
  #index_recipe_slider .premium_icon { width:35px; height:35px; -webkit-background-size:20px !important; background-size:20px !important; }
  #index_recipe_slider .category { height:25px; line-height:25px; font-size:10px; min-width:70px; padding:0 5px; }
}


/* 無料会員登録メッセージ */
#index_welcome_message { padding:50px 30px 70px; width:auto; }
@media screen and (max-width:650px) {
  #index_welcome_message { padding:25px 20px 40px; }
  #index_welcome_message .desc { margin-top:7px; }
  #index_welcome_message .button { font-size:14px; min-width:200px; height:50px; line-height:50px; padding:0 20px; margin-top:12px; }
}


/* コンテンツビルダー　共通パーツ */
.cb_contents .desc { margin:-12px 0 10px 0; }
@media screen and (max-width:650px) {
  .cb_contents { margin-bottom:40px; }
  .cb_contents .desc { line-height:2; margin:-6px 0 10px 0; }
}


/* お知らせ */
@media screen and (max-width:650px) {
  .index_news a { height:auto; line-height:1.5; padding:15px 20px; }
  .index_news a .date { float:none; font-size:10px; margin:0 0 5px 0; }
  .index_news a .title { font-size:14px; overflow:hidden; white-space:normal; text-overflow:clip; }
}


/* バナー一覧 */
.index_banner .banner_list a { width:calc(50% - 10px); }
@media screen and (max-width:750px) {
  .index_banner .banner_list { margin-bottom:0px; }
  .index_banner .banner_list a { float:none; margin:0 auto 15px !important; width:100%; height:120px; }
  .index_banner .banner_list .image_wrap { height:120px; }
  .index_banner .banner_list .image { height:120px !important; }
  .index_banner .banner_list .title_area { padding:0 20px; margin-top:3px; }
}


/* 特集レシピ */
@media screen and (max-width:650px) {
  .index_featured_recipe { margin-bottom:0; }
  .index_featured_recipe .banner_list a { margin:0 0 20px 0; border:2px solid #ff8000; }
  .index_featured_recipe .banner_list a:last-of-type { margin-bottom:0; }
  .index_featured_recipe .banner_list a.type1 { height:auto; min-height:190px; }
  .index_featured_recipe .banner_list a.type2 { height:120px; }
  .index_featured_recipe .banner_list .image_wrap { width:100%; height:117px; }
  .index_featured_recipe .banner_list .image { height:117px !important; }
  .index_featured_recipe .banner_list a.type2 .image_wrap { height:120px; }
  .index_featured_recipe .banner_list a.type2 .image { height:120px !important; }
  .index_featured_recipe .banner_list a.type1 .title_area {
    width:100%; position:relative; left:0px; z-index:4; padding:15px 23px 12px; margin-top:117px;
    top:auto; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%);
  }
  .index_featured_recipe .banner_list a.type2 .title_area { padding:0 23px; }
}



/* ----------------------------------------------------------------------
 トップページ　スライダー
---------------------------------------------------------------------- */
#index_header_content { height:500px; }
#index_slider_wrap { margin:0; }
@media screen and (max-width:650px) {
  #index_header_content { height:360px; margin:0 0 10px 0; }
}


/* 画像 */
#index_slider .item .slice_image { height:500px; }
@media screen and (max-width:950px) {
  #index_slider .item .slice_image { width:calc(100% / 6); }
  #index_slider .item .image { width:600%; }
  #index_slider .item .slice_image:nth-child(7) { display:none; }
  #index_slider .item .slice_image:nth-child(8) { display:none; }
}
@media screen and (max-width:650px) {
  #index_slider .item .slice_image { height:360px; width:calc(100% / 4); }
  #index_slider .item .image { width:400%; }
  #index_slider .item .slice_image:nth-child(5) { display:none; }
  #index_slider .item .slice_image:nth-child(6) { display:none; }
  #index_slider .slice_image_list.pc { display:none; }
  #index_slider .slice_image_list.mobile { display:block; }
  #index_slider .slick-dots { bottom:20px; }
}


/* キャプション */
@media screen and (max-width:950px) {
  #index_slider .caption { width:auto; padding:0 30px; }
  #index_slider .button { font-size:14px; min-width:200px; height:50px; line-height:50px; padding:0 20px; }
}
@media screen and (max-width:650px) {
  #index_slider .caption { padding:0 20px; }
  #index_slider .caption.pc { display:none; }
  #index_slider .caption.mobile { display:block; }
  #index_slider .desc { margin-top:6px;  }
  #index_slider .button { margin-top:13px;  }
}


/* アニメーション */
@media screen and (max-width:650px) {
  #index_slider .caption.mobile.animate .catch {
    -webkit-animation: opacityAnimation 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 2.0s;
    animation: opacityAnimation 1.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 2.0s;
  }
}




/* ----------------------------------------------------------------------
 ヘッダー
---------------------------------------------------------------------- */
#header { height:112px; position:relative; }
body.home #header { border-bottom:none; }
#header_inner { width:auto; height:112px; position:relative; }
#header_inner:after { content:''; display:block; width:100%; height:1px; background:#ddd; position:absolute; top:51px; left:0px; }
body.header_fix_mobile { padding-top:112px; }
.header_fix_mobile #header {
  position:fixed; top:0px; left:0px; z-index:200; width:100%; box-shadow:0 0 15px 5px rgba(0,0,0,0.1); border:none;
  -webkit-animation: slide_down_menu 0.5s ease; animation: slide_down_menu 0.5s ease;
}
.header_fix_mobile #header { height:60px; }
.header_fix_mobile #header_inner { height:60px; }
.header_fix_mobile #header .desc { display:none; }
.header_fix_mobile #header_search_button { display:none; }
.header_fix_mobile #header_inner:after { display:none; }
.header_fix_mobile #index_total_recipe { display:none; }
@-webkit-keyframes slide_down_menu {
  0% { top:-60px; }
  100% { top:0px; }
}
@keyframes slide_down_menu {
  0% { top:-60px; }
  100% { top:0px; }
}


/* ロゴ */
#header_logo { left:30px; width:auto; height:60px; }
#header_logo .pc_logo_image { display:none; }
#header_logo .pc_logo_text { display:none; }
#header_logo .mobile_logo_image { display:block; }
#header_logo .mobile_logo_text { display:block; }
@media screen and (max-width:650px) {
  #header_logo { left:20px; }
}


/* 説明文 */
#header_logo .desc { position:absolute; top:-31px; left:0px; font-size:12px; margin:0; }


/* ボタン */
#header_button_area { position:absolute; right:60px; bottom:0px; height:60px; z-index:31; }
#header_logout { font-size:12px; min-width:inherit; background:none !important; margin:0 0 0 20px; }
#header_login { font-size:12px; min-width:inherit; background:none !important; }
#header_user_name { font-size:12px; }
#header_register { font-size:12px; min-width:inherit; margin:0 0 0 20px; background:#fff !important; color:#000 !important; }
#header_search_button {
  width:51px; height:51px; background:#fff; float:none; margin:0; border-left:1px solid #ddd; border-radius:0;
  position:absolute; top:-52px; right:-60px;
}
#header_search_button:before { color:#000; left:18px; top:20px; }
#header_search_button:hover:before { color:#fff; }
#header_search { height:61px; position:absolute; top:51px; z-index:50; }
#header_search form { width:100%; }
#header_search .search_input { float:none; margin:10px; }
#header_search .search_input input { border:none; height:40px; width:100%; padding:15px; }
#header_search .search_button { top:0px; right:10px; width:40px; height:40px; }
@media screen and (max-width:650px) {
  #header_user_name { display:none; }
}


/* メニューボタン */
#menu_button {
  position:absolute; z-index:50; right:0px; bottom:0px;
  display:inline-block; font-size:11px; width:60px; height:60px; line-height:60px; text-decoration:none; text-align:center;
}
#menu_button span { text-indent:100%; white-space:nowrap; overflow:hidden; display:block; }
#menu_button:before {
  color:#000; font-family:'design_plus'; display:block; position:absolute; top:0px; bottom:0; left:3px; right:0; margin:auto;
  font-size:18px; width:18px; height:18px; line-height:18px;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#menu_button:before { content:'\f0c9'; }
#menu_button:hover, a.menu_button.active { }
#menu_button:hover:before, #menu_button.active:before { }


/* グローバルメニュー */
#header #global_menu { display:none; }
#mobile_menu { width:100%; margin:0; }
#mobile_menu ul { margin:0; }
#mobile_menu li ul { display:none; }
#mobile_menu a {
  position:relative; display:block;  margin:0; padding:18px 20px; line-height:1.6; overflow:hidden; text-decoration:none;
  color:#fff; font-size:13px;
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
#mobile_menu a:hover { color:#fff; }
#mobile_menu ul ul a { padding-left:32px; }
#mobile_menu ul ul ul a { padding-left:47px; }
#mobile_menu ul ul ul ul a { padding-left:60px; }


/* グローバルメニュー（子メニュー） */
#mobile_menu li { position:relative; }
#mobile_menu .child_menu_button { display:block; position:absolute; text-align:center; width:55px; height:55px; right:0px; top:1px; z-index:9; cursor:pointer;  }
#mobile_menu .child_menu_button .icon:before {
  font-family:'design_plus'; content:'\e90e'; color:#fff; text-align:center;
  display:block; font-size:12px; width:12px; height:12px; line-height:12px;
  position:absolute; right:22px; top:25px;
}
#mobile_menu .child_menu_button.active .icon:before, #mobile_menu .child_menu_button:hover .icon:before { color:#fff; border-color:#fff; }
#mobile_menu li.open > .child_menu_button .icon:before { content:'\e911'; }
#mobile_menu li.open > ul {  }
#mobile_menu .child_menu_button:hover { background:rgba(0,0,0,0.2); }


/* ドロワーメニュー　閉じるボタン */
#drawer_menu .close_button { display:block; width:100%; height:60px; position:relative; cursor:pointer; border-bottom:1px solid rgba(255,255,255,0.2); }
#drawer_menu .close_button:before {
  font-family:'design_plus'; color:#fff; font-size:18px; display:block; 
  content:'\e91a'; position:absolute; top:24px; right:17px;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}


/* バナー */
#mobile_banner { }
#mobile_banner img { display:block; margin:0 auto; max-width:100%; height:auto; }
#mobile_banner .banner { margin:20px 0; }


/* パンくずリンク */
#bread_crumb { height:43px; }
#bread_crumb ul { width:auto; padding:0 30px; }
#bread_crumb li { height:43px; line-height:43px; }
#bread_crumb li.home a { top:3px; }
@media screen and (max-width:650px) {
  #bread_crumb ul { padding:0 20px; }
}




/* ----------------------------------------------------------------------
 記事ページ
---------------------------------------------------------------------- */
/* タイトル */
#post_image .image { height:400px; }
@media screen and (max-width:950px) {
  #post_title_area { padding:30px 30px; }
  #article .post_content { padding:0 30px; }
}
@media screen and (max-width:650px) {
  body.single-post #article { margin:-20px -20px 40px; border-top:1px solid #ddd; }
  body.single-news #article { margin:-20px -20px 40px; border-top:1px solid #ddd; }
  #post_title_area { padding:26px 23px 25px; margin:0; }
  #post_title_area .post_meta { margin:3px 0 0 0; }
  #post_title_area .post_meta li { font-size:11px; letter-spacing:0.1em; padding:0 6px 0 0; margin:0 2px 0 0;}
  #post_title_area .post_meta li a:after { margin:0; }
  #article .post_content { padding:0 20px; }
  #post_image { margin:0 0 30px 0; }
  #post_image .image { height:300px; }
}
@media screen and (max-width:500px) {
  #post_image .image { height:202px; }
}


/* SNSボタン */
@media screen and (max-width:950px) {
  #single_share_top .share-top { margin:0 30px; }
  #single_share_bottom { margin:50px 30px 0; }
  body.single-news #single_share_bottom { margin:23px 30px 55px; }
}
@media screen and (max-width:650px) {
  #single_share_top { margin:0 0 30px 0; padding:0px 0 0 0; }
  #single_share_top .share-top { margin:0 20px; }
  #single_share_bottom { margin:40px 0 0 0; }
  #single_share_bottom .share-btm { margin-bottom:0 !important; padding:0; }
  #single_share_top .mt10, #single_share_top .mt10 { margin:0 !important; }
  #single_share_bottom .mb45, #single_share_bottom .mb45 { margin:0 !important; }
  .share-type1 ul { text-align:center; margin-bottom:-5px !important; }
  .share-type3 ul { text-align:center; margin-bottom:-5px !important; }
  .share-type2 ul.type2 { text-align:center; margin-bottom:-5px !important; }
  .share-type4 ul.type4 { text-align:center; margin-bottom:-5px !important; }
  .sns_default_top  { text-align:center; margin-bottom:-5px !important; }
  body.single-news #single_share_bottom { margin:0 0 40px 0; }
}


/* コピーボタン */
@media screen and (max-width:950px) {
  #single_copy_title_url_top { margin-bottom:34px; margin-top:40px; }
  #single_share_top + #single_copy_title_url_top { margin-top:40px; }
  #single_copy_title_url_bottom { margin-bottom:40px; margin-top:32px; }
  #single_share_bottom + #single_copy_title_url_bottom { margin-top:40px; }
  body.single-news #single_copy_title_url_bottom { margin-top:32px; }
  body.single-news #single_share_bottom + #single_copy_title_url_bottom { margin-top:-4px; }
}
@media screen and (max-width:650px) {
  .single_copy_title_url_btn { border-width:2px; font-size:12px; line-height:46px; min-width:250px; }
}


/* メタ情報 */
#post_meta_bottom { padding:15px 20px 13px; margin:45px 30px 0; }
#post_meta_bottom li { display:block; margin:0 0 5px 0; padding:0 0 0 20px; border-right:none; }
#post_meta_bottom li:last-child { border:none; margin:0; }
@media screen and (max-width:650px) {
  #post_meta_bottom { margin:40px 20px 0; }
}


/* 次の記事、前の記事 */
@media screen and (max-width:1100px) {
  #next_prev_post .item { height:50px; }
  #next_prev_post .title_area { font-size:12px; margin:0; text-align:center; width:100%; height:50px; }
  #next_prev_post .title { display:none; }
  #next_prev_post .nav { display:block; position:relative; height:50px; line-height:50px; }
  #next_prev_post .image_wrap { display:none; }
  #next_prev_post a:before { left:15px; }
  #next_prev_post .next_post a:before { left:auto; right:15px; }
  #next_prev_post .next_post .title_area { margin:0; }
  #next_prev_post .register_link:after { top:16px; right:20px; }
  #next_prev_post .next_post .register_link:after { right:auto; left:20px; }
}
@media screen and (max-width:650px) {
  #next_prev_post { margin-top:0; }
  body.single-recipe #next_prev_post { margin:0 0 30px 0; }
}


/* ページ分割 */
@media screen and (max-width:650px) {
  #post_pagination { padding:5px 0 0 0; }
  #p_readmore { padding:5px 0 0 0; margin:0; }
}


/* プロフィール */
.author_profile { padding:30px 25px; margin:50px 30px 0; }
.author_profile a.avatar { float:none; margin:0 auto 20px; }
.author_profile .info { float:none; width:auto; }
.author_profile .name { font-size:18px; }
.author_profile .archive_link { margin-top:2px; }
.author_profile .archive_link span:after { top:2px; }
@media screen and (max-width:650px) {
  .author_profile { margin:40px 20px 0; }
  .author_profile .name { font-size:16px; }
  .author_profile .name span { font-size:10px; margin:0 0 0 10px; }
}


/* 広告 */
#single_banner_top { width:auto; }
#single_banner_bottom { width:auto; padding:50px 30px; }
#single_banner_shortcode { width:auto; }
#mobile_banner_top { margin:40px 0 0; text-align:center; }
#mobile_banner_bottom { margin:8px 0 0; text-align:center; }
@media screen and (max-width:650px) {
  #single_banner_top { padding:0 0 20px; }
  #single_banner_bottom { padding:40px 0; }
  #single_banner_shortcode { padding:0 0 20px; }
  .single_banner_area .single_banner_left { float:none; width:auto; text-align:center; padding:0 0 7px 0; }
  .single_banner_area .single_banner_right { float:none; width:auto; text-align:center; padding:0; }
}


/* 関連記事 */
@media screen and (max-width:650px) {
  #related_post { margin:40px 0 30px; }
}




/* ----------------------------------------------------------------------
 ウィジェット 
---------------------------------------------------------------------- */
/* 基本設定 */
@media screen and (max-width:650px) {
  .widget_content { margin:0 0 40px 0; }
  .widget_headline { height:45px !important; line-height:45px !important; padding:0 18px; margin:0 0 20px 0 !important; }
  .widget_headline:before { width:45px !important; height:45px !important; line-height:45px !important; }
  .widget_headline:after { left:15px !important; bottom:-7px !important; }
}


/* デザインされた記事一覧1 */
@media screen and (max-width:950px) {
  .styled_post_list1 li { width:50%; float:left; margin:0 0 -1px 0; padding:0; position:relative; }
  .styled_post_list1 li .title_area { border-bottom:1px solid #ddd; }
}
@media screen and (max-width:650px) {
  .styled_post_list1 li { width:auto; float:none; margin:0; }
  .styled_post_list1 li .title_area { border-bottom:none; }
  .styled_post_list1 .title_area_inner { padding:0 20px; }
  .styled_post_list1_widget .widget_headline { padding:0 18px 0 60px; }
  .premium_recipe_list_widget .widget_headline { padding:0 18px 0 60px; }
}


/* 新着レシピ一覧 */
@media screen and (max-width:650px) {
  .recipe_post_list_widget .widget_headline { padding:0 18px 0 60px; }
}


/* 人気の記事一覧 */
@media screen and (max-width:650px) {
  .ranking_list_widget .widget_headline { padding:0 18px 0 60px; }
}


/* バナー一覧 */
@media screen and (max-width:950px) {
  .tcd_banner_widget { margin-bottom:25px; }
  .tcd_banner_widget a { float:left; margin:0 20px 28px 0; width:-webkit-calc(50% - 10px); width:calc(50% - 10px); }
  .tcd_banner_widget a:nth-of-type(2n) { margin-right:0; } 
}
@media screen and (max-width:650px) {
  .tcd_banner_widget { margin-bottom:40px; }
  .tcd_banner_widget a { float:none; margin:0 auto 20px !important; height:120px; width:auto; max-width:100%; }
  .tcd_banner_widget a:last-child { margin-bottom:0 !important; }
  .tcd_banner_widget .image_wrap { height:120px; }
  .tcd_banner_widget .image { height:120px !important; }
}


/* タブ記事 */
@media screen and (max-width:950px) {
  .widget_tab_post_list { background:#fff; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; }
  .widget_tab_post_list li { margin:0 0 -1px 0; padding:0; width:50%; float:left; }
  .widget_tab_post_list li a { border-right:none; border-left:none; }
}
@media screen and (max-width:650px) {
  .widget_tab_post_list li { margin:0 0 -1px 0; width:auto; float:none; }
  .tab_post_list_widget .widget_headline { padding:0 18px 0 60px; }
  .widget_tab_post_list .title_area_inner { padding:0 20px; }
}


/* プレミアム動画スライダー */
@media screen and (max-width:650px) {
  .recipe_slider_widget .widget_headline { padding:0 18px 0 60px; }
}


/* レシピカテゴリー一覧 */
@media screen and (max-width:650px) {
  .recipe_category_list_widget .widget_headline { padding:0 18px 0 60px; }
  .recipe_category_list_widget ul li a { height:45px; line-height:45px; padding:0 20px; }
}


@media screen and (max-width:650px) {
  .tcd_category_list_widget .widget_headline { padding:0 18px 0 60px; }
  .tcd_category_list a { height:45px; line-height:45px; padding:0 20px; }
  .tcd_category_list li li a { padding-left:34px; }
  .tcd_category_list li li li a { padding-left:48px; }
  .tcd_category_list li li li li a { padding-left:62px; }
  .tcd_category_list .child_menu_button { width:45px; height:45px; }
  .tcd_category_list .child_menu_button:before { top:18px; }
}




/* ----------------------------------------------------------------------
 フッター
---------------------------------------------------------------------- */
#footer_top_inner { width:auto; }
@media screen and (max-width:650px) {
  #footer_top_inner { display:block; padding:40px 20px 10px; }
  .footer_headline { font-size:14px; margin:0 0 20px 0; }
}


/* フッターメニュー */
#footer_menu { padding:50px 30px 30px; }
#footer_category_menu { padding:50px 30px 30px; }
@media screen and (max-width:950px) {
  #footer_menu { width:50%; border:none; }
  #footer_category_menu { width:50%; }
  #footer_top_inner.no_menu #footer_menu { width:100%; }
  #footer_top_inner.no_menu #footer_widget { width:100%; }
  #footer_top_inner.no_menu #footer_widget .widget_content { float:none; width:100%; margin-right:0; }
}
@media screen and (max-width:650px) {
  #footer_menu { padding:0 0 20px; width:auto; border:none; }
  #footer_category_menu { padding:0 0 20px; width:auto; border:none; }
  .footer_menu ul li { font-size:12px; }
}


/* フッターウィジェット */
#footer_widget { padding:50px 30px 30px; }
@media screen and (max-width:950px) {
  #footer_widget { width:100%; border:none; border-top:1px solid rgba(255,255,255,0.4); }
}
@media screen and (max-width:650px) {
  #footer_widget { padding:0; width:auto; border:none; }
}


/* ページ上部へ戻るボタン */
#return_top a { height:60px; width:60px; line-height:60px; }
#return_top a:before { top:2px;}
@media screen and (max-width:950px) {
  #return_top.active { bottom:0px; }
  #return_top a { height:50px; width:50px; line-height:50px; }
}


/* ロゴ */
#footer_bottom { width:auto; }
#footer_logo { left:30px; }
#footer_logo .pc_logo_image { display:none; }
#footer_logo .pc_logo_text { display:none; }
#footer_logo .mobile_logo_image { display:block; }
#footer_logo .mobile_logo_text { display:block; }
#footer_logo .desc { font-size:12px; }
@media screen and (max-width:950px) {
  #footer_bottom { height:auto; text-align:center; padding:40px 0; }
  #footer_logo { position:relative; left:auto; height:auto; display:block; }
  #footer_logo .mobile_logo_image { margin:0 auto; }
  #footer_logo .desc { margin:30px 0 0 0; }
}


/* SNSボタン */
#footer_social_link { right:20px; }
@media screen and (max-width:950px) {
  #footer_social_link { position:relative; right:auto; top:auto; margin-top:30px; }
}


/* コピーライト */
@media screen and (max-width:950px) {
  #copyright { line-height:50px; height:50px; }
}


/* フッターボタン */
#footer_button { display:none; }
@media screen and (max-width:950px) {
  #footer_button {
    width:100%; position:fixed; bottom:0; left:0px; z-index:100;
    display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
    -ms-flex-wrap:wrap; -webkit-flex-wrap:wrap; flex-wrap:wrap;
   -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0);
   -webkit-transition: -webkit-transform 0.35s; transition: all 0.35s;
  }
  #footer_button.active { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
  #footer_button .button { width:auto; -ms-flex: 1 1 0%; -webkit-flex: 1 1 0%; flex: 1 1 0%; }
  #footer_button .button a { padding:0 15px; display:block; min-width:inherit; height:50px; line-height:50px; font-size:12px; text-align:center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
}


/* フッターバー */
#dp-footer-bar {
  position:fixed; right:0px; bottom:0px; z-index:999; width:100%;
}
.open_menu #dp-footer-bar { display:none; }
.dp-footer-bar-type1 #dp-footer-bar {
  opacity:0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.dp-footer-bar-type1 #dp-footer-bar.active {
  opacity:1;
}
.dp-footer-bar-type2 #dp-footer-bar {
  -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0);
  -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s;
}
.dp-footer-bar-type2 #dp-footer-bar.active {
  -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
}


/* 固定フッターが有効時、モバイルデバイス調整用 */
body.show_footer_bar { padding-bottom:0px; }
body.show_footer_bar #return_top.active { -webkit-transform: translate3d(0,-55px,0); transform: translate3d(0,-55px,0); }
body.home.show_footer_bar #container { padding-bottom:0px; }
@media screen and (max-width:950px) {
  body.show_footer_bar #footer_button.active { -webkit-transform: translate3d(0,-55px,0); transform: translate3d(0,-55px,0); }
}



/* ----------------------------------------------------------------------
 コメント
---------------------------------------------------------------------- */
/* 基本設定 */
#comments { margin-top:60px; }
#comment_headline { margin:0 0 55px 0; }
#comments .design_headline:before { font-size:16px; line-height:50px; }
@media screen and (max-width:650px) {
  #comments { margin:10px 0 0; }
  #comment_headline { margin:0 0 38px 0; }
}

/* コメント・トラックバックのタブ */
#comment_tab li a, #comment_tab li p { padding:15px 15px; }




/* ----------------------------------------------------------------------
 その他
---------------------------------------------------------------------- */
/*  WordPress プリセットスタイル */
@media screen and (max-width:650px) {
  .post_content p { line-height:2.0; }
  .post_content li, .post_content dt, .post_content dd { line-height:2.0; }
  .post_content td, .post_content th { line-height:2.0; }
}


/* パスワード保護 */
.c-pw__box { padding:20px; margin:0 0 20px 0; }
.c-pw__box-label { display:block; margin:0 0 15px 0; text-align:center; }
.c-pw__box-input { width:calc(100% - 160px); margin:0 10px 0 0; -webkit-box-sizing:border-box; box-sizing:border-box; }
.c-pw__btn--submit { width:150px; min-width:inherit; -webkit-box-sizing:border-box; box-sizing:border-box; }
@media screen and (max-width:650px) {
  .c-pw__box { padding:15px; }
  .c-pw__box-input { width:calc(100% - 105px); margin-right:5px; }
  .c-pw__btn--submit { width:100px; }
}


/* Cardlink style - カードリンクのスタイル */
.cardlink { margin:30px 0 35px !important; padding:15px;  }




/* ----------------------------------------------------------------------
 メンバーページ
---------------------------------------------------------------------- */
#article.memberpage .post_content { padding-bottom: 30px; }

@media screen and (max-width:650px) {
  #main_contents.noside { padding-bottom: 0; }
  #main_contents.noside #main_col { padding: 0 20px; }
  #article.memberpage { margin-top: -20px; }
  #bread_crumb ~ #main_contents #article.memberpage { border-top:1px solid #ddd; }
}

/* フォームエラー */
@media screen and (max-width:950px) {
  div.form-message, div.form-error { margin-bottom: 30px; }
}




/* ----------------------------------------------------------------------
 ログイン・会員登録関連
---------------------------------------------------------------------- */
@media screen and (max-width:950px) {

  .modal_wrap { width:312px; font-size:12px; }
  .form_wrap .headline { font-size:20px; margin:0 0 20px 0; }
  .form_wrap .input_field { height:42px; padding:0 10px; margin:0 0 20px 0; }
  .form_wrap .submit input { width:200px; height:50px; font-size:14px; margin:0 0 20px 0; }
  .form_wrap .close_modal_button { display:block; }
  
  /* ログインフォーム */
  .login_form_wrap .login_form_area { padding:30px 20px; }
  .login_form_wrap .register_button_area { padding:30px 20px; }
  .login_form_wrap .register_button_area p { margin:0 0 20px 0; }
  .login_form_wrap #create_account { width:200px; height:50px; line-height:50px; font-size:14px; }
  
  /* パスワードフォーム */
  .password_form_wrap .password_form_area { padding:30px 20px; text-align:center; }
  .password_form_wrap p { margin:0 0 20px 0; }

  /* 会員登録 */
  .register_form_wrap .register_form_header { height:110px; }
  .register_form_wrap .register_form_header h2 { font-size:20px !important; height:110px; line-height:110px; }
  .register_form_wrap .register_form_area { padding:30px 20px 30px; }
  .register_form_wrap .catch { font-size:14px; line-height:1.5; margin:0 0 20px; }
  .register_form_wrap .receive_email { margin:0 0 20px 0; }
  .register_form_wrap .receive_email input { position:relative; top:2px; }
  .register_form_wrap .privacy_policy { font-size:12px; margin:-5px 0 15px; }
  .register_form_wrap .privacy_policy a { color:#ff8000; }
  .register_form_wrap .submit input { margin-bottom:0; }

}

@media screen and (max-height:650px) {

  .form_wrap .headline { font-size:16px !important; margin:0 0 20px 0; }
  .form_wrap .input_field { height:30px; padding:0 5px; margin:0 0 15px 0; }
  .form_wrap .submit input { width:200px; height:40px; }
  
  /* ログインフォーム */
  .login_form_wrap .login_form_area { padding:20px 20px; }
  .login_form_wrap .register_button_area { padding:20px 20px; }
  .login_form_wrap .register_button_area p { font-size:12px; }
  .login_form_wrap #create_account { height:40px; line-height:40px; }

  /* パスワードフォーム */
  .password_form_wrap .password_form_area { padding:20px 20px; }

  /* 会員登録 */
  .register_form_wrap .register_form_header { height:80px; }
  .register_form_wrap .register_form_header h2 { height:80px; line-height:80px; }
  .register_form_wrap .register_form_area { padding:20px 20px 20px; }
  .register_form_wrap .privacy_policy { margin:0 0 15px; }

}

@media screen and (max-height:550px) {
  #register_form_wrap .catch { display:none; }
}




/* ----------------------------------------------------------------------
 マイページ
---------------------------------------------------------------------- */
/* ヘッダー */
#my_account_header { margin:0 0 40px 0; }
#my_account_header .user_info { left:30px; }
#my_account_header .logout { right:30px; }
@media screen and (max-width:750px) {
  #my_account_header { width:auto; margin:0 0 20px 0; height:auto; padding:40px 20px; }
  #my_account_header .user_info { width:auto; position:relative; left:0px; top:0%; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%); }
  #my_account_header .avatar img { width:100px; height:100px; display:block; float:none; margin:0 auto 20px; }
  #my_account_header .name { line-height:1; text-align:center; margin:0 0 20px 0; }
  #my_account_header .logout {
    height:50px; line-height:50px; display:table; margin:0 auto;
    position:relative; right:0px; top:0%; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%);
  }
  #my_account_content { margin:0 -20px; }
  #my_account_content_tab li { font-size:12px; height:50px; line-height:1.4; }
  #my_account_content_tab li a {
    padding:0 10px; height:50px;
    display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
    -ms-flex-wrap:wrap; -webkit-flex-wrap:wrap; flex-wrap:wrap;
    -ms-justify-content:center; -webkit-justify-content:center; justify-content:center;
    -ms-align-items:center; -webkit-align-items:center; align-items:center;
  }
}
@media screen and (max-width:450px) {
  #my_account_content_tab li { font-size:10px; }
}


/* 会員様へのお知らせ */
#my_account_news { padding:30px; }
#my_account_news .banner_area { margin:0 0 30px 0; }
@media screen and (max-width:1150px) {
  #my_account_news .banner_area { display:block; }
  #my_account_news .banner { margin:0 auto 15px; float:none; }
  #my_account_news .banner img { margin:0 auto; }
}
@media screen and (max-width:950px) {
  #my_account_news .news li { border:1px solid #ddd; margin:0 0 -1px 0; padding:20px 20px 15px; }
  #my_account_news .news .date { font-size:10px; color:#999; margin:0 0 5px 0; }
  #my_account_news .news .title { font-size:14px; line-height:1.6; }
}
@media screen and (max-width:750px) {
  #my_account_news { padding:40px 20px; }
  #my_account_news .banner_area { margin:0 0 40px 0; }
}


/* お気に入り */
#my_account_like { padding:30px; }
@media screen and (max-width:1100px) {
  .recipe_list2 .item { width:calc(50% - 4px); margin:8px 8px 8px 0; }
  .recipe_list2 .item:nth-child(3n) { margin-right:8px; }
  .recipe_list2 .item:nth-child(2n) { margin-right:0px; }
}
@media screen and (max-width:950px) {
  .recipe_list2 .item { width:calc(100% / 3 - 6px); margin:8px 8px 8px 0; }
  .recipe_list2 .item:nth-child(2n) { margin-right:8px; }
  .recipe_list2 .item:nth-child(3n) { margin-right:0; }
}
@media screen and (max-width:750px) {
  #my_account_like { padding:32px 20px 40px; }
  .recipe_list2 .item { width:calc(50% - 4px); margin:8px 8px 8px 0; }
  .recipe_list2 .item:nth-child(3n) { margin-right:8px; }
  .recipe_list2 .item:nth-child(2n) { margin-right:0px; }
}
@media screen and (max-width:450px) {
  .recipe_list2 .image_wrap { height:156px; margin:0 0 15px 0; }
  .recipe_list2 .image { height:156px !important; }
  .recipe_list2 .title { font-size:14px; }
}


/* アカウントの編集 */
#my_account_edit { padding:0 30px; }
#my_account_edit .headline { font-size:16px; padding:0 0 18px 0; margin:0 0 30px 0; }
#my_account_edit dl { font-size:14px; display:block; margin-bottom:40px; max-width:none; }
#my_account_edit dt { width:auto; line-height:1; padding:0; margin:0 0 10px 0; text-align:left; }
#my_account_edit dd { width:auto; padding:0; line-height:1; margin:0; }
#my_account_edit dd .input_field { width:100%; height:42px; padding:0 15px; }
#my_account_edit dd .receive_email { text-align:center; margin:0 0 25px; }
#my_account_edit .image_area { text-align:center; }
#my_account_edit .image { width:120px; height:120px; margin:0 auto 20px; }
#my_account_edit .upload_button { margin:0 auto; }
#my_account_edit .submit input { margin:0 0 0; }
#my_account_edit #delete_account { margin:40px auto 0; }
#my_account_edit .change_password input { margin-bottom:30px; }
@media screen and (max-width:750px) {
  #my_account_edit { padding:0px 20px; }
  #my_account_edit dl { margin-bottom:20px; }
  #my_account_edit dd .receive_email { margin:0 0 20px; }
  #my_account_edit .change_password input { margin-bottom:20px; }
  #my_account_edit #delete_account { margin:20px auto 0; }
}
@media screen and (max-width:450px) {
  #my_account_edit dt { font-size:13px;}
  #my_account_edit { padding:0px 0px; }
}

/* アカウントの削除 */
.edit_account_form_wrap { padding:40px 30px; }
@media screen and (max-width:750px) {
  .edit_account_form_wrap { padding:40px 20px; }
  .edit_account_form_wrap .user_info { margin: 20px 0; }
}




